@mixin title {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #111;
}

@mixin btn_style1 {
    border: 1px solid #111;
    background-color: #fff;
    color: #111;
}

@mixin btn_style2 {
    border: 1px solid #111;
    background-color: #111;
    color: #fff;
}