@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import "common_css.scss";

/* shopping-basket-content */
.shopping-basket-content {
    width: 100%;
    position: relative;
    padding-top: 65px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }

    .shopping-basket {
        //width: 1515px;
        width: 79.6%;
        margin: 0 auto;
        margin-bottom: 80px;
        
        .sec-tit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 64px;

            h2 {
                @include title;
            }

            .breadcrumb {
                display: flex;

                li {

                    &~li {
                        margin-left: 28px;
                        position: relative;
                    }

                    &~li::before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        background: url(../../images/pc/paging1.svg) no-repeat center;
                        position: absolute;
                        left: -26px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:first-child a {
                        color: #111;
                    }

                    a {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        color: #999;
                    }
                }
            }
        }

        .basket-contents {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .basket-contents-wrap {
                /* width: 1055px; */
                width: 69.65%;

                .shopping-list {
                    width: 100%;

                    .item-delete {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 16px;

                        .all-select {
                            display: flex;
                            align-items: center;

                            input[id="select-all"] {
                                display: block;
                                width: 20px;
                                height: 20px;
                                border: 1px solid #ccc;
                                box-sizing: border-box;
                                cursor: pointer;

                                &:checked {
                                    border: 1px solid #111;
                                    background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
                                }
                            }
        
                            label {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 18px;
                                color: #666;
                                margin-left: 8px;
                            }
                        }

                        .button-wrap {
                            button {
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 16px;
                                color: #666;
                                padding: 8px 12px;
                                border: 1px solid #666;
                                cursor: pointer;

                                &:nth-of-type(3) {
                                    padding-left: 40px;
                                    background: url(../../images/pc/reset.svg) no-repeat 12px center;
                                }

                                &~button {
                                    margin-left: 4px;
                                }
                            }
                        }  
                    }

                    .bylynn1-list {
                        border-top: 1px solid #333;
                        margin-bottom: 80px;

                        .bylynn1-top {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 22px 0; 

                            .bylynn1-all-check {
                                display: flex;
                                align-items: center;

                                input {
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #ccc;

                                    &:checked {
                                        border: 1px solid #111;
                                        background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
                                    }
                                }

                                label {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    color: #111;
                                    margin-left: 8px;
                                }
                            }

                            a {
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 13px;
                                color: #999;
                                text-decoration: underline;
                            }
                        }

                        .bylynn1-list-wrap {
                            .bylynn1-list-box {
                                border-top: 1px solid #ccc;

                                .bylynn1-item {
                                    border-bottom: 1px solid #eee;
                                    display: flex;
                                    padding: 24px 0;
                                    position: relative;

                                    input[type="checkbox"] {
                                        width: 20px;
                                        height: 20px;
                                        border: 1px solid #ccc;
                                        box-sizing: border-box;

                                        &:checked {
                                            border: 1px solid #111;
                                            background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
                                        }
                                    }

                                    label {
                                        display: none;
                                    }

                                    .item-box {
                                        width: calc(100% - 33.2% - 84px);
                                        display: flex;

                                        img {
                                            margin: 0 2.6%;
                                        }

                                        .item-info {
                                            width: calc(100% - 101px - 5.2%);

                                            span {
                                                font-size: 13px;
                                                font-weight: 400;
                                                line-height: 16px;
                                                color: #999;
                                            }

                                            .name {
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;
                                                color: #111;
                                                margin-top: 8px;
                                            }

                                            .color_size {
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 20px;
                                                color: #666;
                                                margin-top: 12px;

                                                a {
                                                    font-size: 13px;
                                                    font-weight: 500;
                                                    line-height: 13px;
                                                    color: #999;
                                                    text-decoration: underline;
                                                    margin-left: 12px;
                                                }
                                            }

                                            .price {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: center;
                                                font-size: 16px;
                                                font-weight: 600;
                                                line-height: 19px;
                                                color: #111;
                                                margin-top: 20px;

                                                del {
                                                    margin-left: 10px;
                                                    font-size: 13px;
                                                    font-weight: 400;
                                                    line-height: 19px;
                                                    color: #999;
                                                }

                                                img {
                                                    display: block;
                                                    margin-left: 8px;
                                                }
                                            }

                                            > .notify {
                                                margin-top: 12px;
                                                font-size: 13px;
                                                font-weight: 400;
                                                line-height: 13px;
                                                color: #ff2a00;
                                            }
                                        }
                                    }

                                    .item-sum {
                                        width: 33.2%;
                                        display: flex;
                                        align-items: center;

                                        select {
                                            width: 80px;
                                            height: 48px;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 17px;
                                            color: #111;
                                            text-indent: 16px;
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;
                                            background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
                                            outline: 0;
                                            cursor: pointer;

                                            &:disabled {
                                                background: #eee url(../../images/pc/arrow_select_disabled.svg) no-repeat 82% center;
                                                color: #999;
                                                cursor: no-drop;
                                            }
                                        }

                                        .sel-price {
                                            width: 137px;
                                            text-align: center;
                                            margin-left: 14%;

                                            p {
                                                font-size: 16px;
                                                font-weight: 700;
                                                color: #111;
                                            }
                                        }
                                    }

                                    .button-wrap {
                                        position: absolute;
                                        right: 0;
                                        display: flex;
                                        align-items: center;
                                        height: 24px;

                                        button[id="wish"] {
                                            width: 24px;
                                            height: 24px;
                                            background: url(../../images/pc/wish.svg) no-repeat center;
                                            font-size: 0;
                                            cursor: pointer;

                                            &.on {
                                                background: url(../../images/pc/wish_on.svg) no-repeat center;
                                            }
                                        }

                                        .remove {
                                            margin-left: 16px;
                                            cursor: pointer;

                                            img {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                .delivery-fee {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 25px 0 22px;

                                    dt {
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 17px;
                                        color: #666;
                                    }

                                    dd {
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 17px;
                                        color: #111;
                                    }
                                }
                            }
                        }
                    }

                    .bylynn2-list {
                        border-top: 1px solid #333;
                        margin-bottom: 80px;

                        .bylynn2-top {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 22px 0; 

                            .bylynn2-all-check {
                                display: flex;
                                align-items: center;

                                input {
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #ccc;

                                    &:checked {
                                        border: 1px solid #111;
                                        background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
                                    }
                                }

                                label {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    color: #111;
                                    margin-left: 8px;
                                }
                            }

                            a {
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 13px;
                                color: #999;
                                text-decoration: underline;
                            }
                        }

                        .bylynn2-list-wrap {
                            .bylynn2-list-box {
                                position: relative;
                                border-top: 1px solid #ccc;

                                .bylynn2-item {
                                    border-bottom: 1px solid #eee;

                                    .item-wrap {
                                        display: flex;
                                        padding: 24px 0;
                                        position: relative;

                                        input[type="checkbox"] {
                                            width: 20px;
                                            height: 20px;
                                            border: 1px solid #ccc;
                                            box-sizing: border-box;
        
                                            &:checked {
                                                border: 1px solid #111;
                                                background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
                                            }
                                        }
        
                                        label {
                                            display: none;
                                        }

                                        .item-box {
                                            width: calc(100% - 33.2% - 84px);
                                            display: flex;
        
                                            img {
                                                margin: 0 2.6%;
                                            }
        
                                            .item-info {
                                                width: calc(100% - 101px - 5.2%);
        
                                                span {
                                                    font-size: 13px;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    color: #999;
                                                }
        
                                                .name {
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    line-height: 17px;
                                                    color: #111;
                                                    margin-top: 8px;
                                                }
        
                                                .color_size {
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                    color: #666;
                                                    margin-top: 12px;
        
                                                    a {
                                                        font-size: 13px;
                                                        font-weight: 500;
                                                        line-height: 13px;
                                                        color: #999;
                                                        text-decoration: underline;
                                                        margin-left: 12px;
                                                    }
                                                }
        
                                                .price {
                                                    display: flex;
                                                    justify-content: flex-start;
                                                    align-items: center;
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    line-height: 19px;
                                                    color: #111;
                                                    margin-top: 20px;
        
                                                    del {
                                                        margin-left: 10px;
                                                        font-size: 13px;
                                                        font-weight: 400;
                                                        line-height: 19px;
                                                        color: #999;
                                                    }
        
                                                    img {
                                                        display: block;
                                                        margin-left: 8px;
                                                    }
                                                }

                                                .freebie1 {
                                                    margin-top: 24px;
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    color: #111;

                                                    strong {
                                                        font-size: 14px;
                                                        font-weight: 500;
                                                        color: #111;
                                                    }

                                                    .notify {
                                                        font-size: 13px;
                                                        font-weight: 400;
                                                        color: #ff2a00;
                                                        margin-left: 6px;
                                                    }
                                                }

                                                .freebie2 {
                                                    margin-top: 8px;
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    color: #111;

                                                    strong {
                                                        font-size: 14px;
                                                        font-weight: 500;
                                                        color: #111;
                                                    }
                                                    .notify {
                                                        font-size: 13px;
                                                        font-weight: 400;
                                                        color: #ff2a00;
                                                        margin-left: 6px;
                                                    }
                                                }
        
                                                > .notify {
                                                    margin-top: 12px;
                                                    font-size: 13px;
                                                    font-weight: 400;
                                                    line-height: 13px;
                                                    color: #ff2a00;
                                                }
                                            }
                                        }
        
                                        .item-sum {
                                            width: 33.2%;
                                            display: flex;
                                            align-items: center;

                                            select {
                                                width: 80px;
                                                height: 48px;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;
                                                color: #111;
                                                text-indent: 16px;
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
                                                outline: 0;
                                                cursor: pointer;
                                            }
        
                                            .sel-price {
                                                width: 137px;
                                                text-align: center;
                                                margin-left: 14%;
        
                                                p {
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                    color: #111;
                                                }
                                            }
                                        }
        
                                        .button-wrap {
                                            position: absolute;
                                            right: 0;
                                            display: flex;
                                            align-items: center;
                                            height: 24px;
        
                                            button[id="wish"] {
                                                width: 24px;
                                                height: 24px;
                                                background: url(../../images/pc/wish.svg) no-repeat center;
                                                font-size: 0;
                                                cursor: pointer;

                                                &.on {
                                                    background: url(../../images/pc/wish_on.svg) no-repeat center;
                                                }
                                            }
        
                                            .remove {
                                                margin-left: 16px;
                                                cursor: pointer;
        
                                                img {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }

                                    .add-item {
                                        width: calc(100% - 121px - 3.05%);
                                        margin-left: calc(121px + 3.05%);
                                        padding: 16px 0 24px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        border-top: 1px solid #eee;
                                        position: relative;

                                        .item-info {
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #111;

                                            strong {
                                                font-size: 14px;
                                                font-weight: 500;
                                                color: #111;
                                            }

                                            .price {
                                                font-size: 14px;
                                                font-weight: 700;
                                                color: #111;
                                                margin-left: 6px;
                                            }

                                            .notify {
                                                font-size: 13px;
                                                font-weight: 400;
                                                color: #ff2a00;
                                                margin-left: 5px;
                                            }
                                        }

                                        .notify {
                                                font-size: 13px;
                                                font-weight: 400;
                                                color: #ff2a00;
                                                margin-top: 12px;
                                        }

                                        .item-sum {
                                            width: 36.7%;
                                            margin-right: 84px;
                                            display: flex;
                                            align-items: center;
        
                                            select {
                                                width: 80px;
                                                height: 48px;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;
                                                color: #111;
                                                text-indent: 16px;
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
                                                outline: 0;
                                                cursor: pointer;
                                                
                                                &:disabled {
                                                    background: #eee url(../../images/pc/arrow_select_disabled.svg) no-repeat 82% center;
                                                    color: #999;
                                                    cursor: default;
                                                    cursor: no-drop;
                                                }
                                            }
        
                                            .sel-price {
                                                width: 137px;
                                                text-align: center;
                                                margin-left: 14%;
        
                                                p {
                                                    font-size: 16px;
                                                    font-weight: 700;
                                                    color: #111;
                                                }
                                            }
                                        }
        
                                        .button-wrap {
                                            position: absolute;
                                            right: 0;
                                            display: flex;
                                            align-items: center;
                                            height: 24px;
        
                                            button[id="wish"] {
                                                width: 24px;
                                                height: 24px;
                                                background: url(../../images/pc/wish.svg) no-repeat center;
                                                font-size: 0;
                                                cursor: pointer;

                                                &.on {
                                                    background: url(../../images/pc/wish_on.svg) no-repeat center;
                                                }
                                            }
        
                                            .remove {
                                                margin-left: 16px;
                                                cursor: pointer;
        
                                                img {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }

                                .item-info-change {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(17, 17, 17, 0.6);
                                    z-index: 10;

                                    p {
                                        color: #fff;
                                        margin-bottom: 12px;
                                        position: absolute;
                                        left: 50%;
                                        top: 73px;
                                        transform: translateX(-50%);
                                    }

                                    button {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 146px;
                                        height: 32px;
                                        font-size: 13px;
                                        font-weight: 500;
                                        color: #666;
                                        padding: 8px 12px;
                                        background-color: #fff;
                                        position: absolute;
                                        left: 50%;
                                        top: 102px;
                                        transform: translateX(-50%);
                                        cursor: pointer;

                                        img {
                                            display: block;
                                            margin-right: 4px;
                                        }
                                    }
                                }

                                .delivery-fee {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 25px 0 22px;

                                    dt {
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 17px;
                                        color: #666;
                                    }

                                    dd {
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 17px;
                                        color: #111;
                                    }
                                }

                                &:last-child .delivery-fee {
                                    border-bottom: 1px solid #eee;
                                }
                            }
                        }
                    }
                }

                .recent_item {
                    margin-bottom: 80px;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #111;
                        margin-bottom: 24px;
                    }

                    .recent_item-list {
                        display: flex;
                        justify-content: space-between;

                        li {

                            &~li {
                                /* margin-left: 16px; */
                                margin-left: 1.542%;
                            }

                            a {
                                display: block;

                                img {
                                    display: block;
                                    width: 100%;
                                    margin-bottom: 18px;
                                }

                                .recent-item-txtbox {
                                    span {
                                        font-size: 13px;
                                        font-weight: 400;
                                        color: #999;
                                    }

                                    .name {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #111;
                                        margin-top: 8px;
                                    }

                                    .price {
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: #111;
                                        margin-top: 20px;

                                        del {
                                            margin: 0 8px;
                                            font-size: 13px;
                                            font-weight: 400;
                                            color: #999;
                                        }
                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                            color: #111;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            
                .interest_item {
                    margin-bottom: 150px;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #111;
                        margin-bottom: 24px;
                    }

                    .interest_item-list {
                        display: flex;
                        justify-content: space-between;

                        li {

                            &~li {
                                /* margin-left: 16px; */
                                margin-left: 1.542%;
                            }

                            a {
                                display: block;

                                img {
                                    display: block;
                                    width: 100%;
                                    margin-bottom: 18px;
                                }

                                .interest-item-txtbox {
                                    span {
                                        font-size: 13px;
                                        font-weight: 400;
                                        color: #999;
                                    }

                                    .name {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #111;
                                        margin-top: 8px;
                                    }

                                    .price {
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: #111;
                                        margin-top: 20px;

                                        del {
                                            margin: 0 8px;
                                            font-size: 13px;
                                            font-weight: 400;
                                            color: #999;
                                        }
                                        
                                        span {
                                            font-size: 16px;
                                            font-weight: 500;
                                            color: #111;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .total-amount {
                /* width: 410px; */
                width: 27.05%;
                padding: 48px 50px;
                border: 1px solid #eee;
                box-sizing: border-box;

                h3 {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #111;
                    margin-bottom: 32px;
                }

                dl {
                    display: flex;
                    justify-content: space-between;

                    &:nth-of-type(1) {
                        padding-bottom: 20px;
                    }

                    &:nth-of-type(2) {
                        padding-bottom: 20px;
                    }

                    &:nth-of-type(3) {
                        padding-bottom: 24px;
                        border-bottom: 1px solid #333;
                    }

                    &:nth-of-type(4) {
                        margin-top: 16px;
                        margin-bottom: 24px;

                        dt {
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 30px;
                            color: #111;
                        }

                        dd {
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 30px;
                            color: #111;
                        }
                    }

                    dt {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #111;
                    }

                    dd {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #111;
                    }
                }

                ul {
                    padding-left: 12px;
                    box-sizing: border-box;
                    margin-bottom: 32px;

                    li {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 19px;
                        color: #666;
                        list-style-image: url(../../images/pc/li-list-style.svg);

                        &~li {
                            margin-top: 4px;
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 17.5px 0;
                    text-align: center;
                    @include btn_style2;
                    cursor: pointer;
                }
            }
        }
    }
}

.side_btn {
    display: none;

    .totop {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 0;
        background: url(../../images/pc/top.svg) no-repeat center;
        background-color: #111;
        position: fixed;
        right: 50px;
        bottom: 98px;
        z-index: 999;
        cursor: pointer;
    }

    .contact {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.12em;
        color: #fff;
        padding: 11.5px 10px;
        box-sizing: border-box;
        background-color: #111;
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 999;
        cursor: pointer;
    }
}