@import url(common.css);
@import url(header.css);
@import url(footer.css);
/* shopping-basket-content */
.shopping-basket-content {
  width: 100%;
  position: relative;
  padding-top: 65px;
}
.shopping-basket-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.shopping-basket-content .shopping-basket {
  width: 79.6%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.shopping-basket-content .shopping-basket .sec-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.shopping-basket-content .shopping-basket .sec-tit h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #111;
}
.shopping-basket-content .shopping-basket .sec-tit .breadcrumb {
  display: flex;
}
.shopping-basket-content .shopping-basket .sec-tit .breadcrumb li ~ li {
  margin-left: 28px;
  position: relative;
}
.shopping-basket-content .shopping-basket .sec-tit .breadcrumb li ~ li::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../images/pc/paging1.svg) no-repeat center;
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
}
.shopping-basket-content .shopping-basket .sec-tit .breadcrumb li:first-child a {
  color: #111;
}
.shopping-basket-content .shopping-basket .sec-tit .breadcrumb li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap {
  /* width: 1055px; */
  width: 69.65%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list {
  width: 100%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .all-select {
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .all-select input[id=select-all] {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .all-select input[id=select-all]:checked {
  border: 1px solid #111;
  background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .all-select label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #666;
  margin-left: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .button-wrap button {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #666;
  padding: 8px 12px;
  border: 1px solid #666;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .button-wrap button:nth-of-type(3) {
  padding-left: 40px;
  background: url(../../images/pc/reset.svg) no-repeat 12px center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .item-delete .button-wrap button ~ button {
  margin-left: 4px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list {
  border-top: 1px solid #333;
  margin-bottom: 80px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top .bylynn1-all-check {
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top .bylynn1-all-check input {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top .bylynn1-all-check input:checked {
  border: 1px solid #111;
  background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top .bylynn1-all-check label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
  margin-left: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-top a {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #999;
  text-decoration: underline;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box {
  border-top: 1px solid #ccc;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 24px 0;
  position: relative;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item input[type=checkbox]:checked {
  border: 1px solid #111;
  background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item label {
  display: none;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box {
  width: calc(66.8% - 84px);
  display: flex;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box img {
  margin: 0 2.6%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info {
  width: calc(100% - 101px - 5.2%);
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info span {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .name {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #111;
  margin-top: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .color_size {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
  margin-top: 12px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .color_size a {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #999;
  text-decoration: underline;
  margin-left: 12px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #111;
  margin-top: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .price del {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info .price img {
  display: block;
  margin-left: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-box .item-info > .notify {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #ff2a00;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-sum {
  width: 33.2%;
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-sum select {
  width: 80px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #111;
  text-indent: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
  outline: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-sum select:disabled {
  background-color: #eee;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-sum .sel-price {
  width: 137px;
  text-align: center;
  margin-left: 14%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .item-sum .sel-price p {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .button-wrap {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .button-wrap button[id=wish] {
  width: 24px;
  height: 24px;
  background: url(../../images/pc/wish.svg) no-repeat center;
  font-size: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .button-wrap button[id=wish].on {
  background: url(../../images/pc/wish_on.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .button-wrap .remove {
  margin-left: 16px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .bylynn1-item .button-wrap .remove img {
  display: block;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .delivery-fee {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 22px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .delivery-fee dt {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #666;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn1-list .bylynn1-list-wrap .bylynn1-list-box .delivery-fee dd {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list {
  border-top: 1px solid #333;
  margin-bottom: 80px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top .bylynn2-all-check {
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top .bylynn2-all-check input {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top .bylynn2-all-check input:checked {
  border: 1px solid #111;
  background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top .bylynn2-all-check label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
  margin-left: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-top a {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #999;
  text-decoration: underline;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box {
  position: relative;
  border-top: 1px solid #ccc;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item {
  border-bottom: 1px solid #eee;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap {
  display: flex;
  padding: 24px 0;
  position: relative;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap input[type=checkbox]:checked {
  border: 1px solid #111;
  background: #111 url(../../images/pc/checkbox_check.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap label {
  display: none;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box {
  width: calc(66.8% - 84px);
  display: flex;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box img {
  margin: 0 2.6%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info {
  width: calc(100% - 101px - 5.2%);
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info span {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .name {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #111;
  margin-top: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .color_size {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
  margin-top: 12px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .color_size a {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #999;
  text-decoration: underline;
  margin-left: 12px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #111;
  margin-top: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .price del {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .price img {
  display: block;
  margin-left: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie1 {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie1 strong {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie1 .notify {
  font-size: 13px;
  font-weight: 400;
  color: #ff2a00;
  margin-left: 6px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie2 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie2 strong {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info .freebie2 .notify {
  font-size: 13px;
  font-weight: 400;
  color: #ff2a00;
  margin-left: 6px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-box .item-info > .notify {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #ff2a00;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-sum {
  width: 33.2%;
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-sum select {
  width: 80px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #111;
  text-indent: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
  outline: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-sum .sel-price {
  width: 137px;
  text-align: center;
  margin-left: 14%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .item-sum .sel-price p {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .button-wrap {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .button-wrap button[id=wish] {
  width: 24px;
  height: 24px;
  background: url(../../images/pc/wish.svg) no-repeat center;
  font-size: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .button-wrap button[id=wish].on {
  background: url(../../images/pc/wish_on.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .button-wrap .remove {
  margin-left: 16px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .item-wrap .button-wrap .remove img {
  display: block;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item {
  width: calc(100% - 121px - 3.05%);
  margin-left: calc(121px + 3.05%);
  padding: 16px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  position: relative;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-info {
  font-size: 14px;
  font-weight: 400;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-info strong {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-info .price {
  font-size: 14px;
  font-weight: 700;
  color: #111;
  margin-left: 6px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-info .notify {
  font-size: 13px;
  font-weight: 400;
  color: #ff2a00;
  margin-left: 5px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .notify {
  font-size: 13px;
  font-weight: 400;
  color: #ff2a00;
  margin-top: 12px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-sum {
  width: 36.7%;
  margin-right: 84px;
  display: flex;
  align-items: center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-sum select {
  width: 80px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #111;
  text-indent: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/pc/s-arrow_down.svg) no-repeat 82% center;
  outline: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-sum select:disabled {
  background-color: #eee;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-sum .sel-price {
  width: 137px;
  text-align: center;
  margin-left: 14%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .item-sum .sel-price p {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .button-wrap {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .button-wrap button[id=wish] {
  width: 24px;
  height: 24px;
  background: url(../../images/pc/wish.svg) no-repeat center;
  font-size: 0;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .button-wrap button[id=wish].on {
  background: url(../../images/pc/wish_on.svg) no-repeat center;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .button-wrap .remove {
  margin-left: 16px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .bylynn2-item .add-item .button-wrap .remove img {
  display: block;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .item-info-change {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
  z-index: 10;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .item-info-change p {
  color: #fff;
  margin-bottom: 12px;
  position: absolute;
  left: 50%;
  top: 73px;
  transform: translateX(-50%);
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .item-info-change button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: #666;
  padding: 8px 12px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 102px;
  transform: translateX(-50%);
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .item-info-change button img {
  display: block;
  margin-right: 4px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .delivery-fee {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 22px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .delivery-fee dt {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #666;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box .delivery-fee dd {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .shopping-list .bylynn2-list .bylynn2-list-wrap .bylynn2-list-box:last-child .delivery-fee {
  border-bottom: 1px solid #eee;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item {
  margin-bottom: 80px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #111;
  margin-bottom: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list {
  display: flex;
  justify-content: space-between;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li ~ li {
  /* margin-left: 16px; */
  margin-left: 1.542%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a {
  display: block;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a img {
  display: block;
  width: 100%;
  margin-bottom: 18px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a .recent-item-txtbox span {
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a .recent-item-txtbox .name {
  font-size: 14px;
  font-weight: 400;
  color: #111;
  margin-top: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a .recent-item-txtbox .price {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-top: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a .recent-item-txtbox .price del {
  margin: 0 8px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .recent_item .recent_item-list li a .recent-item-txtbox .price span {
  font-size: 16px;
  font-weight: 500;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item {
  margin-bottom: 150px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #111;
  margin-bottom: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list {
  display: flex;
  justify-content: space-between;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li ~ li {
  /* margin-left: 16px; */
  margin-left: 1.542%;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a {
  display: block;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a img {
  display: block;
  width: 100%;
  margin-bottom: 18px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a .interest-item-txtbox span {
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a .interest-item-txtbox .name {
  font-size: 14px;
  font-weight: 400;
  color: #111;
  margin-top: 8px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a .interest-item-txtbox .price {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-top: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a .interest-item-txtbox .price del {
  margin: 0 8px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.shopping-basket-content .shopping-basket .basket-contents .basket-contents-wrap .interest_item .interest_item-list li a .interest-item-txtbox .price span {
  font-size: 16px;
  font-weight: 500;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount {
  /* width: 410px; */
  width: 27.05%;
  padding: 48px 50px;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #111;
  margin-bottom: 32px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl {
  display: flex;
  justify-content: space-between;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(1) {
  padding-bottom: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(2) {
  padding-bottom: 20px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(3) {
  padding-bottom: 24px;
  border-bottom: 1px solid #333;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(4) {
  margin-top: 16px;
  margin-bottom: 24px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(4) dt {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl:nth-of-type(4) dd {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl dt {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount dl dd {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #111;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount ul {
  padding-left: 12px;
  box-sizing: border-box;
  margin-bottom: 32px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #666;
  list-style-image: url(../../images/pc/li-list-style.svg);
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount ul li ~ li {
  margin-top: 4px;
}
.shopping-basket-content .shopping-basket .basket-contents .total-amount button {
  width: 100%;
  padding: 17.5px 0;
  text-align: center;
  border: 1px solid #111;
  background-color: #111;
  color: #fff;
}

.side_btn {
  display: none;
}
.side_btn .totop {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  background: url(../../images/pc/top.svg) no-repeat center;
  background-color: #111;
  position: fixed;
  right: 50px;
  bottom: 98px;
  z-index: 999;
}
.side_btn .contact {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: #fff;
  padding: 11.5px 10px;
  box-sizing: border-box;
  background-color: #111;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
}