@charset "utf-8";
.cart-contents {
    padding-top: 23.3333vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cart-contents .w320 {
    width: 88.8889vw;
    margin: 0 auto;
    border: 0;
}
.cart-contents{}
.cart-contents input[type=checkbox]{
    display: none;
}
.cart-contents input[type=checkbox] + label {
    line-height: 5.5556vw;
    padding-left: 7.7778vw;
    position: relative;
}
.cart-contents input[type=checkbox] + label::before {
    content: "";
    display: block;
    width: 5.5556vw;
    height: 5.5556vw;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}
.cart-contents input[type=checkbox]:checked + label::before {
    background-image: url(../images/ordersheet/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: center;
}




.cart-contents legend {
    font-size: 6.6667vw;
    margin-bottom: 6.6667vw;
}
.cart-contents form {}
.cart-contents form input[type=checkbox]{
    width: 5.5556vw;
    height: 5.5556vw;
}
.cart-contents .delete-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4.4444vw;
    /*outline: 0.2778vw solid red;*/
}

.cart-contents .delete-area label[for=select-all] {
    font-size: 3.8889vw;
    color: #666;
    margin-right: 3.3333vw;
}
.cart-contents .delete-area button {
    background-color: #fff;
    border: 0.2778vw solid #666;
    height: 8.8889vw;
    line-height: 8.8889vw;
    font-size: 3.6111vw;
}
.cart-contents .delete-area .select-delete {
    width: 19.1667vw;
}
.cart-contents .delete-area .unable-delete {
    width: 26.3889vw;
}
.cart-contents .delete-area .refresh {
    width: 11.1111vw;
    font-size: 0;
    background-image: url(../images/cart/reset.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.6667vw;
}
.cart-contents .cart-pdt {}
.cart-contents .cart-pdt .group{
    margin-bottom: 16.6667vw;
}
.cart-pdt .group-title {
    padding: 6.1111vw 0;
    border-bottom: 0.2778vw solid #ccc;
    border-top: 0.2778vw solid #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-title div {
    display: flex;
}
.group-title div label {
    font-size: 4.4444vw;
}
.group-title a {
    font-size: 3.6111vw;
    color: #999;
    text-decoration: underline;
    line-height: 5.5556vw;
}
.box {
    padding-top: 6.6667vw;
}
.box .box-check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.4444vw;
}
.box .box-check input{}
.box .box-check ul{
    display: flex;
}
.box .box-check ul li {
    width: 6.6667vw;
    height: 6.6667vw;
    font-size: 0;
}
.box .box-check ul .pdt-wish {
    background-image: url(../images/cart/wish.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
        
}
.box .box-check ul .pdt-delete {
    background-image: url(../images/cart/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 4.4444vw;
}
.box .pdt-info {
    /*padding-bottom: 6.6667vw;*/
    /*border-bottom: 0.2778vw solid #eee;*/
}
.box .pdt-info .container {
    display: flex;
    margin-bottom: 6.6667vw;
}
.box .pdt-info .pdt-info-img{
    width: 20.5556vw;
    margin-right: 4.4444vw;
    position: relative;
}
.box .pdt-info .pdt-info-img img{
    display: block;
    width: 100%;
}
.box .pdt-info .pdt-info-img .soldOut-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}
.box .pdt-info .pdt-info-img .soldOut-bg span {
    font-size: 3.8889vw;
    color: #666;
}
.box .pdt-info .pdt-info-detail{
}
.box .pdt-info .pdt-info-detail .pdt-brand{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.box .pdt-info .pdt-info-detail h4 {
    font-size: 3.6111vw;
    font-weight: 400;
    margin-bottom: 3.3333vw;
}
.box .pdt-info .pdt-info-detail .pdt-option{
    display: flex;
    margin-bottom: 3.6111vw;
}
.box .pdt-info .pdt-info-detail .pdt-option li{
    font-size: 3.6111vw;
    color: #666;
}
.box .pdt-info .pdt-info-detail .pdt-option li a{
    font-size: 3.6111vw;
    margin-left: 3.3333vw;
    color: #999; 
    text-decoration: underline;
}
.box .pdt-info .pdt-info-detail .pdt-price {
    display: flex;
    align-items: center;
}
.box .pdt-info .pdt-info-detail .pdt-price li:first-of-type{
    font-size: 3.8889vw;
    font-weight: 700;
    margin-right: 3.3333vw;
}
.box .pdt-info .pdt-info-detail .pdt-price li:nth-of-type(2){
    font-size: 3.3333vw;
    color: #999;
    text-decoration: line-through;
    margin-right: 2.2222vw;
}
.box .pdt-info .pdt-info-detail .pdt-price li img{
    display: block;
    width: 5.5556vw;
}
.box .pdt-info .soldOut-text {
    display: none;
    margin-bottom: 6.6667vw;
}
.box .pdt-info .soldOut-text p {
    font-size: 3.6111vw;
    color: #D9320B;
}
.box .pdt-info .pdt-info-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 6.6667vw;
}
.box .pdt-info .pdt-info-total:last-of-type{
    margin-bottom: 0;
}
.box .pdt-info .pdt-info-total li{
    font-size: 4.4444vw;
    font-weight: 700;
}
.box .pdt-info .pdt-info-total li select{
    width: 20.5556vw;
    height: 13.3333vw;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-image: url(../images/cart/down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 4.4444vw center;
    padding: 0 4.4444vw;
    box-sizing: border-box;
    border: 0.2778vw solid #ccc;
    font-size: 3.8889vw;
}
.box .pdt-info .pdt-info-total li select:disabled{
    background-color: #eee;
    background-image: url(../images/cart/down-gray.svg);
}
.box .pdt-info .pdt-info-total li select option {
    font-size: 3.8889vw;
}
.box .pdt-benefits {
    padding: 6.6667vw 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2778vw solid #ccc;
}
.box .pdt-benefits p:first-of-type {
    font-size: 3.6111vw;
}
.box .pdt-benefits p:nth-of-type(2) {
    font-size: 3.6111vw;
    font-weight: 500;
}


/******** 품절 ***********/
.soldOut .pdt-info .pdt-info-img .soldOut-bg {
    display: flex;
}
.soldOut .pdt-info .soldOut-text {
    display: block;
}

.soldOut .pdt-info .pdt-info-detail .pdt-option {
    display: none;
}
.soldOut .pdt-info .pdt-info-total li:last-of-type {
    display: none;
}
.soldOut .pdt-benefits {
    display: none;
}
.soldOut .box-check ul .pdt-wish {
    background-image: url(../images/cart/wish.svg);
}
.addProduct .gifts-text {
   display: flex;
    margin-bottom: 6.6667vw;
}
.addProduct .gifts-text dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.addProduct .gifts-text dd{
    font-size: 3.6111vw;
    font-weight: normal;
    margin-left: 2.2222vw;
}
.addProduct .gifts-text dd span{
    font-size: 3.3333vw;
    color: #D9320B;
    margin-left: 2.2222vw;
}
.addProduct .add-text {
   display: flex;
    margin-bottom: 6.6667vw;
    position: relative;
}
.addProduct .add-text em{
    font-size: 3.6111vw;
    font-weight: 500;
    font-style: normal;
}
.addProduct .add-text p{
    font-size: 3.6111vw;
    font-weight: normal;
    margin-left: 2.2222vw;
}
.addProduct .add-text p span{
    font-size: 3.8889vw;
    color: #000;
    font-weight: 700;
    margin-left: 2.2222vw;
    
}
.addProduct .add-text .delete-add {
    width: 3.8889vw;
    height: 3.8889vw;
    background-color: #fff;
    font-size: 0;
    background-image: url(../images/cart/close-s.svg);
    background-size: 3.8889vw;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.priceHide .pdt-info .pdt-info-detail .pdt-price{
    display: none;
}
/*.priceHide .pdt-benefits {
    border-bottom: 0;
}*/

.infoChange {
    /*outline: 0.2778vw solid red;*/
    padding-bottom: 6.6667vw;
    position: relative;
}
.infoChange .pdt-info .container {
    margin-bottom: 0;
}
.infoChange .blind {
    width: 100vw;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.6);
    position: absolute;
    left: -5.5556vw;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.infoChange .blind p {
    color: #fff;
    font-size: 3.8889vw;
    font-weight: 500;
    margin-bottom: 3.3333vw;
}
.infoChange .blind a {
    width: 40.5556vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    text-align: center;
    background-color: #fff;
    font-size: 3.6111vw;
    padding-left: 11.1111vw;
    padding-right: 3.3333vw;
    box-sizing: border-box;
    background-image: url(../images/cart/reset.svg);
    background-repeat: no-repeat;
    background-position: 3.6111vw center;
    background-size: 6.6667vw;
    color: #333;
}
.boxAll .pdt-info .container + .select-wrap {
    padding-top: 0;
}
.boxAll .pdt-info .select-wrap {
    padding-top: 6.6667vw;
}
.boxAll .pdt-info .pdt-info-total {
    padding-bottom: 6.6667vw;
}

.boxAll dl[class*=text]{
   display: flex;
}

.boxAll .gifts-text-wrap{
    margin-bottom: 4.4444vw;
}
.boxAll .gifts-text {
    margin-bottom: 2.2222vw;
}

.boxAll .gifts-text dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.boxAll .gifts-text dd{
    font-size: 3.6111vw;
    font-weight: normal;
    margin-left: 2.2222vw;
}
.boxAll .gifts-text dd span{
    font-size: 3.3333vw;
    color: #D9320B;
    margin-left: 2.2222vw;
}
.boxAll .add-text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2.2222vw;
    align-items: center;
}
.boxAll .add-text em{
    font-size: 3.6111vw;
    font-weight: 500;
    font-style: normal;
   
}
.boxAll .add-text p{
    font-size: 3.6111vw;
    font-weight: normal;
    margin-left: 2.2222vw;
}
.boxAll .add-text p span{
    font-size: 3.8889vw;
    color: #000;
    font-weight: 700;
    margin-left: 2.2222vw;
}
.boxAll .add-text .delete-add {
    width: 3.8889vw;
    height: 3.8889vw;
    background-color: #fff;
    font-size: 0;
    background-image: url(../images/cart/close-s.svg);
    background-size: 3.8889vw;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.boxAll .add-text .em-red {
    margin-left: 2.2222vw;
    margin-bottom: 0;
}
.boxAll .em-red {
    color:  #D9320B;
    font-size: 3.3333vw;
    margin-bottom: 6.6667vw;
}


.minimum .minimum-text p{
    font-size: 3.3333vw;
    color: #D9320B;
    margin-bottom: 6.6667vw;    
}
.cart-total {
    padding-bottom: 16.6667vw;
}
.cart-total h3{
    font-size: 5.0000vw;
    font-weight: 500;
    margin-bottom: 6.6667vw;
}
.cart-total .total-detail{
    padding-bottom: 1.6667vw;
    border-bottom: 0.2778vw solid #333;
    margin-bottom: 6.1111vw;
}
.cart-total .total-detail li {
    display: flex;
    justify-content: space-between;
}
.cart-total .total-detail li p{
    font-size: 3.8889vw;
    margin-bottom: 4.4444vw;
}
.cart-total .final-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6667vw;
}
.cart-total .final-price p{
    font-size: 5.0000vw;
    font-weight: 500;
}
.cart-total .final-price em {
    font-size: 6.6667vw;
    font-weight: 700;
    font-style: normal;
} 
.cart-total .cart-total-notice{
    
}
.cart-total .cart-total-notice li{
    line-height: 5.2778vw;
    font-size: 3.6111vw;
    margin-bottom: 1.3889vw;
    color: #666;
}
