@charset "utf-8";
/*section*/
.coupon-state {
    padding: 23.3333vw 0 6.6667vw;
}
.coupon-state ul{
    width: 88.8889vw;
    margin: 0 auto;
    height: 24.4444vw;
    display: flex;
    align-items: center;
    border: 0.2778vw solid #111;
    box-sizing: border-box;
}
.coupon-state ul li{
    width: 50%;
    text-align: center;
}
.coupon-state ul li p{
    font-size: 3.3333vw;
    margin-bottom: 1.6667vw;
}
.coupon-state ul li em{
    font-size: 5.0000vw;
    font-weight: 500;
    font-style: normal;
}
.coupon-state ul .my-coupon {
    position: relative;
}
.coupon-state ul .my-coupon::after{
    content: "";
    display: block;
    width: 0.2778vw;
    height: 11.1111vw;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*form*/
.serial-code-form {
    background-color: #f6f6f6;
    padding: 8.8889vw 5.5556vw;
    margin-bottom: 6.6667vw;
}
.serial-code-form .serial-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serial-code-form .serial-code input[type=text]{
    width: 66.1111vw;
    height: 13.3333vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    padding: 0 3.3333vw;
    font-size: 3.8889vw;
}
.serial-code-form .serial-code input[type=text]::placeholder {
    font-size: 3.8889vw;
    color: #999;
}
.serial-code-form .serial-code input[type=button]{
    width: 20.5556vw;
    height: 13.3333vw;
    background-color: #111;
    color: #fff;
    border: none;
    font-size: 3.8889vw;
}


/*coupon*/
.coupon-tab-wrap {
    width: 88.8889vw;
    margin: 0 auto;
}
.coupon-tab-wrap .coupon-tab{
    display: flex;
    align-items: center;
    margin-bottom: 8.8889vw;
}
.coupon-tab-wrap .coupon-tab li{
    text-align: center;
    width: 50%;
    height: 16.6667vw;
    line-height: 16.6667vw;
    border-bottom: 0.2778vw solid #eee;
    box-sizing: border-box;
    position: relative;
}
.coupon-tab-wrap .coupon-tab li a{
    font-size: 4.4444vw;
    color: #999;
    
}
.coupon-tab-wrap .coupon-tab .active {
}
.coupon-tab-wrap .coupon-tab .active::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.1111vw;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.coupon-tab-wrap .coupon-tab .active a{
    color: #000;
}

.coupon-tab-wrap .coupon-list {
    width: 88.8889vw;
}
.coupon-tab-wrap .coupon-list .coupon-box{
    margin-bottom: 11.1111vw;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon{
    display: flex;
    border-radius: 3.3333vw;
    overflow: hidden;
    margin-bottom: 3.3333vw;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-left{
    width: 68.3333vw;
    height: 40.8333vw;
    padding-top: 6.6667vw;
    box-sizing: border-box;
    padding-left: 6.6667vw;
    border: 0.2778vw solid #dbdbdb;
    border-radius: 3.3333vw 0 0 3.3333vw;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-left .coupon-discount{
    font-weight: 500;
    font-size: 4.4444vw;
    margin-bottom: 3.0556vw;
    
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-left .coupon-discount em{
    font-size: 8.3333vw;
    font-style: normal;
    font-weight: 600;
    
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-left .coupon-discount span{
    font-size: 3.6111vw;
    color: #FF2A00;
    margin-left: 2.2222vw;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-left .coupon-name {
    font-size: 3.8889vw;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-right{
    width: 20.5556vw;
    height: 40.8333vw;
    background-color: #ccc;
}
.coupon-tab-wrap .coupon-list .coupon-box .coupon-right p{
    font-size: 3.8889vw;
    font-weight: 500;
    padding-top: 22.2222vw;
    text-align: center;
    color: #fff;
    background-image: url(../images/coupon/download.svg);
    background-repeat: no-repeat;
    background-size: 6.9444vw;
    background-position: top 13.3333vw center;
    
}
.coupon-box .coupon-des {}
.coupon-box .coupon-des ul{}
.coupon-box .coupon-des ul li p{
    font-size: 3.6111vw;
    margin-bottom: 1.1111vw;
    color: #666;
    position: relative;
    padding-left: 3.3333vw;
}
.coupon-box .coupon-des ul li::before {
    content: "";
    display: block;
    width: 2.2222vw;
    height: 4.1667vw;
    background-image: url(../images/coupon/list-disc.svg);
    background-repeat: no-repeat;
    background-size: 0.8333vw;
    background-position: left center;
    position: absolute;
}
.coupon-box .coupon-des > p{
    font-size: 3.6111vw;
    margin-top: 3.6111vw;
}
.coupon-tab-wrap .coupon-list .able .coupon-right {
    background-color: #333;
}
.coupon-tab-wrap .btn-more {
    border: 0.2778vw solid #333;
    width: 88.8889vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    text-align: center;
    margin-bottom: 16.6667vw;
}
.coupon-tab-wrap .btn-more a{
    font-size: 3.8889vw;
    font-weight: 500;
    color: #111;
}

























