@charset "utf-8";


/*section*/

/*문의하기*/
.drt-inq-contents {
    width: 88.8889vw;
    margin: 0 auto;
    padding-top: 23.3333vw;
}
.drt-inq-top {}
.drt-inq-top .drt-inq-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6667vw;
}
.drt-inq-top .drt-inq-filter p {
    font-size: 3.8889vw;
}
.drt-inq-top .drt-inq-filter p span{}
.drt-inq-top .drt-inq-filter ul{}
.drt-inq-top .drt-inq-filter ul li{
    font-size: 3.8889vw;
    font-weight: 500;
    padding-right: 4.7222vw;
    background-image: url(../images/direct_inquiry/arrow-triangle.svg);
    background-repeat: no-repeat;
    background-size: 2.5000vw;
    background-position: right top 1.6667vw;
}
.drt-inq-top .drt-inq-btn{
    text-align: center;
}
.drt-inq-top .drt-inq-btn a{
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    background-color: #333;
    color: #fff;
    font-size: 3.8889vw;
    font-weight: 500;
}



/*리스트*/
.drt-inq-list-wrap {
    
}
.drt-inq-list-wrap .drt-inq-list{}
.drt-inq-list-wrap .drt-inq-list li .list-show{
    padding: 5.5556vw 0 6.6667vw;
    display: flex;
    border-bottom: 0.2778vw solid #eee;
    background-image: url(../images/direct_inquiry/arrowdown.svg);
    background-repeat: no-repeat;
    background-size: 6.6667vw;
    background-position: right center;
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-tag{
    width: 13.8889vw;
    margin-right: 9.1667vw;
    padding-top: 1.1111vw;
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-tag p {
    font-size: 3.8889vw;
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-summary{
    padding-top: 1.1111vw;
    /*padding-left: 9.1667vw;*/
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-summary .list-tit{
    font-size: 3.8889vw;
    margin-bottom: 3.3333vw;
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-summary .list-date{
    font-size: 3.8889vw;
    color: #666;
}
.drt-inq-list-wrap .drt-inq-list li .list-show .list-summary .list-date span{
    margin-left: 3.0556vw;
}
.drt-inq-list-wrap .drt-inq-list li .list-hide {
    display: none;
}
/*비공개*/
.drt-inq-list-wrap .drt-inq-list .private .list-summary{
    background-image: url(../images/direct_inquiry/lock.svg);
    background-repeat: no-repeat;
    background-size: 6.6667vw;
    background-position: left top; 
}
.drt-inq-list-wrap .drt-inq-list .private .list-summary .list-tit {
    padding-left: 7.7778vw;
}



.list-hide {}

/**/
/*요약*/
.list-hide .order-summary {
    width: 88.8889vw;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 6.6667vw 4.4444vw;
    box-sizing: border-box;
    border-top: 0.2778vw solid #333;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}
.list-hide .order-summary ul {}
.list-hide .order-summary ul li{
    display: flex;
    align-items: center;
    margin-bottom: 2.2222vw;
}
.list-hide .order-summary ul li strong{
    font-size: 3.6111vw;
    font-weight: 500;
    width: 20.5556vw;
    margin-right: 5.5556vw;
}
.list-hide .order-summary ul li p{
    font-size: 3.6111vw;
    color: #666;
}


/*상품박스*/
.list-hide .registered-pdt {
    margin-bottom: 6.6667vw; 
}
.list-hide .registered-pdt .box-wrap{}
.list-hide .registered-pdt .box {
    width: 88.8889vw;
    margin: 0 auto;
}
.list-hide .registered-pdt .box .pdt-info {}
.list-hide .registered-pdt .box .pdt-info .pdt-basic{
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #eee;
}
.list-hide .registered-pdt .box .pdt-info .pdt-info-basic{
    display: flex;
    margin-bottom: 6.6667vw;
    position: relative; /*버튼*/
}
.list-hide .registered-pdt .box  .pdt-info .pdt-info-basic .pdt-info-img {
    width: 20.5556vw;
    height: 30.8333vw;
}
.list-hide .registered-pdt .box  .pdt-info .pdt-info-basic .pdt-info-img img {
    width: 100%;
}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail {
    margin-left: 4.4444vw;
}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail p{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
    color: #333;
}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail h4{
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    font-weight: 400;
}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail h4 span {
    color: #999;
    text-decoration: underline;
    margin-left: 3.3333vw;
}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail ul{}
.list-hide .registered-pdt .box  .pdt-info-basic .pdt-info-detail ul li{
    font-size: 3.6111vw;
    margin-bottom: 1.1111vw;
    color: #666;
}
.list-hide .registered-pdt .box  .pdt-info-basic .btn-close {
    width: 6.6667vw;
    height: 6.6667vw;
    position: absolute;
    background-image: url(../images/direct_inquiry_register/close.svg);
    background-repeat: no-repeat;
    background-size: 6.6667vw;
    background-position: center;
    right: 0;
    top: 0;
}
.list-hide .registered-pdt .box  .pdt-info-basic .btn-close a{
    width: 100%;
    height: 100%;
    font-size: 0;
}

.list-hide .registered-pdt .box  .pdt-info .gifts-text-wrap {
    margin-bottom: 6.9444vw;
}
.list-hide .registered-pdt .box  .pdt-info .gifts-text-wrap dl {
    display: flex;
    margin-bottom: 2.2222vw;
}
.list-hide .registered-pdt .box  .pdt-info .gifts-text-wrap dl dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.list-hide .registered-pdt .box  .pdt-info .gifts-text-wrap dl dd{
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
}
.list-hide .registered-pdt .box  .pdt-info .gifts-text-wrap dl dd span {
    font-size: 3.3333vw;
    color: #FF2A00;
    margin-left: 2.2222vw;
}
.list-hide .registered-pdt .box  .pdt-info .each-pdt-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6.9444vw;
    /*border-bottom: 0.2778vw solid #eee;*/
}
.list-hide .registered-pdt .box  .pdt-info .each-pdt-price p {
    font-size: 3.6111vw;
}
.list-hide .registered-pdt .box  .pdt-info .each-pdt-price strong {
    font-size: 4.4444vw;
    font-weight: 700;
}
.list-hide .registered-pdt .box  .pdt-info .pdt-status-wrap {
     padding-bottom: 3.8889vw;   
}
.list-hide .registered-pdt .box  .pdt-info .pdt-status-wrap ul{
    display: flex;
    justify-content: space-between;
}
.list-hide .registered-pdt .box .pdt-info .pdt-status-wrap ul .pdt-status{}
.list-hide .registered-pdt .box .pdt-info .pdt-status-wrap ul .pdt-status p {
    padding-top: 2.2222vw;
    font-size: 3.8889vw;
    font-weight: 500;
}
.list-hide .registered-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 63.8889vw;
    
}
.list-hide .registered-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn button{
    width: 30.8333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    font-size: 3.6111vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.list-hide .registered-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn .active {
    background-color: #111;
    color: #fff;
}
.list-hide .registered-pdt .box  .pdt-info .add-text {
    display: flex;
    align-items: center;
    margin-bottom: 10.5556vw;
}
.list-hide .registered-pdt .box  .pdt-info .add-text em {
    font-style: normal;
    font-size: 3.6111vw;
    font-weight: 500;
}
.list-hide .registered-pdt .box  .pdt-info .add-text p {
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
    
}
.list-hide .registered-pdt .box  .pdt-add {
    padding-top: 6.6667vw;
    /*padding: 6.6667vw 0 4.4444vw;*/
    margin-bottom: 6.6667vw;
}
.list-hide .registered-pdt .box  .pdt-add .pdt-status-wrap {
    padding-bottom: 8.3333vw;
    border-bottom: 0.2778vw solid #ccc;
}
.list-hide .registered-pdt .box  .delivery-price {
    border-bottom: 0.2778vw solid #ccc;
}
.list-hide .registered-pdt .box  .delivery-price p{
    padding: 6.6667vw 0;
    font-size: 3.6111vw;
    position: relative;
    background-image: url(../images/detail_order-delivery/circle-down.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: right center;
}
.list-hide .registered-pdt .box  .delivery-price p span{
    position: absolute;
    right: 7.7778vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
}
.list-hide .customer-question {
    margin-bottom: 6.6667vw;
}
.list-hide .customer-question p{
    font-size: 3.8889vw;
    margin-bottom: 4.4444vw;
}
.list-hide .customer-question .cus-que-img{
    width: 100%;
}
.list-hide .customer-question .cus-que-img img{
    display: block;
    width: 100%;
}
.list-hide .btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6.6667vw;
}
.list-hide .btn input[type=button]{
    border: 0.2778vw solid #666;
    background-color: #fff;
    width: 13.0556vw;
    height: 8.8889vw;
    font-size: 3.6111vw;
    font-weight: 500;
    margin-left: 1.1111vw;
}
.list-hide .seller-answer {
    padding: 6.6667vw 5.5556vw;
    background-color: #f7f7f7;
}
.list-hide .seller-answer div{
    display: flex;
    margin-bottom: 5.0000vw;
}
.list-hide .seller-answer div .badge{
    font-size: 3.8889vw;
}
.list-hide .seller-answer div .writer{
    font-size: 3.8889vw;
    color: #666;
    margin-left: 5.5556vw;
}
.list-hide .seller-answer > p{
    padding-left: 5.0000vw;
    background-image: url(../images/direct_inquiry/L.svg);
    background-repeat: no-repeat;
    background-size: 2.7778vw;
    background-position: left top;
    font-size: 3.8889vw;
}
/*empty*/
.drt-inq-list-wrap .drt-inq-list .empty {
    padding: 41.6667vw 0 16.6667vw;
    text-align: center;
    background-image: url(../images/direct_inquiry/empty.svg);
    background-repeat: no-repeat;
    background-position: center top 16.6667vw;
    background-size: 17.7778vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 11.1111vw;
}
.drt-inq-list-wrap .drt-inq-list .empty p{
    font-size: 3.8889vw;
}


/*더보기*/
.drt-inq-contents .btn-more{
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    text-align: center;
    border: 0.2778vw solid #333;
    box-sizing: border-box;
   
    font-weight: 500;
    margin-bottom: 16.6667vw;
}
.drt-inq-contents .btn-more a {
    color: #111;
     font-size: 3.8889vw; 
}



