@charset "utf-8";
/*section*/

/*폼*/
.direct-inquiry-register-contents{
    padding-top: 23.3333vw;
}
#directRegister {}


/*상품선택*/
.direct-filter {
    width: 88.8889vw;
    margin: 0 auto;
}
.direct-filter .direct-sel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.3333vw;
}

.direct-filter .direct-sel select{
    width: 43.3333vw;
    height: 13.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 4.4444vw;
    font-size: 3.8889vw;
    background-image: url(../images/direct_inquiry_register/arrow.svg);
    background-size: 3.8889vw;
    background-repeat: no-repeat;
    background-position: right 4.4444vw center;
    color: #999;
}
.direct-filter .direct-sel select option{}
.direct-filter input[type=button] {
    width: 100%;
    height: 13.3333vw;
    background-color: #fff;
    border: 0.2778vw solid #333;
    font-size: 3.8889vw;
    font-weight: 500;
    margin-bottom: 6.6667vw;
}


/*요약*/
.order-summary {
    width: 88.8889vw;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 6.6667vw 4.4444vw;
    box-sizing: border-box;
    border-top: 0.2778vw solid #333;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}
.order-summary ul {}
.order-summary ul li{
    display: flex;
    align-items: center;
    margin-bottom: 2.2222vw;
}
.order-summary ul li strong{
    font-size: 3.6111vw;
    font-weight: 500;
    width: 20.5556vw;
    margin-right: 5.5556vw;
}
.order-summary ul li p{
    font-size: 3.6111vw;
    color: #666;
}


/*상품박스*/
.register-pdt {
    margin-bottom: 6.6667vw; 
}
.register-pdt .box-wrap{}
.register-pdt .box {
    width: 88.8889vw;
    margin: 0 auto;
}
.register-pdt .box .pdt-info {}
.register-pdt .box .pdt-info .pdt-basic{
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #eee;
}
.register-pdt .box .pdt-info .pdt-info-basic{
    display: flex;
    margin-bottom: 6.6667vw;
    position: relative; /*버튼*/
}
.register-pdt .box  .pdt-info .pdt-info-basic .pdt-info-img {
    width: 20.5556vw;
    height: 30.8333vw;
}
.register-pdt .box  .pdt-info .pdt-info-basic .pdt-info-img img {
    width: 100%;
}
.register-pdt .box  .pdt-info-basic .pdt-info-detail {
    margin-left: 4.4444vw;
}
.register-pdt .box  .pdt-info-basic .pdt-info-detail p{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
    color: #333;
}
.register-pdt .box  .pdt-info-basic .pdt-info-detail h4{
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    font-weight: 400;
}
.register-pdt .box  .pdt-info-basic .pdt-info-detail h4 span {
    color: #999;
    text-decoration: underline;
    margin-left: 3.3333vw;
}
.register-pdt .box  .pdt-info-basic .pdt-info-detail ul{}
.register-pdt .box  .pdt-info-basic .pdt-info-detail ul li{
    font-size: 3.6111vw;
    margin-bottom: 1.1111vw;
    color: #666;
}
.register-pdt .box  .pdt-info-basic .btn-close {
    width: 6.6667vw;
    height: 6.6667vw;
    position: absolute;
    background-image: url(../images/direct_inquiry_register/close.svg);
    background-repeat: no-repeat;
    background-size: 6.6667vw;
    background-position: center;
    right: 0;
    top: 0;
}
.register-pdt .box  .pdt-info-basic .btn-close a{
    width: 100%;
    height: 100%;
    font-size: 0;
}

.register-pdt .box  .pdt-info .gifts-text-wrap {
    margin-bottom: 6.9444vw;
}
.register-pdt .box  .pdt-info .gifts-text-wrap dl {
    display: flex;
    margin-bottom: 2.2222vw;
}
.register-pdt .box  .pdt-info .gifts-text-wrap dl dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.register-pdt .box  .pdt-info .gifts-text-wrap dl dd{
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
}
.register-pdt .box  .pdt-info .gifts-text-wrap dl dd span {
    font-size: 3.3333vw;
    color: #FF2A00;
    margin-left: 2.2222vw;
}
.register-pdt .box  .pdt-info .each-pdt-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6.9444vw;
    /*border-bottom: 0.2778vw solid #eee;*/
}
.register-pdt .box  .pdt-info .each-pdt-price p {
    font-size: 3.6111vw;
}
.register-pdt .box  .pdt-info .each-pdt-price strong {
    font-size: 4.4444vw;
    font-weight: 700;
}
.register-pdt .box  .pdt-info .pdt-status-wrap {
     padding-bottom: 3.8889vw;   
}
.register-pdt .box  .pdt-info .pdt-status-wrap ul{
    display: flex;
    justify-content: space-between;
}
.register-pdt .box .pdt-info .pdt-status-wrap ul .pdt-status{}
.register-pdt .box .pdt-info .pdt-status-wrap ul .pdt-status p {
    padding-top: 2.2222vw;
    font-size: 3.8889vw;
    font-weight: 500;
}
.register-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 63.8889vw;
    
}
.register-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn button{
    width: 30.8333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    font-size: 3.6111vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.register-pdt .box  .pdt-info .pdt-status-wrap ul .pdt-status-btn .active {
    background-color: #111;
    color: #fff;
}
.register-pdt .box  .pdt-info .add-text {
    display: flex;
    align-items: center;
    margin-bottom: 10.5556vw;
}
.register-pdt .box  .pdt-info .add-text em {
    font-style: normal;
    font-size: 3.6111vw;
    font-weight: 500;
}
.register-pdt .box  .pdt-info .add-text p {
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
    
}
.register-pdt .box  .pdt-add {
    padding-top: 6.6667vw;
    /*padding: 6.6667vw 0 4.4444vw;*/
    margin-bottom: 6.6667vw;
}
.register-pdt .box  .pdt-add .pdt-status-wrap {
    padding-bottom: 8.3333vw;
    border-bottom: 0.2778vw solid #ccc;
}
.register-pdt .box  .delivery-price {
    border-bottom: 0.2778vw solid #ccc;
}
.register-pdt .box  .delivery-price p{
    padding: 6.6667vw 0;
    font-size: 3.6111vw;
    position: relative;
    background-image: url(../images/detail_order-delivery/circle-down.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: right center;
}
.register-pdt .box  .delivery-price p span{
    position: absolute;
    right: 7.7778vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
}


/*문의내용*/
.pdt-inquiry {
    width: 88.8889vw;
    margin: 0 auto;
    padding-bottom: 7.2222vw;
    border-bottom: 0.2778vw solid #eee;
}
.pdt-inquiry .direct-textarea {
    margin-bottom: 6.6667vw;
}
.pdt-inquiry .direct-textarea textarea{
    width: 100%;
    height: 44.4444vw;
    resize: none;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    margin-bottom: 3.3333vw;
    padding: 4.4444vw 6.6667vw 4.4444vw 3.3333vw;
}
.pdt-inquiry .direct-textarea textarea::placeholder {
    line-height: 5.5556vw;
    color: #999;
    font-size: 3.8889vw;
}
.pdt-inquiry .direct-textarea p{
    font-size: 3.8889vw;
}
.pdt-inquiry .add-photo {
    
    
}
.pdt-inquiry .add-photo .box-wrap {
    display: flex;
    margin-bottom: 3.3333vw;
}
.pdt-inquiry .add-photo .box-wrap .box{
    width: 26.1111vw;
    height: 26.1111vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    margin-right: 2.2222vw;
    font-size: 0;
    position: relative;
}
.pdt-inquiry .add-photo .box-wrap .box img{
    display: block;
    width: 100%;
}
.pdt-inquiry .add-photo .box-wrap .box a{
    width: 6.6667vw;
    height: 6.6667vw;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/direct_inquiry_register/close_gray.svg);
    background-repeat: no-repeat;
    background-size: 6.6667vw;
    background-position: center;
}
.pdt-inquiry .add-photo .box-wrap .add-box {
    cursor: pointer;
    background-image: url(../images/direct_inquiry_register/plus.svg);
    background-repeat: no-repeat;
    background-size: 4.4444vw;
    background-position: center;
}
.pdt-inquiry .add-photo-des {}
.pdt-inquiry .add-photo-des ul{}
.pdt-inquiry .add-photo-des ul li{
    font-size: 3.6111vw;
    margin-bottom: 1.3889vw;
    color: #666;
}
.pdt-inquiry .add-photo-des ul li:last-child {
    margin-bottom: 0;
}
.pdt-inquiry .add-photo-des ul li span {
    margin-right: 1.1111vw;
}



/*답변알림*/
.answer-noti {
    width: 88.8889vw;
    margin: 0 auto 11.1111vw;
    padding: 6.6667vw 0;
    border-bottom: 0.2778vw solid #eee;
}
.answer-noti h2{
    font-size: 4.4444vw;
    font-weight: 400;
    margin-bottom: 6.6667vw;
}
.answer-noti ul{}
.answer-noti ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.3333vw;
}
.answer-noti ul li div {
    display: flex;
    align-items: center;
}
.answer-noti ul li input[type=checkbox]{
    display: none;
}
.answer-noti ul li input[type=checkbox]:checked + label::before{
    background-image: url(../images/direct_inquiry_register/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: center;
}
.answer-noti ul li label{
    padding-left: 7.7778vw;
    position: relative;
    font-size: 3.8889vw;
    line-height: 5.5556vw;
    /*outline: 0.2778vw solid red;*/
}
.answer-noti ul li label::before {
    content: "";
    display: block;
    width: 5.5556vw;
    height: 5.5556vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.answer-noti ul li input[type=text]{
    width: 63.8889vw;
    height: 13.3333vw;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    font-size: 3.8889vw;
    border: 0.2778vw solid #ccc;
}
.answer-noti ul li input[type=text]::placeholder {
    color: #999;
}

/*등록*/
#directSubmit {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    background-color: #111;
    text-align: center;
    color: #fff;
    font-size: 3.8889vw;
    font-weight: 500;
    border: 0;
}







