@charset "utf-8";
header {
    display: none;
}
/* mo/pc common */
.slide-show {position:relative;}
.slide-show-wrap {overflow:hidden;}
.slide-show-button {position:absolute;z-index:1;width:36px;height:36px;box-sizing:border-box;top:50%;transform:translateY(-50%);cursor:pointer;}
.slide-show-button:before {content: '';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:36px;height:36px;}
.slide-show-item-wrap {display:inline-block;vertical-align:top;}
.slide-show-previous {left:-16px;}
.slide-show-previous:before {background: url("../../../resources/images/arr_slide_prev11.png") 50% 50% no-repeat;}
.slide-show-previous.disable:before {opacity:.25;background: url("../../../resources/images/arr_slide_prev11.png") 50% 50% no-repeat;}
.slide-show-next {right:-36px;}
.slide-show-next:before {background:url("../../../resources/images/arr_slide_next11.png") 50% 50% no-repeat;}
.slide-show-next.disable:before {opacity:.25;background: url("../../../resources/images/arr_slide_next11.png") 50% 50% no-repeat;}
.slide-show-dot-wrap {display:block;margin-top:30px;width:100%;text-align: center;}
.slide-show-dot {display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 4px;border:1px solid #111;cursor:pointer;z-index:99;box-sizing:border-box;}
.slide-show-dot.active {background-color: #111;}
.slide-show-track {overflow:hidden;}

.slide-show-button.with-counter {border-radius: 50%;width: 23px;height: 23px;background-color:rgba(0,0,0,0.1);}
.slide-show-button.with-counter:before {width: 10px;height: 10px;background-size: 7px 10px;background-position: 50% 50%;}

.slide-show-dot-wrap.rect-indicator {height:4px;text-align:center;line-height:4px;}
.slide-show-dot-wrap.rect-indicator:after {content:'';display:block;clear:both;}
.slide-show-dot-wrap.rect-indicator .slide-show-dot {position:relative;display:inline-block;height:4px;background-color:rgba(0,0,0,.1);cursor:pointer;box-sizing:border-box;margin:0;border-radius:0;border:0 none;vertical-align:top;}
.slide-show-dot-wrap.rect-indicator .slide-show-dot.active {background-color:rgba(0,0,0,1);}
.slide-show-dot-wrap.rect-indicator .slide-show-dot:before {display:none;}
.pc .slide-show-button:before {
    display: none;
}
.pc .slide-show-dot-wrap.rect-indicator .slide-show-dot {width:100px;}


.slide-show-dot-wrap.rounded-pill {display:block;margin-top:30px;width:100%;text-align: center;}
.slide-show-dot-wrap.rounded-pill .slide-show-dot {display:inline-block;width:6px;height:6px;border-radius:50%;margin:0 4px;background-color:#a8a8a8;border:1px solid #a8a8a8;cursor:pointer;z-index:99;box-sizing:border-box;}
.slide-show-dot-wrap.rounded-pill .slide-show-dot.active {width:12px;border-radius:50rem;background-color:#a8a8a8;}

.slide-counter {margin:40px auto 0;width:75px;height:26px;background-color:rgba(0,0,0,0.1);border-radius:26px;text-align:center;line-height:26px;color:#888;}
.slide-counter .count-current {font-weight:700;color:#111;}
.simple-slide-wrap {margin:0 auto;width:100%;}
.simple-slide-wrap.fluid {width:100%;}
.simple-slide-wrap .simple-slide {position:relative;}
.simple-slide-wrap .simple-slide .item {width: 200px;}
.simple-slide-wrap .simple-slide .item a {position:relative;}
.simple-slide-wrap.fluid .simple-slide .item {width:100vw;}
.simple-slide-wrap.fluid .simple-slide .item a {width:100%;height:100%;display:block;margin:0 auto;}
.simple-slide-wrap .text-container {position:absolute;width:100%;height:100%;top:50%;left:50%;transform:translate(-50%, -50%);}
.simple-slide-wrap .text-wrap {position:absolute;}
.simple-slide-wrap .simple-slide .item .text-container .text-wrap .tit {font-weight:700;font-size:40px;color:#fff;}
.simple-slide-wrap .simple-slide .item .text-container .text-wrap .txt {margin-top:20px;font-size:20px;font-weight:200;color:#fff;}
.simple-slide-wrap .simple-slide .item .img-wrap {width:100%;height:100%;position:relative;overflow:hidden;}
.simple-slide-wrap.fluid .item .img-wrap {width:100vw;}
.simple-slide-wrap .simple-slide .item .img-wrap img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.product-item-slider .item-row .item-wrap {display:inline-block;vertical-align:top;}
.product-item-slider .item-row .item-wrap .item:last-child {margin-right:0 !important;}
.product-item-slider .item-wrap .item {vertical-align:top;display:inline-block;}



/* pc */
/*메인베너*/
.pc .main-banner {margin-bottom: 100px; width: 100%; height: 100vh;}
.pc .main-banner .simple-slide { height: 100vh; position:relative;}
.pc .main-banner .simple-slide .slide-show {position:relative;height: 100vh;}
.pc .main-banner .simple-slide .slide-show .item {height: 100vh;}

.pc .main-banner .simple-slide .slide-show .item a .img-wrap {width: 100%;height: 100vh;background-image: url(../../images/main01.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;
}

.pc .main-banner .simple-slide .slide-show .item .text-container {width: 1600px;text-align: center;}
.pc .main .main-banner .simple-slide .slide-show .item .text-wrap {width:100%;position: absolute; left: 0; top: 50%;transform: translateY(-50%);}
.pc .main-banner .simple-slide .slide-show .item .text-wrap .tit {margin-bottom: 12px; display: block;font-weight:700;line-height: 1; font-size:70px;color:#fff;}
.pc .main-banner .simple-slide .slide-show .item .text-wrap .des {font-size:35px;color:#fff;}

.pc .main-banner .btn {display: none;position: absolute;top: 50%;transform: translateY(-50%);width: 23px;height: 40px; font-size: 0;cursor: pointer;}
.pc .main-banner .main-banner-prev {left: 50px; background: url("../../../resources/images/arr_white_prev.png") no-repeat center;}
.pc .main-banner .main-banner-next {right: 50px; background:url("../../../resources/images/arr_white_next.png") no-repeat center;}
.pc .main-banner:hover .btn{display: block;}

.pc .main .main-banner .simple-slide .slide-show-num-wrap {position: absolute; bottom: 70px; left: 50%;transform: translateX(-50%);width: 57px;height: 22px;line-height: 22px;text-align: center;background-color:rgba(0, 0, 0, 0.3);border-radius:50px;cursor: pointer;}
.pc .main .main-banner .simple-slide .slide-show-num-wrap p {font-size: 11px; color: #fff;}

/*//메인베너*/


/*베스트*/
.pc .main .best {width: 100%;margin-bottom: 100px;}
.pc .main .best > .inner {width:1600px;margin:0 auto;}
.pc .main .best .h-tit{margin-bottom: 30px;}
.pc .main .best .h-tit span{font-size: 33px;font-weight: 700;text-align: center;}
.pc .main .best .tab-menu {text-align: center;margin-bottom: 60px;}
.pc .main .best .tab-menu ul{display: flex;justify-content: center;}
.pc .main .best .tab-menu ul li{margin-right: 36px;}
.pc .main .best .tab-menu ul li:last-child{margin-right: 0;}
.pc .main .best .tab-menu ul li a {font-weight: 500; font-size: 14px; color: rgba(10, 10, 10, 0.5);}
.pc .main .best .tab-menu ul .active a {color: #0a0a0a;}
.pc .main .best .product-item-slider {width: 100%;position: relative;}
.pc .main .best .product-item-slider .slide-show {width: 1600px;margin: 0 auto;overflow: hidden;}
.pc .main .best .product-item-slider .slide-show .item-wrap {display: flex;flex-wrap: wrap;}
.pc .main .best .product-item-slider .slide-show .item-wrap .item {width: 300px; margin-right: 25px;}
.pc .main .best .product-item-slider .slide-show .item-wrap .item:nth-child(5n){margin-right: 0;}
.pc .main .best .slide-show .item-wrap .item .img-box {width: 100%;height: 300px;margin-bottom: 20px;}
.pc .main .best .slide-show .item-wrap .item .img-box img{display: block;width: 100%;}
.pc .main .best .slide-show .item-wrap .item .txt{text-align: center;}
.pc .main .best .slide-show .item-wrap .item .txt .item-name{font-size: 11px;font-weight: 500; margin-bottom: 8px;}
.pc .main .best .slide-show .item-wrap .item .txt .item-price{font-size: 13px;font-weight: 700;}

.pc .main .best .btn {width: 14px;height: 30px;position: absolute;top: 50%;
transform: translateY(-50%);font-size: 0;background-repeat: no-repeat;
background-position: center; background-size: 14px;cursor: pointer;}
.pc .main .best .best-prev {left: -50px; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .best .best-next {right: -50px;background-image: url(../../images/arr_slide_next11.png);}
/*//베스트*/

/* 서브베너1 */
.pc .main .sub-banner1 {margin-bottom: 100px; width: 100%;}
.pc .main .sub-banner1 .banner-bg-area {width: 100%; background-color: #f4f4f4;}
.pc .main .sub-banner1 .slide-show {width:1600px;margin: 0 auto;}
.pc .main .sub-banner1 .slide-show .slide {width: 1600px;height: 500px;position: relative;}
.pc .main .sub-banner1 .slide-show .slide .slide-img-area{width: 100%;height: 100%; background-image: url(../../images/sub-banner01.jpg);background-repeat: no-repeat;background-position: center;
background-size: 1600px;}
.pc .main .sub-banner1 .slide-show .slide .text-container {width: 1200px;position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%);}

.pc .main .sub-banner1 .slide-show .slide .text-wrap {text-align: left;}

.pc .main .sub-banner1 .slide-show .slide .text-wrap .tit {display:block; padding: 0;line-height: 35px; margin-bottom: 27px; font-size: 35px;font-weight: 700;}

.pc .main .sub-banner1 .slide-show .slide .text-wrap .des {margin-bottom: 30px; font-size: 18px;line-height: 35px;}
.pc .main .sub-banner1 .slide-show .slide .text-wrap .btn-more {}
.pc .main .sub-banner1 .slide-show .slide .text-wrap .btn-more p{display: inline-block;padding: 12px 18px;background-color: #000;border-radius: 8px;color: #fff;font-size: 12px;font-weight: 500; }

.pc .main .sub-banner1 .btn {width: 14px;height: 30px;position: absolute;top: 50%;
transform: translateY(-50%);font-size: 0;background-repeat: no-repeat;background-position: center; background-size: 14px;cursor: pointer;}
.pc .main .sub-banner1 .best-prev {left: -50px; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .sub-banner1 .best-next{right: -50px;background-image: url(../../images/arr_slide_next11.png);}

/* //서브베너1 */


/* what's new */
.pc .whats-new{margin-bottom: 100px;}
.pc .whats-new .h-tit{margin-bottom: 47px;}
.pc .whats-new .h-tit span{font-size: 33px;font-weight: 700;}
.pc .whats-new .product-item-slider {position: relative;width: 1600px;margin: 0 auto;}
.pc .whats-new .product-item-slider .slide-show {}
.pc .whats-new .product-item-slider .slide-show .item-wrap{width: 100%;display: flex;}
.pc .whats-new .item-wrap .item{display: block;margin-right: 25px; width: 300px;}
.pc .whats-new .item-wrap .item:nth-child(5n){margin-right: 0;}
.pc .whats-new .item-wrap .item .img-box {width: 100%; height: 300px;}
.pc .whats-new .item-wrap .item .img-box img{display: block; width: 100%;}
.pc .whats-new .item .txt {text-align: center;}
.pc .whats-new .item .txt .item-name{margin-bottom: 8px; font-size: 11px;font-weight: 500;}
.pc .whats-new .item .txt .item-price{font-size: 13px;font-weight: 700;}
.pc .whats-new .product-item-slider .btn {width: 14px;height: 30px;position: absolute;top: 50%;
.pc transform: translateY(-50%);font-size: 0;background-repeat: no-repeat;background-position: center; background-size: 14px;cursor: pointer;}
.pc .whats-new .product-item-slider .best-prev {left: -50px; background-image: url(../../images/arr_slide_prev11.png);}
.pc .whats-new .product-item-slider .best-next{right: -50px;background-image: url(../../images/arr_slide_next11.png);}
/* //what's new */

/* main-video */
.pc .main-video {margin-bottom: 123px;width: 100%;}
.pc .main-video .slide-show{position: relative;}
.pc .main-video .slide-show .item-wrap{}
.pc .main-video .slide-show .item-wrap .item{}
.pc .main-video .item .video-area{position: relative;;cursor: col-resize;margin-bottom: 47px;}
.pc .main-video .item .video-area .video{width: 100%;height:800px;background-color: #ccc;}
.pc .main-video .item .video-area .video iframe {width: 100%;height: 100%;}
.pc .main-video .item .txt{text-align: center;}
.pc .main-video .item .txt .video-tit{margin-bottom: 12px; font-size: 30px;font-weight: 700;}
.pc .main-video .item .txt .video-des{font-size: 20px;font-weight: 500;}

.pc .main-video .slide-show .btn {display: none;position: absolute; top: calc(50% - 122px);width: 23px;height: 40px;background-repeat: no-repeat;background-position: center;background-size: 23px; font-size: 0;}
.pc .main-video .slide-show .best-prev {left: 50px;background-image: url(../../images/arr_white_prev.png);}
.pc .main-video .slide-show .best-next {right: 50px;background-image: url(../../images/arr_white_next.png);}
/* //main-video */
/* collection */
.pc .main .collection {width:1200px;margin:75px auto 120px;}
.pc .main .collection .big-img-wrap {margin-top:40px;}
.pc .main .collection .simple-slide {position:relative;width:calc(100% + 24px);margin-top:20px;margin-left:-20px;}
.pc .main .collection .item {width:224px;height:300px;margin-left:20px;}
.pc .main .collection .item .img-wrap {width:100%;height:100%;position:relative;overflow:hidden;}
.pc .main .collection .item .img-wrap img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);max-width:100%;}
.pc .main .collection .simple-slide .slide-show-button {width:36px;height:36px;}
.pc .main .collection .simple-slide .slide-show-button.slide-show-previous {left:-16px;}
.pc .main .collection .simple-slide .slide-show-button.slide-show-next {right:-36px;}
/* //collection */








.pc .main .middle-band-banner {width:100%;height:136px;margin-top:75px;margin-bottom:80px;border-top:2px solid #111;border-bottom:2px solid #111;}
.pc .main .middle-band-banner .simple-slide {width:1200px;height:136px;margin:0 auto;}
.pc .main .middle-band-banner .item {width:1200px;height:136px;}
.pc .main .middle-band-banner .item .img-wrap {text-align:center;}
.pc .main .middle-band-banner .item img {display:inline-block;width:100%;}
.pc .main .middle-band-banner .slide-show-dot-wrap {bottom:0;}

.pc .display .middle-band-banner {margin-top:80px;width:955px;height:136px;border-top:2px solid #111;border-bottom:2px solid #111;}
.pc .display .middle-band-banner .item {width:955px;height:136px;}
.pc .display .middle-band-banner .slide-show-dot-wrap {bottom:10px;}
.pc .display .middle-band-banner .slide-show-previous {left:0;}
.pc .display .middle-band-banner .slide-show-next {right:0;}



.member .middle-band-banner.simple-slide-wrap .simple-slide {position:relative;}
.member .middle-band-banner.simple-slide-wrap .simple-slide .slide-show .item a {width:100%;height:100%;display:block;margin:0 auto;}
.member .middle-band-banner.simple-slide-wrap .simple-slide .slide-show .item .text-container {width:84%;height:auto;}
.member .middle-band-banner.simple-slide-wrap .simple-slide .slide-show .item .text-wrap {position:relative;z-index:1;margin:0 auto;text-align:center;box-sizing:border-box;}
.member .middle-band-banner.simple-slide-wrap .simple-slide .slide-show .item .text-wrap .tit {font-weight:700;font-size:13px;color:#fff;line-height:1.4;}
.member .middle-band-banner.simple-slide-wrap .simple-slide .slide-show .item .text-wrap .txt {margin-top:10px;font-size:11px;color:#fff;} 

.pc .member .middle-band-banner {margin:0 auto 40px;width:450px;height:136px;}
.pc .member .middle-band-banner h2.blind {display:none;}
.pc .member .middle-band-banner .item {width:450px;height:136px;}
.pc .member .middle-band-banner .slide-show-dot-wrap {bottom:10px;}
.pc .member .middle-band-banner .slide-show-previous {left:0;}
.pc .member .middle-band-banner .slide-show-next {right:0;}




.pc .main .category-exhibition-banner {width:1200px;margin:75px auto 120px;}
.pc .main .category-exhibition-banner .simple-slide {width:calc(100% + 24px);margin-top:40px;margin-left:-20px;}
.pc .main .category-exhibition-banner .item {width:388px;height:482px;margin-left:20px;}
.pc .main .category-exhibition-banner .item .img-wrap {height:388px;}
.pc .main .category-exhibition-banner.simple-slide-wrap .simple-slide .item .img-wrap img {width:100%;}
.pc .main .category-exhibition-banner.simple-slide-wrap .text-container {position:static;top:auto;left:auto;transform:translate(0,0);width:388px;height:94px;}
.pc .main .category-exhibition-banner.simple-slide-wrap .text-wrap {}
.pc .main .category-exhibition-banner.simple-slide-wrap .simple-slide .item .text-container .text-wrap strong.tit {display:block;display:-webkit-box;overflow:hidden;margin-top:10px;width:388px;max-height:42px;font-size:14px;font-weight:700;color:#111;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;vertical-align:middle;}
.pc .main .category-exhibition-banner.simple-slide-wrap .simple-slide .item .text-container .text-wrap p.txt {display:block;display:-webkit-box;overflow:hidden;margin-top:4px;width:388px;max-height:38px;font-size:13px;color:#111;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;vertical-align:middle;}

.pc .display .category-exhibition-banner {margin-top:75px;}
.pc .display .category-exhibition-banner .h-tit {position:relative;width:100%;height:24px;line-height:24px;text-align:center;}
.pc .display .category-exhibition-banner .h-tit span {display:block;position:absolute;left:50%;top:50%;z-index:3;transform:translate(-50%,-50%);font-size:18px;font-family:Spartan;font-weight:700;color:#111;}
.pc .display .category-exhibition-banner .h-tit:after {content:'';display:block;position:absolute;left:50%;top:50%;z-index:2;transform:translate(-50%,-50%);width:130px;height:24px;background-color:#fff;}
.pc .display .category-exhibition-banner .h-tit:before {content:'';display:block;position:absolute;left:0;top:50%;right:0;z-index:1;transform:translateY(-50%);width:100%;height:.5px;background-color:#000;}
.pc .display .category-exhibition-banner .simple-slide {width:calc(100% + 27px);height:240px;margin-top:20px;margin-left:-27px;padding-bottom:34px;}
.pc .display .category-exhibition-banner .item {width:300px;height:240px;margin-left:27px;}
.pc .display .category-exhibition-banner.simple-slide-wrap .simple-slide .item .img-wrap img {width:100%;}
.pc .display .category-exhibition-banner.simple-slide-wrap .text-container {display:none;width:300px;height:240px;top:0;left:0;transform:translate(0, 0);background-color:rgba(255,255,255,.8);}
.pc .display .category-exhibition-banner.simple-slide-wrap .item:hover .text-container {display:block;}
.pc .display .category-exhibition-banner.simple-slide-wrap .text-wrap {top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;}
.pc .display .category-exhibition-banner.simple-slide-wrap .simple-slide .item .text-container .text-wrap strong.tit {display:block;display:-webkit-box;overflow:hidden;width:270px;max-height:42px;font-size:14px;font-weight:700;color:#111;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;vertical-align:middle;}
.pc .display .category-exhibition-banner.simple-slide-wrap .simple-slide .item .text-container .text-wrap p.txt {display:block;display:-webkit-box;overflow:hidden;width:270px;max-height:50px;font-size:13px;color:#111;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;vertical-align:middle;}
.pc .display .category-exhibition-banner.simple-slide-wrap .simple-slide .slide-show-button.slide-show-previous {left:26px;}
.pc .display .category-exhibition-banner.simple-slide-wrap .simple-slide .slide-show-button.slide-show-next {right:0;}

















.main .main-video .video-area .video-wrap .ui-video iframe {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
.main .main-video .video-area .video-wrap .ui-video .thumb-video {overflow:hidden;position:absolute;top:0;left:0;cursor:pointer;}
.main .main-video .video-area .video-wrap .ui-video .thumb-video img {display:block;width:100%;}
.main .main-video .video-area .video-wrap .ui-video .thumb-video:after {content: '';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width: 74px;height:74px;background: url(../../../resources/images/btn_video_play.png) 0 0 no-repeat;outline:1px solid red;}


/* pc display */
.pc .display .h-tit {font-size:20px;font-weight:700;color:#111;line-height:1;}



/* benefit corner */
.pc .benefit.corner {width:1200px;margin:70px auto 0;}
.pc .benefit.corner h3 {padding-bottom:15px;border-bottom:1px solid #e9e8e7;font-size:22px;font-weight:700;}
