@charset "utf-8";

/* mo/pc common */
.slide-show {position:relative;}
.slide-show-wrap {overflow:hidden;}
.slide-show-button {position:absolute;z-index:1;width:36px;height:36px;box-sizing:border-box;top:50%;transform:translateY(-50%);cursor:pointer;}
.slide-show-button:before {content: '';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:36px;height:36px;}
.slide-show-item-wrap {display:inline-block;vertical-align:top;}
.slide-show-previous {left:-16px;}
.slide-show-previous:before {background: url("../../../resources/images/arr_slide_prev11.png") 50% 50% no-repeat;}
.slide-show-previous.disable:before {opacity:.25;background: url("../../../resources/images/arr_slide_prev11.png") 50% 50% no-repeat;}
.slide-show-next {right:-36px;}
.slide-show-next:before {background:url("../../../resources/images/arr_slide_next11.png") 50% 50% no-repeat;}
.slide-show-next.disable:before {opacity:.25;background: url("../../../resources/images/arr_slide_next11.png") 50% 50% no-repeat;}
.slide-show-dot-wrap {display:block;margin-top:30px;width:100%;text-align: center;}
.slide-show-dot {display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 4px;border:1px solid #111;cursor:pointer;z-index:99;box-sizing:border-box;}
.slide-show-dot.active {background-color: #111;}
.slide-show-track {overflow:hidden;}

.slide-show-button.with-counter {border-radius: 50%;width: 23px;height: 23px;background-color:rgba(0,0,0,0.1);}
.slide-show-button.with-counter:before {width: 10px;height: 10px;background-size: 7px 10px;background-position: 50% 50%;}

.slide-show-dot-wrap.rect-indicator {height:4px;text-align:center;line-height:4px;}
.slide-show-dot-wrap.rect-indicator:after {content:'';display:block;clear:both;}
.slide-show-dot-wrap.rect-indicator .slide-show-dot {position:relative;display:inline-block;height:4px;background-color:rgba(0,0,0,.1);cursor:pointer;box-sizing:border-box;margin:0;border-radius:0;border:0 none;vertical-align:top;}
.slide-show-dot-wrap.rect-indicator .slide-show-dot.active {background-color:rgba(0,0,0,1);}
.slide-show-dot-wrap.rect-indicator .slide-show-dot:before {display:none;}
.pc .slide-show-button:before {
    display: none;
}
.pc .slide-show-dot-wrap.rect-indicator .slide-show-dot {width:100px;}


.slide-show-dot-wrap.rounded-pill {display:block;margin-top:30px;width:100%;text-align: center;}
.slide-show-dot-wrap.rounded-pill .slide-show-dot {display:inline-block;width:6px;height:6px;border-radius:50%;margin:0 4px;background-color:#a8a8a8;border:1px solid #a8a8a8;cursor:pointer;z-index:99;box-sizing:border-box;}
.slide-show-dot-wrap.rounded-pill .slide-show-dot.active {width:12px;border-radius:50rem;background-color:#a8a8a8;}

.slide-counter {margin:40px auto 0;width:75px;height:26px;background-color:rgba(0,0,0,0.1);border-radius:26px;text-align:center;line-height:26px;color:#888;}
.slide-counter .count-current {font-weight:700;color:#111;}
.simple-slide-wrap {margin:0 auto;width:100%;}
.simple-slide-wrap.fluid {width:100%;}
.simple-slide-wrap .simple-slide {position:relative;}
.simple-slide-wrap .simple-slide .item {width: 200px;}
.simple-slide-wrap .simple-slide .item a {position:relative;}
.simple-slide-wrap.fluid .simple-slide .item {width:100vw;}
.simple-slide-wrap.fluid .simple-slide .item a {width:100%;height:100%;display:block;margin:0 auto;}
.simple-slide-wrap .text-container {position:absolute;width:100%;height:100%;top:50%;left:50%;transform:translate(-50%, -50%);}
.simple-slide-wrap .text-wrap {position:absolute;}
.simple-slide-wrap .simple-slide .item .text-container .text-wrap .tit {font-weight:700;font-size:40px;color:#fff;}
.simple-slide-wrap .simple-slide .item .text-container .text-wrap .txt {margin-top:20px;font-size:20px;font-weight:200;color:#fff;}
.simple-slide-wrap .simple-slide .item .img-wrap {width:100%;height:100%;position:relative;overflow:hidden;}
.simple-slide-wrap.fluid .item .img-wrap {width:100vw;}
.simple-slide-wrap .simple-slide .item .img-wrap img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.product-item-slider .item-row .item-wrap {display:inline-block;vertical-align:top;}
.product-item-slider .item-row .item-wrap .item:last-child {margin-right:0 !important;}
.product-item-slider .item-wrap .item {vertical-align:top;display:inline-block;}



/* pc */
.pc .main header {display: none;}
/*메인베너*/
.pc .main-banner {margin-bottom: 100px; width: 100%; height: 100vh;}
.pc .main-banner .simple-slide { height: 100vh; position:relative;}
.pc .main-banner .simple-slide .slide-show {position:relative;height: 100vh;}
.pc .main-banner .simple-slide .slide-show .slide-show-item-wrap {display: flex;}
.pc .main-banner .simple-slide .slide-show .item {height: 100vh;}

.pc .main-banner .simple-slide .slide-show .item a .img-wrap {width: 100%;height: 100vh;background-image: url(../../images/main01.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;
}

.pc .main-banner .simple-slide .slide-show .item .text-container {width: 1600px;text-align: center;}
.pc .main .main-banner .simple-slide .slide-show .item .text-wrap {width:1200px;position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%);}
.pc .main-banner .simple-slide .slide-show .item .text-wrap .tit {margin-bottom: 12px; display: block;font-weight:700;line-height: 1; font-size:70px;color:#fff;}
.pc .main-banner .simple-slide .slide-show .item .text-wrap .des {font-size:35px;color:#fff;}

.pc .main-banner .btn {display: none;position: absolute;top: 50%;transform: translateY(-50%);width: 23px;height: 40px; font-size: 0;cursor: pointer;}
.pc .main-banner .main-banner-prev {left: 50px; background: url("../../../resources/images/arr_white_prev.png") no-repeat center;}
.pc .main-banner .main-banner-next {right: 50px; background:url("../../../resources/images/arr_white_next.png") no-repeat center;}
.pc .main-banner:hover .btn{display: block;}

.pc .main .main-banner .simple-slide .slide-show-num-wrap {position: absolute; bottom: 70px; left: 50%;transform: translateX(-50%);width: 57px;height: 22px;line-height: 22px;text-align: center;background-color:rgba(0, 0, 0, 0.3);border-radius:50px;cursor: pointer;}
.pc .main .main-banner .simple-slide .slide-show-num-wrap p {font-size: 11px; color: #fff;}

/*//메인베너*/


/*베스트*/
.pc .main .best {width: 100%;margin-bottom: 100px;}
.pc .main .best > .inner {width:1700px;margin:0 auto;}
.pc .main .best .h-tit{margin-bottom: 30px;}
.pc .main .best .h-tit span{font-size: 33px;font-weight: 700;text-align: center;}
.pc .main .best .tab-menu {text-align: center;margin-bottom: 60px;}
.pc .main .best .tab-menu ul{display: flex;justify-content: center;}
.pc .main .best .tab-menu ul li{margin-right: 36px;}
.pc .main .best .tab-menu ul li:last-child{margin-right: 0;}
.pc .main .best .tab-menu ul li a {font-weight: 500; font-size: 14px; color: rgba(10, 10, 10, 0.5);}
.pc .main .best .tab-menu ul .active a {color: #0a0a0a;}
.pc .main .best .product-item-slider {width: 100%;position: relative;}
.pc .main .best .product-item-slider .slide-show {width: 1600px;margin: 0 auto;overflow: hidden;}
.pc .main .best .product-item-slider .slide-show .item-wrap {display: flex;flex-wrap: wrap;}
.pc .main .best .product-item-slider .slide-show .item-wrap .item {width: 300px; margin-right: 25px;}
.pc .main .best .product-item-slider .slide-show .item-wrap .item:nth-child(5n){margin-right: 0;}
.pc .main .best .slide-show .item-wrap .item .img-box {width: 100%;height: 300px;margin-bottom: 20px;}
.pc .main .best .slide-show .item-wrap .item .img-box img{display: block;width: 100%;}
.pc .main .best .slide-show .item-wrap .item .txt{text-align: center;}
.pc .main .best .slide-show .item-wrap .item .txt .item-name{font-size: 11px;font-weight: 500; margin-bottom: 8px;}
.pc .main .best .slide-show .item-wrap .item .txt .item-price{font-size: 13px;font-weight: 700;}

.pc .main .best .btn {width: 14px;height: 30px;position: absolute;top: 50%;
transform: translateY(-50%);font-size: 0;background-repeat: no-repeat;
background-position: center; background-size: 14px;cursor: pointer;}
.pc .main .best .arrow-prev {left: 0px; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .best .arrow-next {right: 0px;background-image: url(../../images/arr_slide_next11.png);}
/*//베스트*/

/* 서브베너1 */
.pc .main .sub-banner1 {margin-bottom: 100px; width: 100%;}
.pc .main .sub-banner1 .banner-bg-area {width: 100%; background-color: #f4f4f4;}
.pc .main .sub-banner1 .slide-show-wrap {width: 1700px;height: 500px; margin: 0 auto;position: relative;}
.pc .main .sub-banner1 .slide-show {width:1200px;margin: 0 auto;}
.pc .main .sub-banner1 .slide-show .slide {width: 1200px;height: 500px;position: relative;}
.pc .main .sub-banner1 .slide-show .slide .slide-img-area{display: flex;align-items: center; width: 100%;height: 100%; /*background-image: url(../../images/sub-banner01.jpg);background-repeat: no-repeat;background-position: center;
background-size: 1600px;*/}
.pc .main .sub-banner1 .slide-show .slide .slide-img-area img {display: block; width: 100%;}
.pc .main .sub-banner1 .slide-show .slide .text-container {width: 1200px;position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%);}

.pc .main .sub-banner1 .slide-show .slide .text-wrap {text-align: left;}

.pc .main .sub-banner1 .slide-show .slide .text-wrap .tit {display:block; padding: 0;line-height: 35px; margin-bottom: 27px; font-size: 35px;font-weight: 700;}

.pc .main .sub-banner1 .slide-show .slide .text-wrap .des {margin-bottom: 30px; font-size: 18px;line-height: 35px;}
.pc .main .sub-banner1 .slide-show .slide .text-wrap .btn-more {}
.pc .main .sub-banner1 .slide-show .slide .text-wrap .btn-more p{display: inline-block;padding: 12px 18px;background-color: #000;border-radius: 8px;color: #fff;font-size: 12px;font-weight: 500; }

.pc .main .sub-banner1 .btn {width: 14px;height: 30px;position: absolute;top: 50%;
transform: translateY(-50%);font-size: 0;background-repeat: no-repeat;background-position: center; background-size: 14px;cursor: pointer;}
.pc .main .sub-banner1 .arrow-prev {left: 0; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .sub-banner1 .arrow-next{right: 0;background-image: url(../../images/arr_slide_next11.png);}

/* //서브베너1 */


/* what's new */
.pc .whats-new{width: 100%; margin-bottom: 100px;}
.pc .whats-new .inner{width: 1700px;margin: 0 auto;position: relative;}
.pc .whats-new .h-tit{margin-bottom: 47px;}
.pc .whats-new .h-tit span{font-size: 33px;font-weight: 700;}
.pc .whats-new .product-item-slider {width: 1600px;margin: 0 auto;}
.pc .whats-new .product-item-slider .slide-show {}
.pc .whats-new .product-item-slider .slide-show .item-wrap{width: 100%;display: flex;}
.pc .whats-new .item-wrap .item{display: block;margin-right: 25px; width: 300px;}
.pc .whats-new .item-wrap .item:nth-child(5n){margin-right: 0;}
.pc .whats-new .item-wrap .item .img-box {width: 100%; height: 300px;}
.pc .whats-new .item-wrap .item .img-box img{display: block; width: 100%;}
.pc .whats-new .item .txt {text-align: center;}
.pc .whats-new .item .txt .item-name{margin-bottom: 8px; font-size: 11px;font-weight: 500;}
.pc .whats-new .item .txt .item-price{font-size: 13px;font-weight: 700;}

.pc .whats-new .btn {width: 14px;height: 30px;position: absolute;top: 135px;font-size: 0;background-repeat: no-repeat;background-position: center; background-size: 14px;cursor: pointer;}
.pc .whats-new .arrow-prev {left:0;background-image: url(../../images/arr_slide_prev11.png);}
.pc .whats-new .arrow-next{right:0;background-image: url(../../images/arr_slide_next11.png);}
/* //what's new */

/* main-video */
.pc .main-video {margin-bottom: 120px;width: 100%;}
.pc .main-video .slide-show{position: relative;}
.pc .main-video .slide-show .item-wrap{}
.pc .main-video .slide-show .item-wrap .item{}
.pc .main-video .item .video-area{position: relative;;cursor: col-resize;margin-bottom: 47px;}
.pc .main-video .item .video-area .video{width: 100%;height:800px;background-color: #ccc;}
.pc .main-video .item .video-area .video iframe {width: 100%;height: 100%;}
.pc .main-video .item .txt{width: 1200px;margin: 0 auto;text-align: center;}
.pc .main-video .item .txt .video-tit{margin-bottom: 12px; font-size: 30px;font-weight: 700;}
.pc .main-video .item .txt .video-des{font-size: 20px;font-weight: 500;}

.pc .main-video .slide-show .btn {display: none;position: absolute; top: 385px;width: 23px;height: 40px;background-repeat: no-repeat;background-position: center;background-size: 23px; font-size: 0;}
.pc .main-video .slide-show .arrow-prev {left: 50px;background-image: url(../../images/arr_white_prev.png);}
.pc .main-video .slide-show .arrow-next {right: 50px;background-image: url(../../images/arr_white_next.png);}
/* //main-video */

/* collection */
.pc .main .collection {width: 100%;margin-bottom: 120px;}    
.pc .main .collection .inner{width: 1060px;margin: 0 auto;display: flex; justify-content: space-between;}    
.pc .main .collection .big-img-wrap {width: 540px;border-radius: 20px;}

.pc .main .collection .big-img-wrap .slide-show{position: relative;}
.pc .main .collection .big-img-wrap .slide {position: relative;}
.pc .main .collection .big-img-wrap .slide .img-box{width: 100%;overflow: hidden;}
.pc .main .collection .big-img-wrap .slide .img-box img{display: block; width: 100%;}
.pc .main .collection .slide-show .slide .btn-more {position: absolute;left: 39px;bottom: 32px; color: #fff;font-size: 25px;color: #fff;}
.pc .main .collection .slide-show .btn-wrap .btn{position: absolute;width: 14px;height: 30px;top: 50%;transform: translateY(-50%);background-repeat: no-repeat;background-position: center;background-size: 14px;cursor: pointer;}
.pc .main .collection .slide-show .arrow-prev {background-image: url(../../images/arr_white_prev.png);left: 25px;}
.pc .main .collection .slide-show .arrow-next {background-image: url(../../images/arr_white_next.png);right: 25px;}
.pc .main .collection .slide-show .pagination {position: absolute;bottom: 34px;right: 32px; width: 57px;height: 22px;background-color:rgba(0, 0, 0, 0.3);color: #fff;text-align: center;border-radius: 50px;cursor: pointer;}
.pc .main .collection .collection-display {width: 470px;}
.pc .main .collection-display .title {margin-bottom: 45px;line-height: 1;}
.pc .main .collection-display .tit{font-size: 30px;font-weight: 700;margin-bottom: 15px;}
.pc .main .collection-display .des {font-size: 18px;font-weight: 500; color: #979797;}
.pc .main .collection-display .slide-wrap{display: flex;flex-wrap: wrap;margin-bottom: 15px;}
.pc .main .collection-display .slide {width: 230px;margin-bottom: 30px;}
.pc .main .collection-display .slide .img-box {width: 100%;height: 230px;margin-bottom: 8px;}
.pc .main .collection-display .slide .img-box img {display: block; width: 100%;}
.pc .main .collection-display .slide .txt {text-align: center;}
.pc .main .collection-display .slide .tit {font-size:11px;font-weight: 500;margin-bottom: 8px;}
.pc .main .collection-display .slide .des {font-size:13px;font-weight: 700;color: #0A0A0A;}
.pc .main .collection-display .slide-show-wrap .bar-wrap {width: 100%;height: 3px; display: flex; background: #D9D9D9;cursor: pointer;}
.pc .main .collection-display .slide-show-wrap .bar-wrap .bar {/*width: 25%;*/ height: 3px;flex-grow: 1;font-size: 0;}
.pc .main .collection-display .slide-show-wrap .bar-wrap .active {background-color: #2C2C2C;}
/* //collection */


/*styling*/
.pc .main .styling {width: 100%;margin-bottom: 120px;}
.pc .main .styling .inner{width: 1700px; margin: 0 auto;}
.pc .main .styling .h-tit{margin-bottom: 60px;}
.pc .main .styling .h-tit a span {font-size: 35px;font-weight: 700;line-height: 42px;}
.pc .main .styling .slide-wrap{position: relative;}


.pc .main .styling .slide-show{width: 1600px;margin: 0 auto; display: flex; justify-content: space-between;}
.pc .main .styling .slide-show .slide{width: 300px; }
.pc .main .styling .slide .slide-top{width: 100%;margin-bottom: 12px; position: relative;}
.pc .main .styling .slide .slide-top .user-name{position: absolute;left: 30px;bottom: 22px;color: #fff;}

.pc .main .styling .slide-top .img-box{position: relative;width: 100%;height: 300px; border-radius: 20px;overflow: hidden;/*position: relative;*/}


.pc .main .styling .slide-top .img-box img{display: block;width: 100%;height: 100%; font-weight: 500;}
.pc .main .styling .slide-top .img-box .gradient{width: 100%; height: 100%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 17.63%, rgba(0, 0, 0, 0.160938) 38.62%, rgba(0, 0, 0, 0) 87.11%);position: absolute;top: 0;bottom: 0;font-size: 0;}
.pc .main .styling .slide .slide-bottom{display: flex;align-items: center;}
.pc .main .styling .slide .slide-bottom .thumb{width: 80px;height: 80px;margin-right: 12px;}
.pc .main .styling .slide-bottom .thumb img{display: block;width: 100%;}
.pc .main .styling .slide-bottom .txt {}
.pc .main .styling .slide-bottom .txt .tit{font-size: 12px;font-weight: 500; margin-bottom: 12px;line-height: 1;}
.pc .main .styling .slide-bottom .txt .price{font-size: 13px;font-weight: 500;margin-bottom: 12px;}
.pc .main .styling .slide-bottom .txt .price .per{margin-left: 7px;font-weight: 400;color: rgba(128, 0, 255, 1);}
.pc .main .styling .slide-bottom .txt .sale{font-size: 13px;text-decoration: line-through; color:rgba(0, 0, 0, 0.3);}

.pc .main .styling .slide-wrap .btn {position: absolute;top:135px;width: 14px;height: 30px;background-repeat: no-repeat;background-position: center;background-size: 14px;/*outline: 2px solid red;*/ cursor: pointer;}
.pc .main .styling .slide-wrap .arrow-prev{left: 0; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .styling .slide-wrap .arrow-next{right: 0; background-image: url(../../images/arr_slide_next11.png)}

/*//styling*/
/* sub-banner2 */
.pc .main .sub-banner2{}
.pc .main .sub-banner2 .banner-bg-area{width: 100%;padding: 100px 0;background-color: rgba(217, 217, 217, 0.2);}
.pc .main .sub-banner2 .inner {width: 1700px; margin: 0 auto;position: relative;}
.pc .main .sub-banner2 .slide-show {width: 1470px;margin: 0 auto;}
.pc .main .sub-banner2 .slide-show .slide-wrap{}
.pc .main .sub-banner2 .slide-show .slide-wrap .slide{width: 100%;}
.pc .main .sub-banner2 .slide .img-box{margin-bottom: 60px; width: 100%;height: 720px;}
.pc .main .sub-banner2 .slide .img-box img{display: block; width: 100%;}
.pc .main .sub-banner2 .slide .txt {text-align: center;}
.pc .main .sub-banner2 .slide .txt .tit{margin-bottom: 20px; font-size: 30px;font-weight: 700;}

.pc .main .sub-banner2 .slide .txt .des{margin-bottom: 20px;font-size: 20px;font-weight: 500;}
.pc .main .sub-banner2 .slide .txt button{font-size: 12px;font-weight: 500;background-color: #000;color: #fff;text-align: center;padding: 12px 20px;border-radius: 8px;}
.pc .main .sub-banner2 .btn {position: absolute;top:345px;width: 14px;height: 30px;background-repeat: no-repeat;background-position: center;background-size: 14px;cursor: pointer;}
.pc .main .sub-banner2 .arrow-prev {left: 0; background-image: url(../../images/arr_slide_prev11.png);}
.pc .main .sub-banner2 .arrow-next {right: 0; background-image: url(../../images/arr_slide_next11.png);}
/* //sub-banner2 */

















