@charset "utf-8";

/*reset*/
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Pretendard';
}

.noto-serif {
    font-family: 'Noto Serif KR', serif;
}


/*header*/
header {
    width: 100%;
    height: 88px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    /*menu*/
}


/*GNB*/
header .gnb {
    /*display: none;*/
    position: absolute;
    width: 480px;
    height: 100vh;
    top: 0;
    left: -100%;
    box-sizing: border-box;
    padding-left: 99px;
    padding-top: 133px;
    background-color: #fff;

}

header .gnb .depth1 {
    margin-bottom: 50px;
}

header .gnb .depth1 > li {
    margin-bottom: 16px;

}

header .gnb .depth1 > li p {
    font-size: 22px;
    font-weight: 600;
}

header .gnb .depth1 .depth2 {
    padding: 16px 0;
}

header .gnb .depth1 .depth2 > li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

header .gnb .depth1 .depth2 > li a {}

header .gnb .depth1_s li {
    margin-bottom: 12px;
}


header .left {
    /* width: 50%; */
    display: flex;
    align-items: center;
}

header .left .menu {
    width: 25px;
    height: 24px;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    margin-right: 24px;
    position: relative;
    z-index: 1;
}

header .left .menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}

header .left .logo a{
    display: block;
    width: 253px;
    height: 24px;
    font-size: 0;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 253px;
    background-position: center;
    position: relative;
    z-index: 1;
}

header .right {
    display: flex;
    align-items: center;
}

header .right form {}

header .right form fieldset {
    border: 0;
}

header .right form fieldset legend {
    font-size: 0;
}

header .right .search {
    width: 288px;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111;
    box-sizing: border-box;
}

header .right .search .txt {
    width: calc(100% - 24px);
    height: 100%;
    border: 0;
    box-sizing: border-box;
    padding-left: 10px;
    outline: 0;
    background-color: transparent;
}

header .right .search .btn {
    font-size: 0;
    width: 24px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
}

header .right .util {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

header .right .util li:first-child {
    margin-left: 0;
}

header .right .util li {}

header .right .util li a {
    color: #111;
    font-size: 13px;
    line-height: 30px;
}

header .right .util li .mypage {
    display: block;
    width: 24px;
    height: 30px;
    background-image: url(../images/mypage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    font-size: 0;
}

header .right .util li .bag {
    display: block;
    width: 24px;
    height: 30px;
    margin-left: 24px;
    background-image: url(../images/bag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    font-size: 0;
}

header .right .util li .login {
    margin-left: 24px;

}
/*layer*/
.search-layer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: fixed;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: none;
    justify-content: flex-end;
    
}
.search-layer .layer {
    width: 832px;
    height: 500px;
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    padding: 55px 0 0 60px;
    display: flex;
}
.search-layer .layer h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 14px;
}
.search-layer .layer .recent{}
.search-layer .layer .recent ul{
    width: 185px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-layer .layer .recent ul li{
    position: relative;
    margin-bottom: 10px;
    background-color: #eee;
}
.search-layer .layer .recent ul li a{
    display: inline-block;
    padding: 5px 30px 5px 12px;
    line-height: 20px;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
    font-size: 13px;
    color: #111;
}
.search-layer .layer .recent ul li a span{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 0;
   /* outline: 1px solid blue;*/
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/close-s.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}


.search-layer .layer .popular{
    margin-left: 60px;
}
.search-layer .layer .popular ul{}
.search-layer .layer .popular ul li{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.search-layer .layer .popular ul li .number{
    width: 16px;
    font-size: 13px;
    font-weight: 700;
}
.search-layer .layer .popular ul li .name{
    width: 140px;
    font-size: 13px;
    margin-left: 20px;
    color: #111;
}
.search-layer .layer .popular ul li i{
    width: 8px;
    height: 8px;
    /*outline: 1px solid red;*/
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.search-layer .layer .popular ul li .up{
    background-image: url(../images/Polygon-up.svg)
}
.search-layer .layer .popular ul li .down{
    background-image: url(../images/Polygon-down.svg)
}



.search-layer .layer .rank{
    margin-left: 60px;
}
.search-layer .layer .rank ul {}
.search-layer .layer .rank ul li{
    margin-bottom: 16px;
}
.search-layer .layer .rank ul li a{
    display: flex;
    align-items: center;
}
.search-layer .layer .rank ul li .img-box{
    width: 50px;
}
.search-layer .layer .rank ul li .img-box img{
    width: 100%;
}
.search-layer .layer .rank ul li .txt{
    margin-left: 12px;
}
.search-layer .layer .rank ul li .txt .brand{
    font-size: 13px;
    font-weight: 700;
    color: #111;
}
.search-layer .layer .rank ul li .txt .name{
    font-size: 13px;
    color: #111;
}



/*aside*/
aside {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
}

aside ul {}

aside ul li {}

aside ul li a {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    /* background-color: red;*/
    font-size: 0;
    border-radius: 100%;

}

aside ul li .aside-top {
    background-image: url(../images/aside-top.svg);
    margin-bottom: 8px;
    display: none;
}

aside ul li .aside-chat {
    background-image: url(../images/aside-chat.svg);
}

footer {
    height: 100%;
    background-color: #000;
    padding : 64px 0 80px;
}
footer .inner {
    width: 95%;
    max-width: 1820px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .left{
    /*outline: 1px solid yellow;*/
}
footer .left h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}
footer .left ul {
    width: 540px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    /*outline: 1px solid red;*/
}
footer .left ul li{
    color: #999;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}
footer .left ul .pad {
    padding-right: 24px;
    position: relative;
}
footer .left ul .pad::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 1px;
    background-color: #333;
    right: 12px;
    top: 2px;
}
footer .left > p {
    color: #666;
}
footer .right{
    display: flex;
}
footer .right .util-link {
    margin-right: 60px;
}
footer .right .util-link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
}
footer .right .util-link ul li{
    width: 97px;
    margin-bottom: 10px;
    /*outline: 1px solid red;*/
}
footer .right .util-link ul li a{
    font-size: 14px;
    color: #999;
}
footer .right .customer-link {
    margin-right: 114px;
}
footer .right .customer-link h4{
     font-size: 14px;   
     font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
}
footer .right .customer-link .number{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}
footer .right .customer-link .email{
    color: #999;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
}
footer .right .customer-link .time{
    color: #999;
    font-size: 13px;
    font-weight: 500;
}
footer .right .sns-link {}
footer .right .sns-link div{
    display: flex;
    margin-bottom: 4px;
}
footer .right .sns-link div a{
    display: inline-block;
    width: 44px;
    height: 44px;
    font-size: 0;
    /*outline: 1px solid red;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px;
}
footer .right .sns-link div .icon-google{
    background-image: url(../images/icon-google.svg);
}
footer .right .sns-link div .icon-apple{background-image: url(../images/icon-apple.svg);}
footer .right .sns-link div .icon-naver{background-image: url(../images/icon-naver.svg);}
footer .right .sns-link div .icon-youtube{background-image: url(../images/icon-youtube.svg);}
footer .right .sns-link div .icon-instagram{background-image: url(../images/icon-instagram.svg);}
footer .right .sns-link div .icon-facebook{background-image: url(../images/icon-facebook.svg);}