header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

section {
  padding: 150px 0;
}
section > .inner {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  padding: 0 50px;
}
section > .inner > .left {
  margin-right: 50px;
}
section > .inner > .right {
  width: 1294px;
}
section .category .depth1 > li {
  padding: 8px 0;
}
section .category .depth1 > li p {
  font-weight: 500;
}
section .category .depth1 > li p span {
  cursor: pointer;
}
section .category .depth1 > li.active p {
  font-weight: 700;
}
section .category .depth2 {
  padding-left: 16px;
}
section .category .depth2 li {
  padding: 8px 0;
}
section .category .depth2 li a {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
section .category .depth2 li.active a {
  color: #111;
}

.location-navigator {
  margin-bottom: 16px;
}
.location-navigator ul {
  display: flex;
}
.location-navigator ul li {
  padding-left: 27px;
  padding-right: 20px;
  position: relative;
}
.location-navigator ul li:first-child {
  padding-left: 0;
}
.location-navigator ul li:first-child::before {
  display: none;
}
.location-navigator ul li::before {
  display: block;
  content: "";
  background-image: url("../images/S.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 7px;
}
.location-navigator ul li .depth a {
  color: #000;
}
.location-navigator ul li .depth a i {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../images/Sbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slide-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.slide-area .slide-show {
  width: 620px;
  position: relative;
}
.slide-area .slide-show .slide-wrap .slide {
  position: relative;
  width: 620px;
  height: 500px;
  overflow: hidden;
}
.slide-area .slide-show .slide-wrap .slide a {
  display: block;
}
.slide-area .slide-show .slide-wrap .slide a img {
  display: block;
  width: 100%;
}
.slide-area .slide-show .slide-wrap .slide .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.slide-area .slide-show .slide-wrap .slide .txt p {
  line-height: 1;
}
.slide-area .slide-show .slide-wrap .slide .txt .brand {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
.slide-area .slide-show .slide-wrap .slide .txt .tit {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.slide-area .slide-show .slide-wrap .slide .txt .des {
  font-size: 14px;
  font-weight: 500;
}
.slide-area .slide-show .btn-arrow ul li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 0;
}
.slide-area .slide-show .btn-arrow ul li.prev {
  left: 0;
  background-image: url("../images/L-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}
.slide-area .slide-show .btn-arrow ul li.next {
  right: 0;
  background-image: url("../images/L-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}
.slide-area .slide-show .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}
.slide-area .slide-show .pagination ul {
  display: flex;
}
.slide-area .slide-show .pagination ul li {
  margin: 0 5px;
}
.slide-area .slide-show .pagination ul li i {
  display: block;
  font-size: 0;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
}
.slide-area .slide-show .pagination ul li.active i {
  background-color: #fff;
}

.recommend-brand {
  margin-bottom: 100px;
}
.recommend-brand h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.recommend-brand .slide-show {
  width: 100%;
  overflow: auto;
}
.recommend-brand .slide-show::-webkit-scrollbar {
  display: none;
}
.recommend-brand .slide-show .slide-wrap {
  display: table;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.recommend-brand .slide-show .slide-wrap .slide {
  display: inline-block;
  margin-right: 16px;
}
.recommend-brand .slide-show .slide-wrap .slide:last-child {
  margin-right: 0;
}

.search-result-pdt h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}
.search-result-pdt .pdt-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.search-result-pdt .pdt-align .selected-option ul {
  display: flex;
}
.search-result-pdt .pdt-align .selected-option ul li {
  margin-right: 8px;
  position: relative;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.search-result-pdt .pdt-align .selected-option ul li.reset a {
  font-size: 0;
  width: 40px;
  background-image: url("../images/reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.search-result-pdt .pdt-align .selected-option ul li:not(.reset) a {
  padding: 0 37px 0 12px;
}
.search-result-pdt .pdt-align .selected-option ul li a {
  display: block;
  line-height: 40px;
}
.search-result-pdt .pdt-align .selected-option ul li a span {
  font-size: 0;
  display: block;
  width: 9px;
  height: 9px;
  background-image: url("../images/close-s-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.search-result-pdt .pdt-align .sort-pdt {
  position: relative;
}
.search-result-pdt .pdt-align .sort-pdt button {
  position: relative;
  background-color: #fff;
  border: 0;
  padding-right: 18px;
}
.search-result-pdt .pdt-align .sort-pdt button .down-triangle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-top: 5px solid #111;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.search-result-pdt .pdt-align .sort-pdt button.active .down-triangle {
  border-top-color: transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #111;
  border-left: 5px solid transparent;
}
.search-result-pdt .pdt-align .sort-pdt .option {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
  width: 109px;
  border: 1px solid #ccc;
  padding: 16px 24px;
  background-color: #fff;
}
.search-result-pdt .pdt-align .sort-pdt .option ul {
  display: flex;
  flex-direction: column;
}
.search-result-pdt .pdt-align .sort-pdt .option ul li {
  margin-bottom: 12px;
}
.search-result-pdt .pdt-align .sort-pdt .option ul li:last-child {
  margin-bottom: 0;
}
.search-result-pdt .pdt-align .sort-pdt .option ul li a {
  font-size: 14px;
  color: #666;
}

.search-result-pdt .box-wrap .box-column {
  display: flex;
  margin-bottom: 80px;
}
.search-result-pdt .box-wrap .box-column .box {
  width: 19.2%;
  margin-right: 1%;
}
.search-result-pdt .box-wrap .box-column .box:last-child {
  margin-right: 0;
}
.search-result-pdt .box-wrap .box-column .box .img-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.search-result-pdt .box-wrap .box-column .box .img-box img {
  display: block;
  width: 100%;
}
.search-result-pdt .box-wrap .box-column .box .img-box .wish i {
  position: absolute;
  font-size: 0;
  right: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
  background-image: url("../images/wish.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}
.search-result-pdt .box-wrap .box-column .box .txt {
  display: flex;
  flex-direction: column;
}
.search-result-pdt .box-wrap .box-column .box .txt .brand {
  font-size: 13px;
  color: #999;
  margin-bottom: 8px;
}
.search-result-pdt .box-wrap .box-column .box .txt .tit {
  font-size: 14px;
  color: #111;
  margin-bottom: 20px;
}
.search-result-pdt .box-wrap .box-column .box .txt .price {
  margin-bottom: 12px;
  font-weight: 600;
}
.search-result-pdt .box-wrap .box-column .box .txt .price .discount {
  color: #999;
  font-size: 13px;
  text-decoration: line-through;
  margin: 0 10px;
}
.search-result-pdt .box-wrap .box-column .box .txt .color {
  margin-bottom: 30px;
}
.search-result-pdt .box-wrap .box-column .box .txt .color ul {
  display: flex;
}
.search-result-pdt .box-wrap .box-column .box .txt .color ul li i {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  font-size: 0;
}
.search-result-pdt .box-wrap .box-column .box .txt .color ul li:first-child i {
  background-color: #000;
  margin-right: 8px;
}
.search-result-pdt .box-wrap .box-column .box .txt .color ul li:last-child i {
  background-color: #E9D8BA;
}
.search-result-pdt .box-wrap .box-column .box .txt .customers ul {
  display: flex;
}
.search-result-pdt .box-wrap .box-column .box .txt .customers ul li a {
  color: #666;
}
.search-result-pdt .box-wrap .box-column .box .txt .customers ul li.wish {
  position: relative;
  margin-right: 24px;
}
.search-result-pdt .box-wrap .box-column .box .txt .customers ul li.wish:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}