@charset "utf-8";
section {
    width: 100%;
}
section >.inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 152px 50px 0 50px;
    box-sizing: border-box;
    display: flex;
}

/*result*/
.search-result-contents .result {
    width: 100%;
    min-width: 1280px;
    padding-left: 50px;
}
.search-result-contents .result .txt-result {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}

.search-result-contents .result .filter-selected {}
.search-result-contents .result .filter-selected ul{
    display: flex;
    margin-bottom: 40px;
}
.result .filter-selected ul li{
    margin-right: 8px;
}
.result .filter-selected ul li a{
    display: inline-block;
    padding: 12px 37px 12px 20px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #111;
}
.result .filter-selected ul .reset a{
    padding: 20px;
    font-size: 0;
    background-image: url(../images/search_result/reset.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}
.result .filter-selected ul li:not(.reset) a {
    background-image: url(../images/search_result/close-s.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: right 20px top 14px;
}
.result .sorting-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.result .sorting-area .num{}
.result .sorting-area .num span{}
.result .sorting-area ul{
    display: flex;
    
}
.result .sorting-area ul li {}
.result .sorting-area ul li:nth-child(2){
    margin-left: 24px;
}
.result .sorting-area ul li select{
    
}
.result .search-pdt {}
.result .search-pdt .box-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.result .search-pdt .box-wrap .box{
    width: 19.2%;
    margin-right: 1%;
    margin-bottom: 80px;
}
.result .search-pdt .box-wrap .box:nth-child(5n){
    margin-right: 0;
}
.result .search-pdt .box-wrap .box .img-box{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.result .search-pdt .box-wrap .box .img-box > a{}
.result .search-pdt .box-wrap .box .img-box > a img{
    display: block;
    width: 100%;
}
.result .search-pdt .box-wrap .box .img-box button {
     position: absolute;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    background-image:url(../images/wish.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border: 0;
    right: 12px;
    top: 12px;
    cursor: pointer;
    
}
.result .search-pdt .box-wrap .box .txt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.result .search-pdt .box-wrap .box .txt .brand{
    font-size: 13px;
    color: #999;
    margin-bottom: 8px;
}
.result .search-pdt .box-wrap .box .txt .name{
    font-size: 14px;
    margin-bottom: 20px;
    color: #111;
}
.result .search-pdt .box-wrap .box .txt .price{
    color: #111;
    font-weight: 600;
    margin-bottom: 12px;
}
/*.result .search-pdt .box-wrap .box .txt .currency-unit{}*/
.result .search-pdt .box-wrap .box .txt .price del {
    font-size: 13px;
    color: #999;
    font-weight: 400;
    margin-left: 10px;
}
.result .search-pdt .box-wrap .box .txt .price .sale {
    margin-left: 10px;
}
.result .search-pdt .box-wrap .box .txt .sel-color {
    display: flex;
    margin-bottom: 30px;
}
.result .search-pdt .box-wrap .box .txt .sel-color li{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.result .search-pdt .box-wrap .box .txt .sel-color li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-size: 0;
}
.result .search-pdt .box-wrap .box .txt .sel-color .black-color a{
    background-color: #111;
}
.result .search-pdt .box-wrap .box .txt .sel-color .apricot-color a{
    background-color: #E9D8BA;
}
.result .search-pdt .box-wrap .box .txt >div {
    display: flex;
}
.result .search-pdt .box-wrap .box .txt >div .like{
    padding-left: 16px;
    background-image: url(../images/search_result/wish-gray.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px;
    font-size: 13px;
    padding-right: 24px;
    position: relative;
}
.result .search-pdt .box-wrap .box .txt >div .like::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    position: absolute;
    right:10px;
    top: 2px;
    
}
.result .search-pdt .box-wrap .box .txt >div .review{
    font-size: 13px;
}




