@charset "utf-8";

body {
    padding-top: 14.4444vw;
}

select {
	border-radius:0; /* 아이폰 사파리 보더 없애기 */
	-webkit-appearance:none; /* 화살표 없애기 for chrome*/
	-moz-appearance:none; /* 화살표 없애기 for firefox*/
	appearance:none /* 화살표 없애기 공통*/
}


/* header */
header {
    width: 100%;
    height: 14.4444vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 0.2778vw solid #eee;
}

header .navibar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5.5556vw;
    box-sizing: border-box;
    background-color: #fff;

}

header .navibar li {
    height: 100%;
    display: flex;
    align-items: center;

}

header .navibar li a {
    width: 6.6667vw;
    height: 6.6667vw;
    font-size: 0;
}

header .navibar li a:last-child {
    margin-left: 5.5556vw;
}

header .navibar li a img {
    display: block;
    width: 100%;
}
header .navibar li h1 {
    font-size: 5.0000vw;
    margin-left: 3.8889vw;
    font-weight: 500;
}

/* section */
.order-delivery-summary .order-info-wrap{
    background-color: #f6f6f6;
    border-top: 0.2778vw solid #333;
    padding: 6.6667vw 5.5556vw;
    margin-bottom: 11.1111vw;
}
.order-delivery-summary .order-info-wrap .order-info{
    margin-bottom: 4.4444vw;
}
.order-delivery-summary .order-info-wrap .order-info li{
    display: flex;
    align-items: center;
    margin-bottom: 2.2222vw;
}
.order-delivery-summary .order-info-wrap .order-info li em{
    font-style: normal;
    width: 25.0000vw;
    font-size: 3.6111vw;
    font-weight: 500;
}
.order-delivery-summary .order-info-wrap .order-info li p{
    font-size: 3.6111vw;
    color: #666;
}
.order-delivery-summary .order-info-wrap .btn-wrap {
    display: flex;
    justify-content: space-between;
}
.order-delivery-summary .order-info-wrap .btn-wrap button:first-of-type{}
.order-delivery-summary .order-info-wrap .btn-wrap button:last-of-type{
    border: 0.2778vw solid #666;
    background-color: #fff;
    color: #666;
}

.order-delivery-summary .order-info-wrap  button {
    width: 43.3333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    text-align: center;
    background-color: #111;
    color: #FFF;
    border: 0;
    font-size: 3.6111vw;
    box-sizing: border-box;
    font-weight: 500;
}

/* detail-order-delivery-pdt */

.detail-order-delivery-pdt {
    width: 88.8889vw;
    margin: 0 auto;
}
.detail-order-delivery-pdt .group {
    margin-bottom: 16.6667vw;
}
.detail-order-delivery-pdt .group .box-title{
    padding: 6.6667vw 0;
    border-top: 0.2778vw solid #333;
    border-bottom: 0.2778vw solid #ccc;
}
.detail-order-delivery-pdt .group .box-title h2{
    font-size: 4.4444vw;
    font-weight: 500;
}
.detail-order-delivery-pdt .group .box {
    padding-top: 6.6667vw;
}
.detail-order-delivery-pdt .group .box .pdt-info {}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-basic{
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #eee;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-info-basic{
    display: flex;
    margin-bottom: 6.6667vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-info-basic .pdt-info-img {
    width: 20.5556vw;
    height: 30.8333vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-info-basic .pdt-info-img img {
    width: 100%;
}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail {
    margin-left: 4.4444vw;
}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail p{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
    color: #999;
}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail h4{
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    font-weight: 400;
}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail h4 span {
    color: #999;
    text-decoration: underline;
    margin-left: 3.3333vw;
}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail ul{}
.detail-order-delivery-pdt .group .box .pdt-info-basic .pdt-info-detail ul li{
    font-size: 3.6111vw;
    margin-bottom: 1.1111vw;
    color: #666;
}
.detail-order-delivery-pdt .group .box .pdt-info .gifts-text-wrap {
    margin-bottom: 6.9444vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .gifts-text-wrap dl {
    display: flex;
    margin-bottom: 2.2222vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .gifts-text-wrap dl dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.detail-order-delivery-pdt .group .box .pdt-info .gifts-text-wrap dl dd{
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .gifts-text-wrap dl dd span {
    font-size: 3.3333vw;
    color: #FF2A00;
    margin-left: 2.2222vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .each-pdt-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6.9444vw;
    /*border-bottom: 0.2778vw solid #eee;*/
}
.detail-order-delivery-pdt .group .box .pdt-info .each-pdt-price p {
    font-size: 3.6111vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .each-pdt-price strong {
    font-size: 4.4444vw;
    font-weight: 700;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap {}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul{
    display: flex;
    justify-content: space-between;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul .pdt-status{}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul .pdt-status p {
    padding-top: 2.2222vw;
    color: #0000BF;
    font-size: 3.8889vw;
    font-weight: 500;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul .pdt-status-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 63.8889vw;
    
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul .pdt-status-btn button{
    width: 30.8333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    font-size: 3.6111vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .pdt-status-wrap ul .pdt-status-btn .active {
    background-color: #111;
    color: #fff;
}
.detail-order-delivery-pdt .group .box .pdt-info .add-text {
    display: flex;
    align-items: center;
    margin-bottom: 10.5556vw;
}
.detail-order-delivery-pdt .group .box .pdt-info .add-text em {
    font-style: normal;
    font-size: 3.6111vw;
    font-weight: 500;
}
.detail-order-delivery-pdt .group .box .pdt-info .add-text p {
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
    
}
.detail-order-delivery-pdt .group .box .pdt-add {
    padding-top: 6.6667vw;
    /*padding: 6.6667vw 0 4.4444vw;*/
    margin-bottom: 6.6667vw;
}
.detail-order-delivery-pdt .group .box .pdt-add .pdt-status-wrap {
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #eee;
}
.detail-order-delivery-pdt .group .box .delivery-price {
    border-bottom: 0.2778vw solid #ccc;
}
.detail-order-delivery-pdt .group .box .delivery-price p{
    padding: 6.6667vw 0;
    font-size: 3.6111vw;
    position: relative;
    background-image: url(../images/detail_order-delivery/circle-down.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: right center;
}
.detail-order-delivery-pdt .group .box .delivery-price p span{
    position: absolute;
    right: 7.7778vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
}
/* 사은품 정보 */
.order-gifts-info {}
.order-gifts-info .gifts-info-title{
    width: 88.8889vw;
    margin: 0 auto;
}
.order-gifts-info .gifts-info-title h2{
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}
.order-gifts-info .box-wrap{
    margin-bottom: 6.6667vw;
}
.order-gifts-info .box-wrap .box{
    padding: 6.6667vw 0;
    position: relative;
}
.order-gifts-info .box-wrap .box::after {
    content: "";
    display: block;
    width: 88.8889vw;
    height: 0.2778vw;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.order-gifts-info .box-wrap .box:last-of-type::after{
    background-color: #eee;
}
.order-gifts-info .box-wrap .box .gifts-info-des{
    width: 88.8889vw;
    margin: 0 auto 6.6667vw;
}
.order-gifts-info .box-wrap .box .gifts-info-des h3{
    font-size: 4.4444vw;
    font-weight: 500;
    margin-bottom: 1.1111vw;
}
.order-gifts-info .box-wrap .box .gifts-info-des p{
    font-size: 3.8889vw;
}
.order-gifts-info .box-wrap .box .gifts-box-show{
    overflow: auto;
}
.order-gifts-info .box-wrap .box .gifts-box-show::-webkit-scrollbar {
    display: none;
}

.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap{
    overflow: hidden;
    display: table;
    width: 100%;
    white-space: nowrap;
    padding: 0 5.5556vw;
}

.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box{
    display: inline-block;
    width: 20.5556vw;
    margin-left: 2.2222vw;
    white-space: normal;
}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box:first-of-type {
    margin-left: 0;
}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-box-img{
    margin-bottom: 2.2222vw;
    position: relative; /*소진*/
}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-box-img img{}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-box-img > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    display: none;
}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-box-img .no-stock{
    display: flex;
}
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box h4{
    font-size: 3.3333vw;
    color: #999;
    margin-bottom: 2.2222vw;
    font-weight: 400;
} 
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-name{
    font-size: 3.6111vw;
    margin-bottom: 2.2222vw;
} 
.order-gifts-info .box-wrap .box .gifts-box-show .gifts-box-wrap .gifts-box .gifts-count{
    font-size: 3.8889vw;
    color: #666;
} 

/* 경고문 */
.order-gifts-info .order-gifts-notice {
    width: 88.8889vw;
    margin: 0 auto;
    margin-bottom: 16.6667vw;
}
.order-gifts-info .order-gifts-notice ul{
    width: 100%;
    background-color: #f6f6f6;
    padding: 6.6667vw 5.5556vw;
    box-sizing: border-box;
}
.order-gifts-info .order-gifts-notice ul li{}
.order-gifts-info .order-gifts-notice ul li p{
    font-size: 3.6111vw;
    padding-left: 3.3333vw;
    position: relative;
    line-height: 5.2778vw;
    margin-bottom: 1.1111vw;
}
\.order-gifts-info .order-gifts-notice ul li p:last-of-type {
    margin-bottom: 0;
}
.order-gifts-info .order-gifts-notice ul li p::before {
    content: "·";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
/* receive */
.receive {
    width: 88.8889vw;
    margin: 0 auto;
}
.receive .receive-saved{}
.receive .receive-saved .receive-saved-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #333;
}
.receive .receive-saved .receive-saved-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.receive .receive-saved .receive-saved-top button{
    width: 13.0556vw;
    height: 8.8889vw;
    background-color: #fff;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    font-size: 3.6111vw;
}
.receive .receive-saved .receive-saved-info {
    padding: 6.6667vw 0 2.2222vw;;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 8.3333vw;
}
.receive .receive-saved .receive-saved-info ul{}
.receive .receive-saved .receive-saved-info ul li{
    margin-bottom: 4.4444vw;
    font-size: 3.8889vw;
}

/* 받으시는분 변경 */
.receive .receive-change{
    padding-bottom: 6.6667vw;
    display: none;
}
.receive .receive-change .receive-change-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.4444vw;
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #333;
}
.receive .receive-change .receive-change-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.receive .receive-change .receive-change-top .change-top-btn{
    display: flex;
}
.receive .receive-change .receive-change-top .change-top-btn button{
    width: 13.0556vw;
    height: 8.8889vw;
    background-color: #fff;
    border: 0.2778vw solid #666;
}
.receive .receive-change .receive-change-top .change-top-btn #receiveChangeBtnCancel {
    margin-left: 2.2222vw;
}
.receive .receive-change .receive-change-info {
}
.receive .receive-change .receive-change-info input {
    width: 100%;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 3.3333vw;
    box-sizing: border-box;
}
.receive .receive-change .receive-change-info input::placeholder {
    color: #999;
    font-size: 3.8889vw;
    line-height: 13.3333vw;
}
.receive .receive-change .receive-change-info input:read-only{
    background-color: #eee;
}
.receive .receive-change .receive-change-info .search-zipcode{
    display: flex;
    justify-content: space-between;
}
.receive .receive-change .receive-change-info .search-zipcode input[type=number]{
    width: 58.6111vw;
}
.receive .receive-change .receive-change-info .search-zipcode input[type=button]{
    width: 26.9444vw;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    background-color: #fff;
    border: 0.2778vw solid #111;
    color: #111;
    font-size: 3.8889vw;
    font-weight: 500;
}
.receive .receive-change .receive-change-info select {
    width: 100%;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    color: #999;
        background-image: url(../images/detail_order-delivery/S-down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 3.8889vw center;
}
.receive .receive-change .receive-change-info select option {
    color: #999;
}
.receive .receive-change .receive-change-info textarea {
    width: 100%;
    height: 13.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 4.4444vw 3.3333vw 0;
    box-sizing: border-box;
    resize: none;
}
.receive .receive-change .receive-change-info textarea::placeholder {
    color: #999;
    
}

/* ORDER */
.order {
    width: 88.8889vw;
    margin: 0 auto 16.6667vw;
    
}
.order .order-saved{}
.order .order-saved .order-saved-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #333;
}
.order .order-saved .order-saved-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.order .order-saved .order-saved-top button{
    width: 13.0556vw;
    height: 8.8889vw;
    background-color: #fff;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    font-size: 3.6111vw;
}
.order .order-saved .order-saved-info {
    padding: 6.6667vw 0 2.2222vw;;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 8.3333vw;
}
.order .order-saved .order-saved-info ul{}
.order .order-saved .order-saved-info ul li{
    margin-bottom: 4.4444vw;
    font-size: 3.8889vw;
}
.order .order-change{
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    /*display: none;*/
}
.order .order-change .order-change-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.4444vw;
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #333;
}
.order .order-change .order-change-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.order .order-change .order-change-top .change-top-btn{
    display: flex;
}
.order .order-change .order-change-top .change-top-btn button{
    width: 13.0556vw;
    height: 8.8889vw;
    background-color: #fff;
    border: 0.2778vw solid #666;
}
.order .order-change .order-change-top .change-top-btn #orderChangeBtnCancel {
    margin-left: 2.2222vw;
}
.order .order-change .order-change-info {
}
.order .order-change .order-change-info input {
    width: 100%;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 3.3333vw;
    box-sizing: border-box;
}
.order .order-change .order-change-info input[type=email]{
    margin-bottom: 0;
}
.order .order-change .order-change-info input::placeholder {
    color: #999;
    font-size: 3.8889vw;
    line-height: 13.3333vw;
}
.order .order-change .order-change-info input:read-only{
    background-color: #eee;
}
.order .order-change .order-change-info .search-zipcode{
    display: flex;
    justify-content: space-between;
}
.order .order-change .order-change-info .search-zipcode input[type=number]{
    width: 58.6111vw;
}
.order .order-change .order-change-info .search-zipcode input[type=button]{
    width: 26.9444vw;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    background-color: #fff;
    border: 0.2778vw solid #111;
    color: #111;
    font-size: 3.8889vw;
    font-weight: 500;
}
.order .order-change .order-change-info select {
    width: 100%;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    color: #999;
        background-image: url(../images/detail_order-delivery/S-down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 3.8889vw center;
}
.order .order-change .order-change-info select option {
    color: #999;
}
.order .order-change .order-change-info textarea {
    width: 100%;
    height: 13.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 4.4444vw 3.3333vw 0;
    box-sizing: border-box;
    resize: none;
}
.order .order-change .order-change-info textarea::placeholder {
    color: #999;
    
}

/*목록 공통 css*/
.listBox {
    padding-top: 6.6667vw;
    padding-bottom: 2.2222vw;
    border-bottom: 0.2778vw solid #ccc;
    
}
.listBox h3{
    font-size: 3.8889vw;
    font-weight: 500;
    margin-bottom: 6.6667vw;
}
.listBox .dep1 {}
.listBox .dep1 >li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4.4444vw;
}
.listBox .dep1 > li strong{
    font-size: 3.8889vw;
    font-weight: 400;
    font-weight: 500;
}
.listBox .dep1 > li p{
    font-size: 3.8889vw;
}
.listBox .dep1 > li  p span{

}
.listBox .dep1 > li > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3.3333vw;
}
.listBox .dep1 > li > p , .listBox .dep1 > li > strong {
    font-weight: 500;
}
.listBox .dep1 > li > div > p , .listBox .dep1 > li > div > strong {
    font-weight: 500;
}
.listBox .dep1 .dep2 {
    width: 100%;
    padding-left: 5.5556vw;
    
}
.listBox .dep1 .dep2 > li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4.4444vw;
}
.listBox .dep1 .dep2 > li:last-of-type {
    margin-bottom: 0;
}
.listBox .dep1 .dep2 > li > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4.4444vw;
}
.listBox .dep1 .dep2 > li strong {
    color: #666;
    font-weight: 400;
}
.listBox .dep1 .dep2 > li p {
    color: #666;
}
.listBox .dep1 .dep2 .dep3 {
    width: 100%;
    
}
.listBox .dep1 .dep2 .dep3 li{
    display: flex;
    justify-content: space-between;
    padding-left: 5.5556vw;
}
.listBox .list-more {
    line-height: 5.5556vw;
    padding-right: 6.6667vw;
    background-image: url(../images/detail_order-delivery/circle-down.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: right center;
}
/*결제상세*/

.payment-details {
    width: 88.8889vw;
    margin: 0 auto;
}
.payment-details .payment-details-top {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}
.payment-details .payment-details-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.payment-details .payment-info-wrap {}
/*.payment-details .payment-info-wrap .payment-amount-info{
    padding-bottom: 2.2222vw;
    border-bottom: 0.2778vw solid #ccc;
}*/
.payment-details .payment-details-final {
    padding: 6.6667vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2778vw solid #ccc;
}
.payment-details .payment-details-final h3 {
    font-size: 3.8889vw;
    font-weight: 500;
}
.payment-details .payment-details-final strong {
    font-size: 6.6667vw;
    font-weight: 700;
}
.payment-details .payment-details-btn-wrap {
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;
}
.payment-details .payment-details-btn-wrap ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.payment-details .payment-details-btn-wrap ul li{
    width: 43.3333vw;
    height: 8.8889vw;
    margin-bottom: 2.2222vw;
}
.payment-details .payment-details-btn-wrap ul li a {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 8.8889vw;
    border: 0.2778vw solid #666;
    font-size: 3.6111vw;
    font-weight: 500;
    color: #666;
    box-sizing:border-box; 
}
.payment-details .payment-details-btn-wrap .btn-black {
    background-color: #111;
    color: #fff;
    border: 0;
}
/*payment-method-information*/
.payment-method-information {
    border-bottom: 0;
}
/* 환불정보 */
.refund-amount-info {
    width: 88.8889vw;
    margin: 0 auto;
}
.refund-amount-info .refund-amount-info-top {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}
.refund-amount-info .refund-amount-info-top h2{
    font-size: 5.0000vw;
    font-weight: 500;
}
.refund-amount-info .refund-amount-info-wrap .listBox {
    padding-bottom: 4.4444vw;
    border-bottom: 0.2778vw solid #333;
}
.refund-amount-info .refund-amount-info-wrap .listBox:last-of-type {
    border-bottom: 0;
}
.refund-amount-info .refund-amount-info-wrap .dep1 {
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}
.refund-amount-info .refund-amount-info-wrap .dep1:last-of-type {
    border-bottom: 0;
}
.refund-amount-info .listBox .refund-subject {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}
.refund-amount-info .listBox .deduction-subject {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}
.refund-amount-info .listBox .refund-amount {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 6.6667vw;
}
.refund-amount-info .listBox .refund-amount > div {
    color: #FF2A00;
}
