@charset "utf-8";

label {
    display: inline-block;
}
.top {
    padding: 0 5.5556vw;
    width: 100%;
    height: 22.2222vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 0.2778vw solid #eee;
    z-index: 99;
}

.top h2 {
    font-size: 6.1111vw;
}

.top a {
    width: 6.6667vw;
    height: 6.6667vw;
    font-size: 0;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.6667vw;
}

form {
    width: 88.8889vw;
    padding-top: 22.2222vw;
    margin: 0 auto;
}

form fieldset {
    border: 0;
}

/* CATEGORY */
.category {
}

.category legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.category legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.category legend span img {
    display: block;
    width: 6.6667vw;
}
.category .category-contents {
    display: none;
}
.category .depth1 {
    padding-top: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 4.4444vw;
}

.category .depth1 > li {
    margin-bottom: 4.4444vw;
}
.category .depth1 > li:last-child {
    margin-bottom: 6.6667vw;
}

.category .depth2 {
    margin-top: 4.4444vw;
    padding-left: 5.5556vw;

}

.category .depth2 > li {
    margin-bottom: 4.4444vw;
}

.category .depth3 {
    margin-top: 4.4444vw;
    padding-left: 5.5556vw;
}

.category .depth3 > li {
    margin-bottom: 4.4444vw;
}

.depth3 > li input[type=checkbox] {
    display: none;
}

.depth3 > li input[type=checkbox]:checked + label {
    color: #333;

}

.depth3 > li label {
    /* outline: 0.2778vw solid blue;*/
    display: block;
    width: 100%;
    font-size: 3.8889vw;
    margin-bottom: 4.4444vw;
    color: #999;
}

/* BRAND */
.brand {
}

.brand legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.brand legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.brand legend span img {
    display: block;
    width: 6.6667vw;
}
.brand .brand-contents {
    padding-bottom: 4.4444vw;
    display: none;
}
.brand .brand-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.6667vw;
    padding-top: 6.6667vw;
}

.brand .brand-list li {
    height: 12.2222vw;
    margin-right: 2.2222vw;
    margin-bottom: 2.2222vw;
    display: none;
}

.brand .brand-list li input[type=checkbox] {
    display: none;
}

.brand-list li input[type=checkbox]:checked + label {
    background-color: #333;
    color: #fff;
}

.brand .brand-list li label {
    font-size: 3.6111vw;
    padding: 3.8889vw 6.6667vw;
    border: 0.2778vw solid #eee;
}

.brand .btn {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    text-align: center;
    border: 0.2778vw solid #333;
    box-sizing: border-box;
    color: #333;
}

/* COLOR */
.color {
}

.color legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.color legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.color legend span img {
    display: block;
    width: 6.6667vw;
}
.color .color-contents {
    
     padding-bottom: 4.4444vw;
    display: none;
}
.color .color-list {
    display: flex;
    flex-wrap: wrap;
     padding-top: 6.6667vw;
    padding-bottom: 6.6667vw;
    border-bottom: 1px solid #ccc;
}

.color .color-list li {
    width: 9.1667vw;
    height: 9.1667vw;
    margin-right: 2.2222vw;
    margin-bottom: 2.2222vw;
}

.color .color-list li:nth-child(8n) {
    margin-right: 0;
}

.color .color-list li input[type=checkbox] {
    display: none;
}

.color .color-list li input[type=checkbox]:checked + label {
    box-shadow: 0 0 1.6667vw #999;
}

.color .color-list li label {
    display: block;
    width: 9.1667vw;
    height: 9.1667vw;
    border-radius: 100%;
    box-sizing: border-box;

}

.color .color-list .color1 label {
    background-color: #fff;
    border: 0.2778vw solid #dbdbdb;
}

.color .color-list .color2 label {
    background-color: #856D63;

}

.color .color-list .color3 label {
    background-color: #1C2B4C;

}

.color .color-list .color4 label {
    background-color: #92C298;

}

.color .color-list .color5 label {
    background-color: #FED12E;

}

.color .color-list .color6 label {
    background-color: #6A5179;

}

.color .color-list .color7 label {
    background-color: #E9D8BA;

}

.color .color-list .color8 label {
    background-color: #FFA94C;

}

.color .color-list .color9 label {
    background-color: #000000;

}

.color .color-list .color10 label {
    background-color: #C5913D;

}

.color .color-list .color11 label {
    background-color: #A02921;

}

.color .color-list .color12 label {
    background-color: #84AEE8;

}

.color .color-list .color13 label {
    background-color: #AAAAAA;

}

.color .color-list .color14 label {
    background-color: #FCB9C2;

}

.color .color-list .color15 label {
    background-image: url(../images/filter/color-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9.1667vw;

}

/* SIZE */
.size {
}

.size legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.size legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.size legend span img {
    display: block;
    width: 6.6667vw;
}
.size .size-contents { 
    padding-bottom: 4.4444vw;
    display: none;
}
.size .size-list {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6.6667vw;
    padding-top: 6.6667vw;
}

.size .size-list li {
    height: 12.2222vw;
    margin-right: 2.2222vw;
    margin-bottom: 2.2222vw;
}

.size .size-list li input[type=checkbox] {
    display: none;
}

.size-list li input[type=checkbox]:checked + label {
    background-color: #333;
    color: #fff;
}

.size .size-list li label {
    font-size: 3.6111vw;
    padding: 3.8889vw 6.6667vw;
    border: 0.2778vw solid #eee;
}

/* BENEFIT */
.benefit {
}

.benefit legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.benefit legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.benefit legend span img {
    display: block;
    width: 6.6667vw;
}
.benefit .benefit-contents {
    display: none;
}
.benefit .benefit-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 4.4444vw;
    padding-top: 6.6667vw;
    padding-bottom: 6.6667vw;
}

.benefit .benefit-list li {
    height: 12.2222vw;
    margin-right: 2.2222vw;
    margin-bottom: 2.2222vw;
}

.benefit .benefit-list li input[type=checkbox] {
    display: none;
}

.benefit-list li input[type=checkbox]:checked + label {
    background-color: #333;
    color: #fff;
}

.benefit .benefit-list li label {
    font-size: 3.6111vw;
    padding: 3.8889vw 6.6667vw;
    border: 0.2778vw solid #eee;
}

/* PRICE */
.price {
}

.price legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.price legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.price legend span img {
    display: block;
    width: 6.6667vw;
}

.price .price-contents {
    padding-top: 6.6667vw;
    display: none;
}

.price .price-contents .priceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2222vw;
}
.price .price-contents .priceBox:nth-child(2) {
    margin-bottom: 4.4444vw;
}

.price .price-contents .priceBox label {
    font-size: 3.6111vw;
    font-weight: 500;
}
.price .price-contents .priceBox .inputBox {
    position: relative;
}
.price .price-contents .priceBox .inputBox input[type=number] {
    width: 65.8333vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    position: relative;
    border: 0.2778vw solid #ccc;
    font-size: 3.8889vw;
    font-weight: 500;
    padding:0 7.2222vw 0 5.5556vw ;
    box-sizing: border-box;
    text-align: right;
}
.price .price-contents .priceBox .inputBox p {
    position: absolute;
    right: 3.8889vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.3333vw;
    font-weight: 500;
}


.price .price-contents .serch-btn {
    border-bottom: 0.2778vw solid #eee;
    padding-bottom: 6.6667vw;
}

.price .price-contents input[type=submit] {
    width: 88.8889vw;
    height: 13.3333vw;
    background-color: #fff;
    border: 0.2778vw solid #333;
    font-size: 3.8889vw;
    font-weight: 500;
}


/* PURPOSE */
.purpose {
    padding-bottom: 38.8889vw;
}

.purpose legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    position: relative;
    border-bottom: 0.2778vw solid #333;
}

.purpose legend span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.purpose legend span img {
    display: block;
    width: 6.6667vw;
    
}
.purpose .purpose-contents {
    display: none;
}
.purpose .purpose-list {
    padding-top: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    padding-bottom: 6.6667vw;
    
}

.purpose .purpose-list li {
    display: flex;
    margin-bottom: 3.3333vw;
    align-items: center;
}
.purpose .purpose-list li:last-child {
    margin-bottom: 0;
}

.purpose .purpose-list li input {
    width: 5.5556vw;
    height: 5.5556vw;
    margin-right: 2.2222vw;
    position: relative;
    accent-color : black;
}

.purpose .purpose-list li input:checked::after {
    background-color: aqua;
}

.purpose .purpose-list li label {}

.bottom {
    width: 100%;
    padding: 0 5.5556vw;
    box-sizing: border-box;
    height: 27.7778vw;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom input {
    width: 43.3333vw;
    height: 13.3333vw;
    border: 0;
    font-size: 3.8889vw;
    font-weight: 500;
    box-sizing: border-box;
    border: 0.2778vw solid #333;
}

.bottom input:first-of-type {
    background-color: #fff;
}

.bottom input:last-of-type {
    background-color: #333;
    color: #fff;
}
