@charset "utf-8";


* {
    padding: 0;
    margin: 0;
}
ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: 'Pretendard';
    
}

/************header*****************/
header {}

.hTop {
    height: 52px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    /*outline: 1px solid red; */

}

.hTop .logo {
    height: 15px;
    /*float: left;*/
}

.logo a {
    display: inline-block;
    width: 160px;
    height: 100%;
    text-indent: -9999px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: auto 15px;
    background-position: left;
    /*outline: 2px solid red;*/

}

.logo a img {
    height: 100%;
}

.util {
    position: absolute;
    top: 18px;
    right: 20px;
    /*outline: 1px solid blue;*/
}

.util li {
    float: left;


}

.util li:last-child {
    margin-left: 20px;
}

.util li a {
    width: 20px;
    height: 20px;

}

.util li a img {
    height: 100%;
}

.hBottom {
    height: 50px;
    /*outline: 1px solid blue;*/
    padding-left: 10px;
    /*box-sizing: border-box;*/

}

.hBottom nav {
    width: 100%;
    overflow: hidden;

}

.hBottom nav ul {
    width: 300%;
    /*outline: 1px solid red;*/

}

.hBottom nav ul li {
    line-height: 50px;
    float: left;
    padding: 0 10px;

}

.hBottom nav ul li a {
    color: #999;
    position: relative;
}

nav ul li a .line {
    width: 100%;
    height: 4px;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

nav ul li a:hover {}

nav ul li a:hover .line {
    display: block;
}

.bottom-menu {
    width: 100%;
    height: 57px;
    /*outline: 1px solid lime;*/
    display: flex;
    justify-content: space-between;
    /*position: relative;*/
    vertical-align: middle;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    background-color: #fff;
    text-align: center;
}

.bottom-menu a {
    width: 100%;
    float: left;
    line-height: 57px;
    position: relative;
    /*outline: 1px solid red; */
}

.bottom-menu a ul {
    display: none;
}

.bottom-menu a img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

/************main******************/

main {
    width: 100%;
    height: 540px;
    background-image: url(../images/KV.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 105px;

}

main .tit {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 360px;
    /*left: 50%;
    transform: translateX(-50%);*/
    /*outline: 1px solid blue;*/

}

main .des {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 384px;
    /*left: 50%;
    transform: translateX(-50%);*/
    font-size: 40px;
    /*s*/

}

main .indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
}

main .indicator li {
    /*float: left;*/
    width: 6px;
    height: 6px;
    /*outline: 1px solid red;*/
    border-radius: 100%;
    overflow: hidden;
    float: left;
    border: 1px solid #666;
    box-sizing: border-box;



}

main .indicator li ~ li {
    margin-left: 8px;
    margin-top: 2px;
}

main .indicator li:first-child {
    width: 10px;
    height: 10px;

}

main .indicator li:first-child a {
    background-color: #fff;
}

main .indicator li a {
    width: 100%;
    height: 100%;
    background-color: #666;
}

/*******section*******************/

.navigator {
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.navigator ul {
    width: 400%;

}

.navigator ul li {
    width: 120px;
    height: 120px;
    /*outline: 1px solid blue;*/
    border-radius: 100%;
    text-align: center;
    float: left;
}

.navigator ul li ~ li {
    margin-left: 8px;
}

.navigator ul li a {}

.navigator ul li a img {
    display: block;
}

/******trending*********************/

.trending {
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.trending h2 {
    margin-bottom: 16px;
}

.trending .box-wrap {
    width: 400%;
}

.trending .box-wrap .box {
    width: 320px;
    height: 320px;
    /*outline: 1px solid red;*/
    float: left;
}

.trending .box-wrap .box ~ .box {
    margin-left: 8px;
}

.trending .box-wrap .box a {
    width: 100%;
    height: 100%;
    background-image: url(../images/trendingNow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.trending .box-wrap .box a p {
    width: 272px;
    color: #fff;
    position: absolute;
    left: 24px;
}

.trending .box-wrap .box a .tit {
    font-size: 24px;
    top: 218px;
}

.trending .box-wrap .box a .des {
    font-size: 14px;
    top: 256px;
}

/********today******************/
.today {
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 60px;
}

.today h2 {
    margin-bottom: 24px;
}

.today .todayNavi {
    width: 400%;
    margin-bottom: 20px;
}

.today .todayNavi li {
    float: left;
    height: 44px;
    /*outline: 1px solid red;*/
    /*background-color: #333;*/
    border: 1px solid #eee;


}

.today .todayNavi li ~ li {
    margin-left: 8px;
}

.today .todayNavi li a {
    display: inline-block;
    height: 100%;
    color: #333;
    padding: 12px 24px;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
    font-weight: bold;
    /* outline: 1px solid red;*/
}

.today .todayNavi li a:hover {
    background-color: #333;
    color: #fff;
}

.today .box-wrap {
    width: 400%;
}

.today .box-wrap .box {
    width: 156px;
    float: left;
    /* outline: 1px solid red;*/
}

.today .box-wrap .box ~ .box {
    margin-left: 8px;
}

.today .box-wrap .box .img-box {
    width: 100%;
    /*outline: 1px solid red;*/
    position: relative;
    /*like*/
    margin-bottom: 12px;
}

.today .box .img-box img {
    display: block;
}

.today .box .img-box .like {
    position: absolute;
    top: 11px;
    right: 10px;

}

.today .box .img-box .like img {}

.today .box .sel-color {
    margin-bottom: 12px;
}

.today .box .sel-color li {
    width: 24px;
    height: 24px;
    float: left;

    overflow: hidden;
}

.today .box .sel-color li ~ li {
    margin-left: 8px;
}

.today .box .sel-color li a {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    /*span기준*/

}

.today .box .sel-color li:first-child a {
    border: 1px solid #111;
}

.today .box .sel-color li:nth-child(2) a {
    border: 1px solid #eee;
}

.today .box .sel-color li a span {
    display: block;
    width: 74%;
    height: 74%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.today .box .sel-color li:first-child a span {
    background-color: #856D63;
}

.today .sel-color li:nth-child(2) a span {
    background-color: #aaa;
}

.today .box:nth-child(2) .sel-color li:first-child a span {
    background-color: #FCB9C2;
}

.today .box:nth-child(2) .sel-color li:nth-child(2) a span {
    background-color: #E9D8BA;
}

.today .box .box-txt {
    margin-bottom: 37px;
}

.today .box .box-txt a {
    color: #333;
}

.today .box .box-txt .brand {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}

.today .box .box-txt .name {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px;
}

.today .box .box-txt .sale {
    font-size: 12px;
    text-decoration: line-through;
    color: #999;
    margin-bottom: 4px;
}

.today .box .box-txt .price {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;

}

.today .box .box-txt .per {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.today .btn {
    width: 320px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
}

/**********new******************/
.brand-new {
    padding: 0 20px;
    margin-bottom: 60px;
}

.brand-new h2 {
    /*font-size: 24px;*/
    margin-bottom: 24px;
    font-weight: 500;
}

.brand-new .new-box {
    margin-bottom: 48px;
}

.brand-new .new-box .new-img-box {}

.brand-new .new-box .new-img-box a {
    margin-bottom: 12px;
}

.brand-new .new-box .new-img-box a img {
    display: block;
    width: 100%;

}

.brand-new .new-box .pro-name {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #666;
}

.brand-new .new-box .pro-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.brand-new .new-box .pro-des {
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

/*****week**********************/
.week {
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.week h2 {
    text-transform: capitalize;
    margin-bottom: 13px;
}

.week .box-wrap {
    width: 400%;
}

.week .box-wrap .box {
    width: 320px;
    height: 480px;
    /*outline: 1px solid red;*/
    float: left;
}

.week .box-wrap .box ~ .box {
    margin-left: 8px;
}

.week .box-wrap .box a {
    position: relative;
}

.week .box-wrap .box a img {
    display: block;
    width: 100%;
}

.week .box-wrap .box a p {
    position: absolute;
    left: 24px;
    color: #fff;

}

.week .box-wrap .box a .tit {
    top: 400px;
    font-size: 24px;
    font-weight: 500;
}

.week .box-wrap .box a .des {
    top: 436px;
    font-size: 14px;
}

/********banner************************/
.banner {
    width: 100%;
    height: 79px;
    margin-bottom: 60px;
}

.banner a {}

.banner a img {
    display: block;
    width: 100%;
}

/*********best********************/
.best {
    padding-left: 20px;
    margin-bottom: 60px;
    overflow: hidden;
}

.best h2 {
    font-weight: 500;
    margin-bottom: 16px;
}

.best .box-wrap {
    width: 400%;
}

.best .box-wrap .box {
    width: 156px;
    float: left;
    /* outline: 1px solid red;*/
}

.best .box-wrap .box ~ .box {
    margin-left: 8px;
}

.best .box-wrap .box .img-box {
    width: 100%;
    /*height: 234px;*/
    /*outline: 1px solid red;*/
    position: relative;
    /*like*/
    margin-bottom: 12px;
}

.best .box .img-box img {
    display: block;
}

.best .box .img-box .like {
    position: absolute;
    top: 11px;
    right: 10px;

}

.best .box .img-box .like img {}

.best .box .img-box .best-num {
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    bottom: -23px;
    right: 6px;
}

.best .box .sel-color {
    margin-bottom: 12px;
}

.best .box .sel-color li {
    width: 24px;
    height: 24px;
    float: left;

    overflow: hidden;
}

.best .box .sel-color li ~ li {
    margin-left: 8px;
}

.best .box .sel-color li a {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    /*span기준*/

}

.best .box .sel-color li:first-child a {
    border: 1px solid #111;
}

.best .box .sel-color li:nth-child(2) a {
    border: 1px solid #eee;
}

.best .box .sel-color li a span {
    display: block;
    width: 74%;
    height: 74%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.best .box .sel-color li:first-child a span {
    background-color: #856D63;
}

.best .sel-color li:nth-child(2) a span {
    background-color: #aaa;
}

.best .box:nth-child(2) .sel-color li:first-child a span {
    background-color: #FCB9C2;
}

.best .box:nth-child(2) .sel-color li:nth-child(2) a span {
    background-color: #E9D8BA;
}

.best .box .box-txt {
    margin-bottom: 37px;
}

.best .box .box-txt a {
    color: #333;
}

.best .box .box-txt .brand {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}

.best .box .box-txt .name {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px;
}

.best .box .box-txt .sale {
    font-size: 12px;
    text-decoration: line-through;
    color: #999;
    margin-bottom: 4px;
}

.best .box .box-txt .price {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;

}

.best .box .box-txt .per {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.best .btn {
    width: 320px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
}

/**********trend*********************/
.trend {
    /*padding-left: 20px;*/
    overflow: hidden;
}

.trend h2 {
    font-weight: 500;
    padding: 0 20px;
}

.trend .container {
    margin-bottom: 48px;
}

.trend .container .intro {
    padding: 0 20px;
    margin-bottom: 16px;
}

.trend .container .intro a {
    margin-bottom: 16px;
}

.trend .container .intro a img {
    display: block;
    width: 100%;

}

.trend .container .intro h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.trend .container .intro p {
    font-size: 14px;
    color: #666;
}

.trend .container .box-wrap {
    width: 400%;
    padding-left: 20px;
}

.trend .classic .box-wrap {
    margin-bottom: 51px;
}

.trend .container .box-wrap .box {
    float: left;
    width: 101px;

}

.trend .container .box-wrap .box ~ .box {
    margin-left: 8px;
}

.trend .container .box-wrap .box a {}

.trend .container .box-wrap .box a img {
    display: block;
    width: 100%;
}

.trend .container .box-wrap .box .tit {
    font-size: 13px;
    margin-bottom: 12px;
    text-overflow: ellipsis;

}

.trend .container .box-wrap .box .des {
    font-size: 14px;
    font-weight: 700;
}



.trend .in-classic {
    width: 100%;
    text-align: center;

}

.trend .in-classic a {
    width: 100%;
    height: 480px;
    background-image: url(../images/in_classic_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
}
.trend .in-classic a span {
    display: block;
    width: 320px;
    /*outline: 1px solid red;*/
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.trend .in-classic a p {
    /*width: 100%;*/
    /*position: absolute;*/
    color: #fff;
}

.trend .in-classic a .tit {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    /*transform: translateX(-50%);*/

}

.trend .in-classic a .des {
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    /*transform: translateX(-50%);*/

}

/***********review******************/
.review {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 60px;
    overflow: hidden;
    box-sizing: border-box;
}
.review h2 {
    font-weight: 500;
    margin-bottom: 16px;
}
.review .box-wrap {
    width: 400%;
}
.reviewBox {
    width: 320px;
    background-color: #eee;
    padding: 32px 24px;
    box-sizing: border-box;
    float: left;
}
.reviewBox ~ .reviewBox {
    margin-left: 8px;
}
.reviewBox .img-box {
    margin-bottom: 16px;
}
.reviewBox .img-box img{
    display: block;
    width: 100%;
}
.reviewBox .satis {
    margin-bottom: 12px;
}
.reviewBox .sat-star {
    float: left;
    
}
.reviewBox .sat-star li {
    float: left;
}
.reviewBox .sat-score {
    float: left;
    font-weight: 500;
    margin-left: 12px;
    
}
.reviewBox .contents {
    width: 100%;
    height: 70px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
}
.reviewBox .pro-box {
    background-color: #fff;
    padding: 16px 0 16px 16px;
    /*box-sizing: border-box;*/
}
.reviewBox .pro-box .thumb-img {
    float: left;
   
}
.reviewBox .pro-box .thumb-img img {
    display: block;
    width: 100%;
}
.reviewBox .pro-box .pro-txt {
    float: left;
    margin-left: 16px;
    
}
.reviewBox .pro-box .pro-txt .brand {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
}
.reviewBox .pro-box .pro-txt .tit {
    font-size: 14px;
    margin-bottom: 8px;
}
.reviewBox .pro-box .pro-txt .price {
    font-weight: 700;
}

/*************footer****************/
footer {
    background-color: #f6f6f6;
    padding: 32px 20px 100px;
    box-sizing: border-box;
}
footer h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    
}
footer .adress {
    width: 300px;
    margin-bottom: 32px;
    
}
footer .adress li {
    float: left;
    font-size: 13px;
    color: #666;margin-bottom: 8px;
}
footer .adress li:first-child {
    position: relative;
    
}
footer .adress li:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #666;
    position: absolute;
    top: 2px;
    right: -12px;
    
}
footer .adress li:nth-child(2) {
    margin-left: 24px;
}
footer .link {
    width: 300px;
    margin-bottom: 28px;
}
footer .link li{
    float: left;
    line-height: 28px;
    margin-bottom: 8px;
}
footer .link li~li {
    margin-left: 16px;
}
footer .link li:nth-child(5) {
    margin-left: 0;
}
footer .link li a{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}


footer .foot-sns {
    width: 300px;
    margin-bottom: 16px;
}
footer .foot-sns li{
    float: left;
}
footer .foot-sns li a{}
footer .foot-sns li a img{
    display: block;
    width: 100%;
}
footer .copy {
    font-size: 12px;
    color: #999;
}










