@charset "utf-8";


* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: 'Pretendard';

}
p {
    font-size: 4.4444vw;
}
/************header*****************/
/* header {} */

.hTop {
    height: 14.4444vw;
    padding: 5.5556vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hTop .logo {
    height: 4.1667vw;
   
}

.hTop .util {
    display: flex;
    width: 16.6667vw;
    justify-content: space-between;
    align-items: center;

}

.hTop .util li {
    width: 6.6667vw;
}

.hTop .util li a {}

.hTop .util li a img {display: block;
width: 100%;}

.logo a {
    width: 44.4444vw;
    height: 100%;
    text-indent: -2777.5000vw;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: auto 4.1667vw;
}

.gnb {
    position: sticky;
    top: 0;
    overflow: auto;

}
.gnb::-webkit-scrollbar {
    display: none;
}
.gnb ul {
    width: 100%;
    display: table;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 2.2222vw;
}
.gnb ul li{
    display: inline-block;
    
    
}
.gnb ul li a{
    padding: 3.6111vw 3.3333vw;
    color: #999;
    font-weight: 500;
    position: relative;
    font-size: 4.4444vw;
}
.gnb ul li a::after {
    content: "";
    display: none;
    width: calc(100% - 6.6667vw);
    height: 1.1111vw;
    background-color: #111;
    position: absolute;
    bottom: 0;
    left: 3.3333vw;
}
.gnb ul li:first-child a {
    color: #111;
}
.gnb ul li:first-child a::after {
    display: block;
}


/*.gnb .swiper-wrapper .swiper-slide:hover a::after {
    opacity: 1;
}*/

.bottom-menu {
    padding: 5.5556vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 16.6667vw;
    border-top: 0.2778vw solid #eee;
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    z-index: 99;
}

/* aside */
aside {
    position: fixed;
    bottom: 19.1667vw;
    right: 3.3333vw;
    z-index: 999;
}
aside li{
    width:11.1111vw;
    height: 11.1111vw;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 2.2222vw;

}
aside li a{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
}
aside li a img{
    display: block;
    width: 6.6667vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



/*main*/
main {
    margin-bottom: 29.1667vw;
}

main .swiper-slide {
    position: relative;
}

main .main-img {
    width: 100%;
    display: block;
    cursor: pointer;
}
main .main-img img {
    width: 100%;
}
main .main-txt {
    text-align: center;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
}

main .main-txt .tit {
    margin-bottom: 2.7778vw;
    font-size: 4.4444vw;
    color: #fff;
}
main .main-txt .des {
    font-size: 11.1111vw;
    width: 83.3333vw;
    color: #fff;
    
}


.swiper-pagination-bullet {
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    background-color: #666;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    transform: scale(1.3)
}
.navigator {
    padding: 0 5.5556vw;
    margin-bottom: 16.6667vw;
}
/* .navigator .swiper-wrapper{} */
.navigator .swiper-wrapper .swiper-slide{
    width: 33.3333vw;
    height: 33.3333vw;
    position: relative;
}
.navigator .swiper-wrapper .swiper-slide ~ .swiper-slide {
    padding-left: 2.2222vw;
}
.navigator .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
}
.navigator .swiper-wrapper .swiper-slide a img{
    display: block;
    width: 100%;
}
.navigator .swiper-wrapper .swiper-slide a p{
    text-align: center;
    line-height: 9.1667vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    width: 18.0556vw;
    height: 9.1667vw;
    background-color: rgba(0, 0, 0, 0.32);
}

/***section*******************/
section h2 {
    font-size: 6.6667vw;
    font-weight: 500;
    margin-bottom: 4.4444vw;
}
/*******************trending*******************/
.trending {
    margin-bottom: 16.6667vw;
}
.trending h2 {
    margin-left: 5.5556vw;
}
/* .trending .trend-slide{} */
.trending .trend-slide .swiper-wrapper{
    margin-left: 5.5556vw;
}
.trending .trend-slide .swiper-wrapper .swiper-slide{
    width: 88.8889vw;
    height: 88.8889vw;
    margin-right: 2.2222vw;
    position: relative;
}
.trending .trend-slide .swiper-wrapper .swiper-slide:last-child {
    margin-right: 11.1111vw;
}
.trend-slide .swiper-wrapper .swiper-slide a{
    width: 88.8889vw;
    height: 88.8889vw;
    background-image: url(../images/trendingNow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.trend-slide .swiper-wrapper .swiper-slide a p {
    color: #fff;
     width: 75.5556vw;
    position: absolute;
    left: 6.6667vw;
}
.trend-slide .swiper-wrapper .swiper-slide a .tit{
    font-size: 6.6667vw;
    line-height: 8.8889vw;
    margin-bottom: 1.6667vw;
    top: 60.5556vw;
    
}
.trend-slide .swiper-wrapper .swiper-slide a .des{
    font-size: 3.8889vw;
    top: 71.1111vw;
}
/**********today*******/
.today {
    margin-bottom: 16.6667vw;
}
.today h2 {
    padding-left: 5.5556vw;
}
.today .today-navi {
    overflow: auto;
    margin-bottom: 5.5556vw;
}
.today .today-navi::-webkit-scrollbar {
    display: none;
}
.today .today-navi ul{
    display: table;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5.5556vw;
}
.today .today-navi ul li{
    display: inline-block;
    margin-right: 2.2222vw;
}
.today .today-navi ul li:last-child {
    margin-right: 5.5556vw;
}
.today .today-navi ul li a{
    padding: 3.7500vw 6.6667vw;
    background-color: #fff;
    color: #999;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 3.8889vw;
}
.today .today-navi ul .active a {
    background-color: #111;
    color: #fff;
    border-color: #111;
}
.pdt2 .swiper-wrapper {
    margin-left: 5.5556vw;
}
.pdt2 .swiper-wrapper .swiper-slide{
    width: 43.3333vw;
    margin-right: 2.2222vw;
    margin-bottom: 10.2778vw;
}
.pdt2 .swiper-wrapper .swiper-slide:last-child {
    margin-right: 11.1111vw;
}
.pdt2 .swiper-wrapper .swiper-slide .img-box{width: 100%; position: relative; margin-bottom: 3.3333vw;}
.pdt2 .swiper-wrapper .swiper-slide .img-box > img{display: block; width: 100%;}
.swiper-slide .img-box .like{
    width: 5.5556vw; position: absolute;
    top: 3.0556vw; right: 2.7778vw;
}
.swiper-slide .img-box .like img{display: block;}
.swiper-slide .sel-color {display: flex; margin-bottom: 3.3333vw;}
.swiper-slide .sel-color li{
    width: 6.6667vw; height: 6.6667vw;
    margin-right: 2.2222vw;
}
.swiper-slide .sel-color li a{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.swiper-slide .sel-color li:first-child a {
    border: 0.2778vw solid #111;
}
.swiper-slide .sel-color li:last-child a {
    border: 0.2778vw solid #eee;
}
.swiper-slide .sel-color li a span{
    border-radius: 100%;
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
}
.sel-color li .brown { background-color: #856D63;}
.sel-color li .gray {background-color: #AAAAAA;}
.sel-color li .pink {background-color: #FCB9C2;}
.sel-color li .gold {background-color: #E9D8BA;}
/* .swiper-slide .box-txt {} */
.swiper-slide .box-txt .brand{
    font-weight: 500;
    font-size: 3.3333vw;
    color: #111;
    margin-bottom: 1.1111vw;
    
}
.swiper-slide .box-txt .name{
    font-size: 3.6111vw;
    color: #111;
    margin-bottom: 3.3333vw;
}
.swiper-slide .box-txt .sale {
    font-size: 3.3333vw;
    text-decoration: line-through;
    color: #999;
    margin-bottom: 1.1111vw;
}
.swiper-slide .box-txt .price{
    font-size: 3.8889vw;
    font-weight: 700;
}
.swiper-slide .box-txt .per{
    margin-left: 2.7778vw;
}
.today .btn {
    width: 88.8889vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    font-size: 3.8889vw;
    border: 0.2778vw solid #333;
    text-align: center;
    font-weight: 500;
    font-size: 3.8889vw;
    box-sizing: border-box;
    margin-bottom: 16.6667vw;
    margin: 0 auto;
    color: #111;
}

.brand-new {
    padding: 0 5.5556vw;
    margin-bottom: 3.3333vw;
}
.new-box {width: 100%; margin-bottom:13.3333vw; }
.new-box .new-img-box{margin-bottom: 3.3333vw;}
.new-box .new-img-box a {display: block; width: 100%;}
.new-box .new-img-box a img {display: block; width: 100%;}
.new-box .pdt-name{font-size: 3.6111vw; margin-bottom: 2.2222vw;}
.new-box .pdt-title{font-size: 6.6667vw; font-weight: 500; margin-bottom: 1.6667vw;}
.new-box .pdt-des{font-size: 3.8889vw; line-height: 5.5556vw; }

/* week */
.week {
    margin-bottom: 16.6667vw;
}
.week h2 {
    margin-left: 5.5556vw;
}
/* .week-slide {} */
.week-slide .swiper-wrapper{
    margin-left: 5.5556vw;
}
.week-slide .swiper-wrapper .swiper-slide{
    width: 88.8889vw;
    margin-right: 2.2222vw;
}
.week-slide .swiper-wrapper .swiper-slide:last-child{
    margin-right: 11.1111vw;
}
.week-slide .swiper-wrapper .swiper-slide a{
    width: 100%;
    color: #fff;;
    position: relative; /* text */
}
.week-slide .swiper-wrapper .swiper-slide a img{
    width: 100%;
    display: block;
}
.week-slide .swiper-wrapper .swiper-slide a .tit{
    width: 75.5556vw;
    font-size: 6.6667vw;
    font-weight: 500;
    position: absolute;
    top: 110.5556vw;
    left: 6.6667vw;
}
.week-slide .swiper-wrapper .swiper-slide a .des{
    width: 75.5556vw;
    font-size: 3.8889vw;
    position: absolute;
    top: 121.1111vw;
    left: 6.6667vw;

}
.banner {
    width: 100%; 
    margin-bottom: 16.6667vw;;
}
.banner a { width: 100%;}
.banner a img { width: 100%; display: block;}

.best {
 margin-bottom: 16.6667vw;  
}
.best h2 {
    margin-left: 5.5556vw;
}
.best .btn {
    width: 88.8889vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    font-size: 3.8889vw;
    border: 0.2778vw solid #333;
    text-align: center;
    font-weight: 500;
    font-size: 3.8889vw;
    box-sizing: border-box;
    margin-bottom: 16.6667vw;
    margin: 0 auto;
    color: #111;
}

/* trend */
/**********trend*********************/
.trend {
    /*padding-left: 5.5556vw;*/
    overflow: hidden;
}

.trend h2 {
    font-weight: 500;
    padding: 0 5.5556vw;
}

.trend .container {
    margin-bottom: 13.3333vw;
}

.trend .container .intro {
    padding: 0 5.5556vw;
    margin-bottom: 4.4444vw;
}

.trend .container .intro a {
    margin-bottom: 4.4444vw;
}

.trend .container .intro a img {
    display: block;
    width: 100%;

}

.trend .container .intro h3 {
    font-size: 5.5556vw;
    font-weight: 500;
    margin-bottom: 1.6667vw;
}

.trend .container .intro p {
    font-size: 3.8889vw;
    color: #666;
}

.trend .container .pdt3 {
    width: 400%;
    padding-left: 5.5556vw;
}

.trend .classic .pdt3 {
    margin-bottom: 14.1667vw;
}

.trend .container .pdt3 .box {
   /*  float: left; */
    width: 28.0556vw;
    margin-right: 2.2222vw;
    word-break: keep-all;

}

.trend .container .pdt3 .box:last-child {
    margin-right: 11.1111vw;
}

.trend .container .pdt3 .box a {
    margin-bottom: 3.3333vw;
}

.trend .container .pdt3 .box a img {
    display: block;
    width: 100%;
}

.trend .container .pdt3 .box .tit {
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    text-overflow: ellipsis;

}

.trend .container .pdt3 .box .des {
    font-size: 3.8889vw;
    font-weight: 700;
}



.trend .in-classic {
    width: 100%;
    text-align: center;

}

.trend .in-classic a {
    width: 100%;
    height: 133.3333vw;
    background-image: url(../images/in_classic_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
}
.trend .in-classic a span {
    display: block;
    width: 88.8889vw;
    /*outline: 0.2778vw solid red;*/
    position: absolute;
    top: 55.5556vw;
    left: 50%;
    transform: translateX(-50%);
}

.trend .in-classic a p {
    /*width: 100%;*/
    /*position: absolute;*/
    color: #fff;
}

.trend .in-classic a .tit {
    font-size: 6.6667vw;
    font-weight: 700;
    margin-bottom: 3.3333vw;
    /*transform: translateX(-50%);*/

}

.trend .in-classic a .des {
    font-size: 3.8889vw;
    line-height: 5.5556vw;
    word-break: keep-all;
    /*transform: translateX(-50%);*/

}

/***********review******************/
.review {
    width: 100%;
    margin-bottom: 16.6667vw;
    overflow: hidden;
    box-sizing: border-box;
}
.review h2 {
    margin-bottom: 4.4444vw;
    margin-left: 5.5556vw;
}
.review .box-wrap {
    margin-left: 5.5556vw;
}
.reviewBox {
    width: 88.8889vw;
    background-color: #eee;
    padding: 8.8889vw 6.6667vw;
    box-sizing: border-box;
    margin-right: 2.2222vw;
}
.reviewBox:last-child {
    margin-right: 11.1111vw;
}
.reviewBox .img-box {
    margin-bottom: 4.4444vw;
}
.reviewBox .img-box img{
    display: block;
    width: 100%;
}
.reviewBox .satis {
    margin-bottom: 3.3333vw;
    display: flex;
}
.reviewBox .sat-star {
    display: flex;
    
}
.reviewBox .sat-star li {
    width: 4.7222vw;
    height: 4.4444vw;
}
.reviewBox .sat-star li img {
    width: 100%;
}
.reviewBox .sat-score {
    /* float: left; */
    font-weight: 500;
    margin-left: 3.3333vw;
    
}
.reviewBox .contents {
    width: 100%;
    height: 19.4444vw;
    overflow: hidden;
    font-size: 3.8889vw;
    line-height: 6.6667vw;
    margin-bottom: 6.6667vw;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.reviewBox .pro-box {
    background-color: #fff;
    padding: 4.4444vw 0 4.4444vw 4.4444vw;
    display: flex;
    /*box-sizing: border-box;*/
}
.reviewBox .pro-box .thumb-img {  
    width: 19.7222vw;
}
.reviewBox .pro-box .thumb-img img {
    display: block;
    width: 100%;
}
.reviewBox .pro-box .pro-txt {
    margin-left: 4.4444vw;
    
}
.reviewBox .pro-box .pro-txt .brand {
    font-size: 3.6111vw;
    font-weight: 500;
    margin-bottom: 1.1111vw;
}
.reviewBox .pro-box .pro-txt .tit {
    font-size: 3.8889vw;
    margin-bottom: 2.2222vw;
}
.reviewBox .pro-box .pro-txt .price {
    font-weight: 700;
}

/*************footer****************/
footer {
    background-color: #f6f6f6;
    padding: 8.8889vw 5.5556vw 27.7778vw;
    box-sizing: border-box;
}
footer h3 {
    font-size: 4.4444vw;
    font-weight: 500;
    margin-bottom: 3.3333vw;
    
}
footer .adress {
    width: 83.3333vw;
    margin-bottom: 8.8889vw;
    display: flex;
    flex-flow: row wrap;
}
footer .adress li {
    /* float: left; */
    font-size: 3.6111vw;
    color: #666;margin-bottom: 2.2222vw;
}
footer .adress li:first-child {
    position: relative;
    
}
footer .adress li:first-child::after {
    content: "";
    display: block;
    width: 0.2778vw;
    height: 3.3333vw;
    background-color: #666;
    position: absolute;
    top: 0.5556vw;
    right: -3.3333vw;
    
}
footer .adress li:nth-child(2) {
    margin-left: 6.6667vw;
}
footer .link {
    width: 83.3333vw;
    margin-bottom: 7.7778vw;
    display: flex;
    flex-flow: row wrap;
}
footer .link li{
    /* float: left; */
    line-height: 7.7778vw;
    margin-bottom: 2.2222vw;
}
footer .link li~li {
    margin-left: 4.4444vw;
}
footer .link li:nth-child(5) {
    margin-left: 0;
}
footer .link li a{
    font-size: 3.8889vw;
    font-weight: 500;
    color: #333;
}


footer .foot-sns {
    width: 83.3333vw;
    margin-bottom: 4.4444vw;
    display: flex;
}
footer .foot-sns li{
   margin-left: 6.1111vw;
}
footer .foot-sns li:first-child {
    margin-left: 3.0556vw;
}


footer .foot-sns li a img{
    display: block;
    width: 6.6667vw;
}
footer .copy {
    font-size: 3.3333vw;
    color: #999;
}


