@charset"utf-8";

body {
    padding-top: 14.4444vw;
}

header {
    width: 100%;
    height: 14.4444vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 0.2778vw solid #eee;
}

header .navibar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5.5556vw;
    box-sizing: border-box;
    background-color: #fff;

}

header .navibar li {
    height: 100%;
    display: flex;
    align-items: center;

}

header .navibar li a {
    width: 6.6667vw;
    height: 6.6667vw;
    font-size: 0;
}

header .navibar li a:last-child {
    margin-left: 5.5556vw;
}

header .navibar li a img {
    display: block;
    width: 100%;
}



/** section **/
.ordersheet-contents {
    width: 88.8889vw;
    margin: 0 auto;
    padding-bottom: 16.6667vw;
}

.ordersheet-contents h2 {
    font-size: 6.6667vw;
    font-weight: 500;
    padding: 6.6667vw 0;
    border-bottom: 0.2778vw solid #333;
}
.ordersheet-contents input[type=checkbox]{
    display: none;
}
.ordersheet-contents input[type=checkbox] + label {
    line-height: 5.5556vw;
    padding-left: 7.7778vw;
    position: relative;
}
.ordersheet-contents input[type=checkbox] + label::before {
    content: "";
    display: block;
    width: 5.5556vw;
    height: 5.5556vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}
.ordersheet-contents input[type=checkbox]:checked + label::before {
    background-image: url(../images/ordersheet/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: center;
}
.ordersheet-contents input[type=checkbox] + label:focus{
    outline: none;
}
.ordersheet-contents input[type=checkbox] + label:focus-visible::before{
    outline: 2px solid #000;
}

.ordersheet-contents .signUp {
    padding-top: 11.1111vw;
    text-align: center;
    background-image: url(../images/ordersheet/coupon.svg);
    background-repeat: no-repeat;
    background-size: 88.8889vw;
    background-position: center bottom 37.7778vw;
    padding-bottom: 11.1111vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;
}

.ordersheet-contents .signUp p {
    font-weight: 500;
    font-size: 4.4444vw;
    margin-bottom: 6.6667vw;
}

.ordersheet-contents .signUp h4 {
    font-size: 5.0000vw;
    font-weight: 600;
    margin-bottom: 44.4444vw;
}

.ordersheet-contents .signUp a {
    width: 83.3333vw;
    margin: 0 auto;
    height: 15.5556vw;
    line-height: 15.5556vw;
    background-color: #111;
    color: #fff;
    font-size: 5.0000vw;
    font-weight: 500;
}

.ordersheet-contents form {}

form fieldset {
    border: 0;
}


form .non-members-agreement {
    padding-bottom: 3.3333vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;

}

form .non-members-agreement legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #111;
    margin-bottom: 6.6667vw;
}

form .non-members-agreement p {
    font-size: 3.8889vw;
    font-weight: 400;
    color: #666;
    line-height: 5.5556vw;
    margin-bottom: 2.2222vw;
}

form .non-members-agreement div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.3333vw;
    align-items : flex-start;
}

/*form .non-members-agreement div input {
    width: 5.5556vw;
    height: 5.5556vw;
    accent-color: black;

}*/

form .non-members-agreement div label {
    line-height: 5.5556vw;
   /* margin-left: 2.2222vw;*/
    font-size: 3.8889vw;
    font-weight: 500;
    margin-bottom: 1.1111vw;
}

form .non-members-agreement div a {
    font-size: 3.6111vw;
    font-weight: 500;
    color: #999;
    text-indent: 8.0556vw;
    text-decoration: underline;
}

/**  customer-order **/
.customer-order {
    padding-bottom: 3.3333vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;
}

.customer-order legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #111;
    margin-bottom: 6.6667vw;
}

.customer-order .gray-box {
    padding: 6.6667vw 5.5556vw 6.6667vw 8.8889vw;
    background-color: #f6f6f6;
    margin-bottom: 6.6667vw;
}

.customer-order .gray-box li {
    list-style: disc;
    font-size: 3.6111vw;
    color: #666;
    line-height: 5.2778vw;
}

.customer-order .gray-box li::marker {
    font-size: 2.7778vw;
    /* line-height: 5.2778vw;*/

}

.customer-order .order-user-info {
    padding-bottom: 6.6667vw;
    margin-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #ccc;
}

.customer-order .order-user-info li {
    font-size: 3.8889vw;
    line-height: 5.5556vw;
}

/*.customer-order .order-user-info .userName{}
.customer-order .order-user-info .userNumber{}
.customer-order .order-user-info .userMail{}*/
.customer-order input {
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    position: relative;
}

.customer-order input[type=text],
.customer-order input[type=number],
.customer-order input[type=password] {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    font-size: 3.8889vw;
}

.customer-order input[type=email] {
    height: 13.3333vw;
    line-height: 13.3333vw;
}

.customer-order input::placeholder {
    width: 100%;
    font-size: 3.8889vw;
    /*height: 13.3333vw;
    line-height: 13.3333vw;*/
    color: #999;
    letter-spacing: -0.2778vw;
    position: absolute;
    top: 50%;
    left: 3.3333vw;
    transform: translateY(-50%);
}

.customer-order .email-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 13.3333vw;
    font-size: 3.8889vw;
}

.customer-order .email-wrap input[id*=Email] {
    width: 40.0000vw;
}




.customer-order .email-wrap select {
    width: 100%;
    height: 13.3333vw;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    padding: 0 3.3333vw;
    -webkit-appearance: none;
    /* 크롬 화살표 없애기 */
    -moz-appearance: none;
    /* 파이어폭스 화살표 없애기 */
    appearance: none;
    /* 화살표 없애기 */
    background-image: url(../images/ordersheet/S-down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 3.8889vw center;
    font-size: 3.8889vw;

}
.customer-order .email-wrap select option {}

.customer-receive {
    padding-bottom: 3.3333vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;
}

.customer-receive legend {
    width: 100%;
    line-height: 8.8889vw;
    display: inline-block;
    font-size: 5.0000vw;
    font-weight: 500;
    margin-bottom: 8.3333vw;
    position: relative;
    /*outline: 0.2778vw solid red;*/
}

.customer-receive legend span {
    display: block;
    width: 23.3333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    font-size: 3.6111vw;
    text-align: center;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;

}

.customer-receive .receive-tab {
    width: 100%;
    height: 16.6667vw;
    line-height: 16.6667vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 6.6667vw;
}

.customer-receive .receive-tab li {
    width: 33.33%;
    font-size: 4.4444vw;
    font-weight: 400;
    text-align: center;
    position: relative;
    color: #999;
}

.customer-receive .receive-tab .active {
    font-weight: 500;
    color: #000;
}

.customer-receive .receive-tab .active::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.0417vw;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
}

.customer-receive > div .receive-user-info {
    padding-bottom: 3.8889vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 6.6667vw;
}

.customer-receive > div .receive-user-info li {
    font-size: 3.8889vw;
    margin-bottom: 2.7778vw;
}

.customer-receive > div .input-wrap {}

.customer-receive > div .input-wrap li {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.3333vw;
}

.customer-receive > div .input-wrap li input {
    height: 13.3333vw;
    line-height: 13.3333vw;
    padding: 0 3.3333vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
}


.customer-receive > div .input-wrap li input::placeholder {
    width: 100%;
    color: #999;
    font-size: 3.8889vw;
    letter-spacing: -0.2778vw;
    position: absolute;
    top: 50%;
    left: 3.3333vw;
    transform: translateY(-50%);
}

/*.customer-receive > div .input-wrap #sameUser {
    width: 5.5556vw;
    height: 5.5556vw;
    accent-color: black;
}*/

.customer-receive > div .input-wrap label[for=sameUser] {
    /*margin-left: 2.2222vw;*/
    font-size: 3.8889vw;
    color: #666;
}

.customer-receive > div .input-wrap li #receiveUserName {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    font-size: 3.8889vw;
}

.customer-receive > div .input-wrap li #receiveUserNumber {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    font-size: 3.8889vw;
}


.customer-receive > div .input-wrap .zipCodeWrap {
    align-items: flex-start;
}

.customer-receive > div .input-wrap li #receiveZipCode {
    width: 58.6111vw;
    margin-bottom: 3.3333vw;
}

.customer-receive > div .input-wrap li label[for=receiveZipCode] {
    height: 13.3333vw;
    line-height: 13.3333vw;
    width: 26.9444vw;
    margin-left: 3.3333vw;
    text-align: center;
    border: 0.2778vw solid #111;
    box-sizing: border-box;
    font-size: 3.8889vw;

}

.customer-receive > div .input-wrap li #receiveZipCodeDetail {
    width: 100%;
}

.customer-receive > div .input-wrap li #receiveMessage {
    width: 100%;
    height: 13.3333vw;
    padding: 0 3.3333vw;
    font-size: 3.8889vw;
    -webkit-appearance: none;
    /* 크롬 화살표 없애기 */
    -moz-appearance: none;
    /* 파이어폭스 화살표 없애기 */
    appearance: none;
    /* 화살표 없애기 */
    background-image: url(../images/ordersheet/S-down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 3.8889vw center;
    border: 0.2778vw solid #ccc;
    color: #999;
}
.customer-receive > div .input-wrap li #receiveMessageDetail {
    width: 100%;
    height: 13.3333vw;
    padding: 4.4444vw 3.3333vw;
    box-sizing: border-box;
    border: 0.2778vw solid #ccc;
    font-size: 3.8889vw;
}

.customer-receive > div .input-wrap li #receiveMessageDetail::placeholder {
    color: #999;
    font-size: 3.8889vw;
}

/*.customer-receive > div .input-wrap li #defaultAddress {
    width: 5.5556vw;
    height: 5.5556vw;
}*/

.customer-receive > div .input-wrap li label[for=defaultAddress] {
   /* margin-left: 2.2222vw;*/
    font-size: 3.8889vw;
    color: #666;
}

.customer-receive > div .input-wrap li input:read-only {
    background-color: #eee;
}

/*** 상품 ***/

.ordersheet-pdt {}
.ordersheet-pdt legend{
    font-size: 0;
}
.ordersheet-pdt .group {
    padding-bottom: 16.6667vw;
    border-top: 0.2778vw solid #333;
}
.ordersheet-pdt .group-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.1111vw 0;
    border-bottom: 0.2778vw solid #eee;
}
.ordersheet-pdt .group-title > div{
    
}
.ordersheet-pdt .group-title > div label{
    /*margin-left: 2.2222vw;*/
    font-size: 4.4444vw;
}
.ordersheet-pdt .group-title a {
    font-size: 3.6111vw;
    font-weight: 500;
    text-decoration: underline;
    color: #999;
}
.ordersheet-pdt .box {
    padding-top: 6.6667vw;
}
.ordersheet-pdt .box .pdt-info {}
.ordersheet-pdt .box .pdt-info .container{
    display: flex;
    margin-bottom: 6.6667vw;
}
.box .pdt-info .container .pdt-info-img {
    width: 20.5556vw;
    height: 30.8333vw;
}
.box .pdt-info .container .pdt-info-img img {
    width: 100%;
}
.ordersheet-pdt .box .container .pdt-info-detail {
    margin-left: 4.4444vw;
}
.ordersheet-pdt .box .container .pdt-info-detail p{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.ordersheet-pdt .box .container .pdt-info-detail h4{
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    font-weight: 400;
}
.ordersheet-pdt .box .container .pdt-info-detail ul{}
.ordersheet-pdt .box .container .pdt-info-detail ul li{
    font-size: 3.6111vw;
}
.ordersheet-pdt .box .pdt-info .gifts-text-wrap {
    margin-bottom: 6.9444vw;
}
.ordersheet-pdt .box .pdt-info .gifts-text-wrap dl {
    display: flex;
    margin-bottom: 2.2222vw;
}
.ordersheet-pdt .box .pdt-info .gifts-text-wrap dl dt{
    font-size: 3.6111vw;
    font-weight: 500;
}
.ordersheet-pdt .box .pdt-info .gifts-text-wrap dl dd{
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
}
.ordersheet-pdt .box .pdt-info .gifts-text-wrap dl dd span {
    font-size: 3.3333vw;
    color: #D9320B;
    margin-left: 2.2222vw;
}
.ordersheet-pdt .box .pdt-info .each-pdt-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6.9444vw;
    border-bottom: 0.2778vw solid #eee;
}
.ordersheet-pdt .box .pdt-info .each-pdt-price p {
    font-size: 3.6111vw;
}
.ordersheet-pdt .box .pdt-info .each-pdt-price strong {
    font-size: 4.4444vw;
    font-weight: 700;
}

.ordersheet-pdt .box .pdt-info .add-text {
    padding-top: 6.6667vw;
    display: flex;
    align-items: center;
    margin-bottom: 10.5556vw;
}
.ordersheet-pdt .box .pdt-info .add-text em {
    font-style: normal;
    font-size: 3.6111vw;
    font-weight: 500;
}
.ordersheet-pdt .box .pdt-info .add-text p {
    margin-left: 1.1111vw;
    font-size: 3.6111vw;
    
}
.ordersheet-pdt .box .pdt-benefits {
    padding: 6.6667vw 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2778vw solid #eee;
}
.ordersheet-pdt .box .pdt-benefits p:first-of-type {
    font-size: 3.6111vw;
}
.ordersheet-pdt .box .pdt-benefits p:nth-of-type(2) {
    font-size: 3.6111vw;
    font-weight: 500;
}


/*프로모션*/
.promotion {
    padding-bottom: 6.6667vw;
    margin-bottom: 16.6667vw;
    border-bottom: 0.2778vw solid #eee;
    
}
.promotion legend{
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    margin-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}
.promotion .promotion-title{}
.promotion .promotion-title h4{
    font-size: 4.4444vw;
    font-weight: 500;
    margin-bottom: 0.5556vw;
}
.promotion .promotion-title p{
    font-size: 3.6111vw;
    color: #666;
    margin-bottom: 6.6667vw;
}
.promotion .box {
}
.promotion .box .pdt-info {}
.promotion .box .pdt-info .container{
    display: flex;
    margin-bottom: 6.6667vw;
}
.promotion .box .pdt-info .container .pdt-info-img {
    width: 20.5556vw;
    height: 30.8333vw;
}
.promotion .box .pdt-info .container .pdt-info-img img {
    width: 100%;
}
.promotion .box .container .pdt-info-detail {
    margin-left: 4.4444vw;
}
.promotion .box .container .pdt-info-detail p{
    font-size: 3.3333vw;
    font-weight: 500;
    margin-bottom: 2.2222vw;
}
.promotion .box .container .pdt-info-detail h4{
    font-size: 3.6111vw;
    margin-bottom: 3.3333vw;
    font-weight: 400;
}
.promotion .box .container .pdt-info-detail ul{}
.promotion .box .container .pdt-info-detail ul li{
    font-size: 3.6111vw;
}

/*프로모션 끝*/






/* 개인통관 */
.overseas-direct {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #eee;
    margin-bottom: 16.6667vw;
}

.overseas-direct legend {
    width: 100%;
    font-weight: 500;
    font-size: 5.0000vw;
    padding-bottom: 6.6667vw;
    margin-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}

.overseas-direct input[type=text] {
    width: 100%;
    padding-left: 3.3333vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    box-sizing: border-box;
    margin-bottom: 3.3333vw;
    border: 0.2778vw solid #ccc;
    font-size: 3.8889vw;
}

.overseas-direct input[type=text]::placeholder {
    color: #999;
    font-size: 3.8889vw;
    height: 13.3333vw;
}

.overseas-direct > p {
    font-size: 3.8889vw;
    font-weight: 500;
    color: #666;
    margin-bottom: 3.3333vw;
    color: #666;
}

.overseas-direct .overseas-checkbox-wrap {
    display: flex;
    align-items: center;
    /*margin-bottom: 3.3333vw;*/
}

.overseas-direct .overseas-checkbox-wrap > div {
    width: 80.5556vw;
}

.overseas-direct .overseas-checkbox-wrap input {
    
}
.overseas-direct .overseas-checkbox-wrap label {
    padding-left: 7.7778vw;
    position: relative;
}
/*.overseas-direct .overseas-checkbox-wrap div label::before {
    content: "";
    display: block;
    width: 5.5556vw;
    height: 5.5556vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}*/

/*.overseas-direct .overseas-checkbox-wrap:checked + div label::before {
    background-image: url(../images/ordersheet/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 5.5556vw;
    background-position: center;
    
}*/



.overseas-direct .overseas-checkbox-wrap label {
    width: 100%;
    font-size: 3.8889vw;
    line-height: 5.0000vw;
    margin-bottom: 1.3889vw;
}

.overseas-direct > a {
    padding-left: 7.7778vw;
    font-size: 3.6111vw;
    color: #999;
    text-decoration: underline;
    margin-bottom: 3.3333vw;
}

.overseas-direct > ul {
    margin-top: 6.6667vw;
    background-color: #f6f6f6;
    padding: 6.6667vw 5.5556vw 6.6667vw 8.8889vw;
    list-style: disc;
}

.overseas-direct > ul li::marker {
    font-size: 2.7778vw;
}

.overseas-direct > ul li {
    font-size: 3.6111vw;
    line-height: 5.2778vw;
    color: #666;
    margin-bottom: 1.1111vw;
}

.benefits {
    padding-bottom: 6.6667vw;
    margin-bottom: 16.6667vw;
    border-bottom: 0.2778vw solid #eee;
}

.benefits legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    margin-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}

.benefits .coupon {
    margin-bottom: 6.6667vw;
}

.benefits .coupon h4 {
    font-size: 3.8889vw;
    font-weight: 500;
    margin-bottom: 3.3333vw;
}

.benefits .coupon div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.benefits .coupon div input {
    width: 53.3333vw;
    height: 13.3333vw;
    line-height: 13.3333vw;
    box-sizing: border-box;
    border: 0.2778vw solid #ccc;
    text-align: end;
    padding-right: 6.6667vw;
}

.benefits .coupon div label {
    font-size: 3.8889vw;
    font-weight: 500;
    position: absolute;
    left: 46.6667vw;
    top: 50%;
    transform: translateY(-50%);
}

.benefits .coupon div button {
    width: 33.3333vw;
    height: 13.3333vw;
    background-color: #fff;
    border: 0.2778vw solid #111;
    box-sizing: border-box;
    font-size: 3.8889vw;
    font-weight: 500;
}

.benefits .coupon p {
    margin-top: 3.6111vw;
    font-size: 3.8889vw;
    color: #666;
}

.benefits ul {
    background-color: #f6f6f6;
    padding: 6.6667vw 5.5556vw 6.6667vw 8.8889vw;
}

.benefits ul li {
    font-size: 3.6111vw;
    color: #666;
}

.benefits ul li span {
    margin-right: 1.1111vw;
}

/*.benefits ul li::marker {
    font-size: 2.7778vw;
}*/
.point {}

.point legend {
    width: 100%;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    margin-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #333;
}

.point .point-apply-wrap {
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 16.6667vw;
}

.point .point-apply {
    margin-bottom: 6.9444vw;
}

.point .point-apply h4 {
    font-size: 3.8889vw;
    margin-bottom: 3.3333vw;
}

.point .point-apply div {
    width: 100%;
    height: 13.3333vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 3.6111vw;
}

.point .point-apply div input {
    width: 62.5000vw;
    height: 13.3333vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    padding-right: 6.6667vw;
    text-align: end;
    font-size: 3.8889vw;
}

.point .point-apply div label {
    font-size: 3.8889vw;
    font-weight: 500;
    position: absolute;
    left: 55.5556vw;
    top: 50%;
    transform: translateY(-50%);
}

.point .point-apply div button {
    width: 24.1667vw;
    height: 13.3333vw;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 3.8889vw;
    font-weight: 500;
    border: 0.2778vw solid #111;
}

.point .point-apply .point-available {
    font-size: 3.8889vw;
    margin-bottom: 3.6111vw;
    color: #666;

}

.point .point-apply .point-available-des {
    font-size: 3.6111vw;
    color: #666;
}

.payment-information {}

.payment-information legend {
    width: 100%;
    line-height: 8.8889vw;
    display: inline-block;
    font-size: 5.0000vw;
    font-weight: 500;
    padding-bottom: 6.6667vw;
    margin-bottom: 8.3333vw;
    position: relative;
    border-bottom: 0.2778vw solid #333;
    /*outline: 0.2778vw solid red;*/
}

.payment-information legend span {
    display: block;
    width: 23.3333vw;
    height: 8.8889vw;
    line-height: 8.8889vw;
    font-size: 3.6111vw;
    text-align: center;
    border: 0.2778vw solid #666;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;

}

.payment-information .same-checkBox {
    display: flex;
    align-items: center;
    margin-bottom: 6.6667vw;
}

/*.payment-information .same-checkBox #same-method-of-payment{
    width: 5.5556vw;
    height: 5.5556vw;
}*/
.payment-information .same-checkBox label[for=same-method-of-payment] {
    /*margin-left: 2.2222vw;*/
    font-size: 3.8889vw;
}

.payment-information .method-of-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.8889vw;
}

.payment-information .method-of-payment li {
    width: 43.0556vw;
    height: 15.5556vw;
    line-height: 15.5556vw;
    text-align: center;
    margin-bottom: 2.7778vw;
    box-sizing: border-box;
    border: 0.2778vw solid #eee;
    font-size: 5.0000vw;
    color: #666;
}

.payment-information .method-of-payment .active {
    background-color: #111;
    color: #fff;
}

.payment-information .select-bank {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #ccc;
}

.payment-information .select-bank h4 {
    font-size: 3.8889vw;
    margin-bottom: 3.3333vw;
}

.payment-information .select-bank select {
    width: 100%;
    height: 13.3333vw;
    box-sizing: border-box;
    padding: 4.1667vw;
    font-size: 3.8889vw;
    color: #999;
    -webkit-appearance: none;
    /* 크롬 화살표 없애기 */
    -moz-appearance: none;
    /* 파이어폭스 화살표 없애기 */
    appearance: none;
    /* 화살표 없애기 */
    background-image: url(../images/ordersheet/S-down.svg);
    background-repeat: no-repeat;
    background-size: 3.8889vw;
    background-position: right 3.8889vw center;
    border: 0.2778vw solid #ccc;
    margin-bottom: 2.2222vw;
}

.payment-information .select-bank p {
    font-size: 3.6111vw;
    color: #666;
}

.payment-information .select-bank p span {
    margin-right: 1.1111vw;
}

.payment-information .point-caution {
    padding: 17.7778vw 0;
    text-align: center;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}

.payment-information .point-caution p {}

.payment-information .cash-receipts {}

.payment-information .cash-receipts .cash-check {
    display: flex;
    align-items: center;
    margin-bottom: 6.6667vw;
}

/*.payment-information .cash-receipts .cash-check input{
    width: 5.5556vw;
    height: 5.5556vw;
    accent-color:#000;}*/
.payment-information .cash-receipts .cash-check label {
    /*margin-left: 2.2222vw;*/
    font-size: 3.8889vw;
    font-weight: 500;
    color: #111;

}

.payment-information .cash-receipts .cash-radio {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 6.6667vw;
}

.payment-information .cash-receipts .cash-radio input {
    width: 5.5556vw;
    height: 5.5556vw;
    border: 0.2778vw solid #ccc;
    box-sizing: border-box;
    accent-color : #000;
}

.payment-information .cash-receipts .cash-radio label {
    display: inline-block;
    width: calc(50% - 7.7778vw);
    /*outline: 0.2778vw solid red;*/
    margin-left: 2.2222vw;
    font-size: 3.8889vw;
    color: #666;
}

.payment-information .cash-receipts .cash-number {
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 8.8889vw;
}

.payment-information .cash-receipts .cash-number h5 {
    font-size 3.8889vw;
    font-weight: 500;
    margin-bottom: 3.3333vw;
}

.payment-information .cash-receipts .cash-number input {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    margin-bottom: 6.6667vw;
    padding: 0 3.3333vw;
    box-sizing: border-box;
    border: 0.2778vw solid #ccc;
    font-size: 3.8889vw;
}

.payment-information .cash-receipts .cash-number input::placeholder {
    color: #999;
}

.payment-information .agreement-wrap {
    padding-bottom: 2.2222vw;
}

.payment-information .agreement-wrap li {
    display: flex;
    align-items: center;
    margin-bottom: 4.4444vw;
}

/*.payment-information .agreement-wrap li input{
    width: 5.5556vw;
    height: 5.5556vw;
    
}*/
.payment-information .agreement-wrap li label {
    font-size: 3.8889vw;
    color: #666;
}

.payment-information .agreement-wrap li a {
    font-size: 3.6111vw;
    color: #999;
    margin-left: 3.3333vw;
    text-decoration: underline;
}

.payment-information .agreement-wrap .full-agreement label {
    font-size: 4.4444vw;
    color: #111;
}

.payment-information .grayBox-wrap {
    padding-bottom: 6.6667vw;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 16.6667vw;
}

.payment-information .grayBox {
    background-color: #f6f6f6;
    padding: 6.6667vw 5.5556vw 6.6667vw 8.8889vw;
}

.payment-information .grayBox li {
    font-size: 3.6111vw;
    color: #666;
    line-height: 5.2778vw;
    margin-bottom: 1.1111vw;
}

.payment-information .grayBox li span {
    margin-right: 1.1111vw;
    font-size: 3.8889vw;
}

.payment-information .payment-sum {
    padding-bottom: 2.2222vw;
    border-bottom: 0.2778vw solid #ccc;
    margin-bottom: 6.6667vw;
}

.payment-information .payment-sum li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.4444vw;
}

.payment-information .payment-sum li:first-child {
    margin-bottom: 6.6667vw;
}

.payment-information .payment-sum li h4 {
    font-size: 5.0000vw;
    font-weight: 500;
}

.payment-information .payment-sum li p {
    font-size: 3.8889vw;
}

.payment-information .payment-final-wrap {}

.payment-information .payment-final-wrap .payment-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.4444vw;
}

.payment-information .payment-final-wrap .payment-final p:first-of-type {
    font-size: 5.0000vw;
    font-weight: 500;
}

.payment-information .payment-final-wrap .payment-final p:last-of-type {
    font-size: 6.6667vw;
    font-weight: 700;
}

.payment-information .payment-final-wrap .reserved {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11.1111vw;
}

.payment-information .payment-final-wrap .reserved p {
    font-size: 3.8889vw;
}

.payment-information .payment-final-wrap .all-agreement {
    display: flex;
    margin-bottom: 4.4444vw;
}

/*.payment-information .payment-final-wrap .all-agreement input {
    width: 5.5556vw;
    height: 5.5556vw;
}*/
.payment-information .payment-final-wrap .all-agreement label {
    font-size: 4.4444vw;
    /*margin-left: 2.2222vw;*/
}

.payment-information .payment-final-wrap .law-agreement {
    display: flex;
    margin-bottom: 4.4444vw;
}

/*.payment-information .payment-final-wrap .law-agreement input {
    width: 5.5556vw;
    height: 5.5556vw;
}*/
.payment-information .payment-final-wrap .law-agreement label {
    width: calc(100% - 7.7778vw);
    font-size: 3.8889vw;
    color: #666;
    /*margin-left: 2.2222vw;*/
}

.payment-information .payment-final-wrap .terms-of-service {
    display: flex;
    position: relative;
    margin-bottom: 11.1111vw;
}

/*.payment-information .payment-final-wrap .terms-of-service input {
    width: 5.5556vw;
    height: 5.5556vw;
}*/
.payment-information .payment-final-wrap .terms-of-service label {
    font-size: 3.8889vw;
    color: #666;
    /*margin-left: 2.2222vw;*/
}

.payment-information .payment-final-wrap .terms-of-service a {
    font-size: 3.6111vw;
    color: #999;
    font-weight: 500;
    position: absolute;
    right: 0;
    text-decoration: underline;
}

.payment-information .order-btn {
    width: 100%;
    height: 13.3333vw;
    line-height: 13.3333vw;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 3.8889vw;
}
.payment-information .order-btn:focus {
    outline: 3px solid #fff;
}
