@charset "utf-8";

.filter-contents {
    width: 100%;
}

/* filter-top */
.filter-top {
    width: 100%;
    padding: 32px 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.filter-top .filter-tit {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: #111;
}

.filter-top .filter-close a img {
    width: 22px;
    height: 22px;
    display: block;
}

/* form 태그 */
.filter-contents form {
    padding-top: 90px;
}

.filter-contents form fieldset {
    border: 0;
}

/* filter-category */
.filter-category {}

.filter-category-wrap {
    /*padding-bottom: 16px;
    border-bottom: 1px solid #eee;*/
}

.filter-category-box {
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
    display: none;
}

.filter-category-wrap legend {
    width: 100%;
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 24px 0;
    border-bottom: 1px solid #eee;
    background: url(../images/down.svg) no-repeat 100% 50%;
}


/*.filter-category-wrap  ul li:last-child {
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}*/

.filter-category-wrap .all {
    width: 100%;
    display: block;
    color: #111;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
    padding: 8px 0;
    display: none;
}

.filter-category-wrap .depth1 {
    width: 100%;
    display: block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 8px 0;
    display: none;
}

.filter-category-wrap .category-wrap {
    display: none;
}

.category-wrap > li:first-child {
    margin-top: 8px;
}

.category-wrap > li:last-child {
    margin-bottom: 8px;
}

.filter-category-wrap .depth2 {
    margin: 0 20px;
    width: 100%;
    display: block;
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 8px 0;
}

.filter-category-wrap .depth3 {
    margin: 0 40px;
    display: none;
}

.filter-category-wrap .depth3 li {
    padding: 8px 0;
}

.filter-category-wrap .depth3 li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #999 !important;
}

.filter-category-wrap .depth3 li:first-child {
    margin-top: 8px;
}

.filter-category-wrap .depth3 li:last-child {

    margin-bottom: 8px;
}

.filter-category-wrap .depth3 li a {
    font-size: 14px;
    line-height: 17px;
    color: #333;
}


/* filter-brand */




/* filter-color */

/* filter-size */

/* filter-benefit */

/* filter-price */

/* filter-purpose*/


/* filter bottom */
.filter-bottom {
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding-bottom: 48px;
}

.filter-bottom .inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.filter-bottom .filter-reset {
    width: 48.6%;
    height: 48px;
    border: 1px solid #333;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.filter-bottom .filter-reset a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #111;
    padding: 14.5px 0;
}

.filter-bottom .filter-apply {
    width: 48.6%;
    height: 48px;
    border: 1px solid #333;
    box-sizing: border-box;
    background-color: #111;
    text-align: center;
}

.filter-bottom .filter-apply a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 14.5px 0;
}