/* common */

/* font
font-family: 'Noto Serif KR', serif;    300,400,500,700
font-family: 'Roboto', sans-serif;      100,300,400,500,700
font-family: 'Quicksand', sans-serif;   400,500,700
font-family: 'Roboto Mono', monospace;  300,400,500
*/

/* font-size */
/* 기본 : 16px */
/* 1rem = 16px */

/* test */

/* color IE 미지원 */
:root {
  --main-bg-color: #f5f5f5;
  
}

body {
  background-color: var(--main-bg-color);
}

.main {font-size:1.4rem;}

/** form **/
/* checkbox */
.checkbox {
  display:none;
}

/* radio */
.radiobox {
}

.radio-name{}

/* input */
.input-txt{}
.input-pw{}
.input-num{}
.input-tel{}
.input-email{}
.input-date{}

/* select */
.select-name{}

/* title */
h2{
  font-size:30px;
}
h3{
  font-size:24px;
}
h4{
  font-size:18px;
}
.title-category{
  font-size:24px;
  color:#333;
  font-family: 'Noto Serif KR', serif;
}
/* text */
.text-number{
  position:relative;
  font-family: 'Roboto', sans-serif;
}
.text-number span {
  position:relative;
  font-size:36px;
  color:#666;
  font-weight:100;
  z-index:1;
}
.text-number .text-number-line:after{
  content:'';
  position:absolute;
  bottom:6px;
  left:0;
  width:100%;
  height:6px;
  background:rgba(0,0,0,0.2);
}
.text-number strong {
  font-size:36px;
  color:#666;
  font-weight:400;
}
.text-number i {
  font-size:36px;
  color:#666;
  font-weight:100;
}
.text-eng{
  position:relative;
  font-family: 'Roboto Mono', monospace;
}
.text-eng span{
  font-size:36px;
  color:#666;
  font-weight: 300;
}
.text-eng strong{
  font-size:36px;
  color:#666;
  font-weight:400;
}
.text-eng i{
  font-size:36px;
  color:#666;
  font-weight:300;
}


/* box */
/* flex를 사용해서 탭메뉴 생성 */
.box-sample{
  border:1px solid #ddd;
}
.box-sample .box-sample-list{
  padding: 12px;
  font-size:14px;
}

/* flex */
/* flex 를 공통으로 사용할 수 있음 */
.flex-box{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-box .flex-box-list{
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
/* list-round */
.list-round {
  width: 100%;
  -webkit-transition: opacity .2s cubic-bezier(0.55,0,0.55,0.2);
  transition: opacity .2s cubic-bezier(0.55,0,0.55,0.2);
  opacity: 1;
}
.list-round ul {
  overflow: visible;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  height:48px;
  background:#fff;
  border:1px solid #dadada;
  -webkit-border-radius: 48px;
  border-radius: 48px;
}
.list-round ul li {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border-left: 1px solid #dadce0;
}
.list-round ul li:first-child {
  border-left:none;
}
.list-round ul li a{
  display:block;
  padding:15px 0;
  height:20px;
  text-align:center;
}

.list-link{
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
  margin-left: -1px;
}
.list-link li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.list-link li a {
    display: block;
    height: 38px;
    font-size: 15px;
    line-height: 38px;
    color: #202020;
    text-align: center;
}

.list-img{
  scroll-snap-type: none;
}
.list-img ul{
  position: relative;
  padding:15px;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.list-img ul::-webkit-scrollbar {
    display: none;
}
.list-img ul li{
  position: relative;
  padding: 0 0 0 10px;
  flex: none;
  scroll-snap-align: start;
  width: 40%;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
}
.list-img ul li a{
  display: block;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  outline: 0;
  background-color: #fff;
}
.list-img ul li a .thumb{
  position: relative;
  display:block;
  width:100%;
  height:100%;
  border-radius: 8px;
  background: #e5e5e5;
  overflow:hidden;
}
.list-img ul li a .thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list-img ul li a .txt{
  margin:5px;
  font-size:1.5rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* 아코디언 메뉴 */
.accordion {
}

/*  */
/* button */
.btn-small{

}

/* table */
.table-name{}

/* flag */
.flag-name{}


/** etc **/
/* error */
.error-box{
  text-align: center;
  color:rgba(0,0,0,.4);
}
.error-emoji{
  font-family: 'Roboto Mono', monospace;
  font-weight:300;
  font-size:60px;
}
.error-text{
  font-family: 'Noto Serif KR', serif;
  font-weight:300;
  margin-top:10px;
  font-size:16px;
}

.show{
  display:block;
}
.hide{
  display:none;
}

.blind, caption{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0;
  outline: 0;
  font-size: 1px;
  overflow: hidden;
}
