/* display.css */

/* display-tabs */
.display-tabs .swiper-container .tabs-list {
    padding:24px 20px;
}
.display-tabs ul li {
    width: auto;
    margin-right:8px;
}
.display-tabs ul li:last-child {
    margin-right:0 !important;
}
.display-tabs ul li a {
    display:block;
    padding:12px 24px;
    font-size:14px;
    color:#111;
    border:1px solid #eee;
}
.display-tabs a.active {
    color:#fff;
    border:1px solid #333;
    background:#333;
}

/* display-banner */
.display-banner{
    padding:8px 0 60px; 
}
.display-banner .title {
    padding:0 20px;
    font-size:24px;
    font-weight: 500;
}
.display-slide {
    padding-top:24px;
}
.display-slide .swiper-slide a {
	position:relative;
	display:block;
}
.display-slide .swiper-slide img {
	width:100%;
	height:100%;
}
.display-slide .swiper-slide span {
	position:absolute;
	bottom:50px;
	left:0;
	width:100%;
	padding:0 20px;
	box-sizing:border-box;
	text-align:center;
}
.display-slide .swiper-slide em {
	display:block;
	color:#fff;
	word-break: keep-all;
}
.display-slide .swiper-slide .slide-title {
	font-size:14px;
	line-height:17px;
	margin-bottom:8px;
	text-transform:uppercase;
}
.display-slide .swiper-slide .slide-text {
	font-size:32px;
	line-height:40px;
    margin-bottom:6px;
	font-weight: 500;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow:hidden;
}
.display-slide .swiper-slide .slide-subtext {
    font-size:16px;
    line-height:19px;
    font-weight: 500;
}

.display-slide .swiper-pagination {
	bottom:16px !important;
}
.display-slide .swiper-pagination-bullet {
	width:6px;
	height:6px;
	background:#666;
	opacity: 1;
	vertical-align: middle;
}
.display-slide .swiper-pagination-bullet-active {
	width:8px;
	height:8px;
	border:1px solid #666;
	background:#fff;
}

/* display-brand */
.display-brand {
    padding-bottom:60px;
}
.display-brand .title {
    padding-left:20px;
    font-size:18px;
    font-weight: 500;
}
.brand-list {
    padding-top:24px;
}
.brand-list ul {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    padding-left: 20px;
    padding-right: 12px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.brand-list ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.brand-list ul li {
    width:calc(50% - 8px);
    height:75px;
    display: inline-block;
    margin-right:8px;
    background-color: #F6F6F6;
}
.brand-list ul li a {
    position:relative;
    display:block;
    width:100%;
    height:100%;
}
.brand-list ul li a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    max-width: 100%;
    max-height: 100%;
}

/* display-prod */
.display-prod ul {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display-prod ul li {
    width:calc(50% - 4px);
    padding-bottom:48px;
}
.display-prod ul li .item {
    position:relative;
    text-align:center;
}
.display-prod ul li .item .btn-like {
    position:absolute;
    top:8px;
    right:8px;
    width:24px;
    height:24px;
    font-size:0;
    color:#fff;
    background:url(../../assets/images/common/btn-like.svg) no-repeat;
}
.display-prod .item .thumb img {
    width:100%;
}
.display-prod .color-chip {
    padding-top:12px;
    text-align:center;
    display: flex;
    justify-content: center;
}
.display-prod .color-chip a {
    display:block;
    margin:0 4px;
    width:24px;
    height:24px;
    border:1px solid #eee;
    border-radius:50%;
}
.display-prod .color-chip a span {
    display:block;
    margin:4px;
    width:16px;
    height:16px;
    font-size:0;
    color:#fff;
    border-radius: 50%;
}
.display-prod .color-chip a.active {
    border-color:#111;
}
.display-prod .color-chip .color-1 {
    background:#856D63;
}
.display-prod .color-chip .color-2 {
    background:#aaa
}
.display-prod .info {
    padding-top:12px;
    white-space: initial;
    
}
.display-prod .info a {
    display:block;
    width:100%;
    height:100%;
}
.display-prod .info .brand {
    display:block;
    margin-bottom:8px;
    font-size:12px;
    color:#333;
    font-weight: 500;
}
.display-prod .info .name {
    display:block;
    font-size: 14px;
    color:#111;
}
.display-prod .info .price {
    padding-top:12px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.display-prod .info .price .origin {
    margin-left:10px;
    font-size:12px;
    color:#999;
    text-decoration-line: line-through;
}
.display-prod .info .price .discount {
    font-size:14px;
    font-weight: 700;
    color:#111;
}