/* media query */

@media screen and (max-width:1280px){
  body {
    background: gray;
  }
}

@media screen and (max-width:1080px){
  body {
    background: skyblue;
  }
}

@media screen and (max-width:768px){
  body {
    background: green;
  }
}

@media screen and (max-width:640px){
  body {
    background: #fff;
  }

}

@media screen and (max-width:359px){
  body {
    background: pink;
  }

}
